openapi: 3.0.3

#
# INFO
#
info:
  title: Authlete API
  description: |
    Authlete API Document.
  version: '3.0.0'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

#
# SERVERS
#
servers:
  - url: 'https://beta.authlete.com'
    description: Beta Shared server.

#
# API PATH
#
paths:
  /api/{serviceId}/service/get:
    $ref: ./api/service_get_api.yaml
  /api/service/get/list:
    $ref: ./api/service_get_list_api.yaml
  /api/service/create:
    $ref: ./api/service_create_api.yaml
  /api/{serviceId}/service/update:
    $ref: ./api/service_update_api.yaml
  /api/{serviceId}/service/delete:
    $ref: ./api/service_delete_api.yaml
  /api/{serviceId}/client/get/{clientId}:
    $ref: ./api/client_get_api.yaml
  /api/{serviceId}/client/get/list:
    $ref: ./api/client_get_list_api.yaml
  /api/{serviceId}/client/create:
    $ref: ./api/client_create_api.yaml
  /api/{serviceId}/client/update/{clientId}:
    $ref: ./api/client_update_api.yaml
  /api/{serviceId}/client/delete/{clientId}:
    $ref: ./api/client_delete_api.yaml
  /api/{serviceId}/client/lock_flag/update/{clientIdentifier}:
    $ref: ./api/client_flag_update_api.yaml
  /api/{serviceId}/client/secret/refresh/{clientIdentifier}:
    $ref: ./api/client_secret_refresh_api.yaml
  /api/{serviceId}/client/secret/update/{clientIdentifier}:
    $ref: ./api/client_secret_update_api.yaml
  /api/{serviceId}/client/authorization/get/list:
    $ref: ./api/client_authorization_get_list_api.yaml
  /api/{serviceId}/client/authorization/update/{clientId}:
    $ref: ./api/client_authorization_update_api.yaml
  /api/{serviceId}/client/authorization/delete/{clientId}:
    $ref: ./api/client_authorization_delete_api.yaml
  /api/{serviceId}/client/granted_scopes/get/{clientId}:
    $ref: ./api/client_granted_scopes_get_api.yaml
  /api/{serviceId}/client/granted_scopes/delete/{clientId}:
    $ref: ./api/client_granted_scopes_delete_api.yaml
  /api/{serviceId}/auth/authorization:
    $ref: ./api/auth_authorization_api.yaml
  /api/{serviceId}/auth/authorization/fail:
    $ref: ./api/auth_authorization_fail_api.yaml
  /api/{serviceId}/auth/authorization/issue:
    $ref: ./api/auth_authorization_issue_api.yaml
  /api/{serviceId}/pushed_auth_req:
    $ref: ./api/pushed_auth_req_api.yaml
  /api/{serviceId}/auth/token:
    $ref: ./api/auth_token_api.yaml
  /api/{serviceId}/auth/token/fail:
    $ref: ./api/auth_token_fail_api.yaml
  /api/{serviceId}/auth/token/issue:
    $ref: ./api/auth_token_issue_api.yaml
  /api/{serviceId}/auth/introspection:
    $ref: ./api/auth_introspection_api.yaml
  /api/{serviceId}/auth/introspection/standard:
    $ref: ./api/auth_introspection_standard_api.yaml
  /api/{serviceId}/auth/revocation:
    $ref: ./api/auth_revocation_api.yaml
  /api/{serviceId}/auth/userinfo:
    $ref: ./api/auth_userinfo_api.yaml
  /api/{serviceId}/auth/userinfo/issue:
    $ref: ./api/auth_userinfo_issue_api.yaml
  /api/{serviceId}/idtoken/reissue:
    $ref: ./api/idtoken_reissue.yaml
  /api/{serviceId}/gm:
    $ref: ./api/grant_m_api.yaml
  /api/{serviceId}/service/jwks/get:
    $ref: ./api/service_jwks_get_api.yaml
  /api/{serviceId}/service/configuration:
    $ref: ./api/service_configuration_api.yaml
  /api/{serviceId}/client/registration:
    $ref: ./api/client_registration_api.yaml
  /api/{serviceId}/client/registration/get:
    $ref: ./api/client_registration_get_api.yaml
  /api/{serviceId}/client/registration/update:
    $ref: ./api/client_registration_update_api.yaml
  /api/{serviceId}/client/registration/delete:
    $ref: ./api/client_registration_delete_api.yaml
  /api/{serviceId}/backchannel/authentication:
    $ref: ./api/backchannel_authentication_api.yaml
  /api/{serviceId}/backchannel/authentication/issue:
    $ref: ./api/backchannel_authentication_issue_api.yaml
  /api/{serviceId}/backchannel/authentication/fail:
    $ref: ./api/backchannel_authentication_fail_api.yaml
  /api/{serviceId}/backchannel/authentication/complete:
    $ref: ./api/backchannel_authentication_complete_api.yaml
  /api/{serviceId}/device/authorization:
    $ref: ./api/device_authorization_api.yaml
  /api/{serviceId}/device/verification:
    $ref: ./api/device_verification_api.yaml
  /api/{serviceId}/device/complete:
    $ref: ./api/device_complete_api.yaml
  /api/{serviceId}/auth/token/get/list:
    $ref: ./api/auth_token_get_list_api.yaml
  /api/{serviceId}/auth/token/create:
    $ref: ./api/auth_token_create_api.yaml
  /api/{serviceId}/auth/token/update:
    $ref: ./api/auth_token_update_api.yaml
  /api/{serviceId}/auth/token/delete/{accessTokenIdentifier}:
    $ref: ./api/auth_token_delete_api.yaml
  /api/{serviceId}/auth/token/revoke:
    $ref: ./api/auth_token_revoke_api.yaml
  /api/{serviceId}/jose/verify:
    $ref: ./api/jose_verify_api.yaml
  /api/{serviceId}/federation/configuration:
    $ref: ./api/federation_configuration_api.yaml
  /api/{serviceId}/federation/registration:
    $ref: ./api/federation_registration_api.yaml
  /api/info:
    $ref: ./api/info_api.yaml
  /api/{serviceId}/client/extension/requestable_scopes/get/{clientId}:
    $ref: ./api/client_extension_requestable_scopes_get_api.yaml
  /api/{serviceId}/client/extension/requestable_scopes/update/{clientId}:
    $ref: ./api/client_extension_requestable_scopes_update_api.yaml
  /api/{serviceId}/client/extension/requestable_scopes/delete/{clientId}:
    $ref: ./api/client_extension_requestable_scopes_delete_api.yaml
  /api/{serviceId}/hsk/create:
    $ref: ./api/hsk_create_api.yaml
  /api/{serviceId}/hsk/delete/{handle}:
    $ref: ./api/hsk_delete_api.yaml
  /api/{serviceId}/hsk/get/{handle}:
    $ref: ./api/hsk_get_api.yaml
  /api/{serviceId}/hsk/get/list:
    $ref: ./api/hsk_get_list_api.yaml
  /api/misc/echo:
    $ref: ./api/misc_echo.yaml
  /api/{serviceId}/vci/metadata:
    $ref: ./api/vci_metadata_api.yaml
  /api/{serviceId}/vci/jwtissuer:
    $ref: ./api/vci_jwtissuer_api.yaml
  /api/{serviceId}/vci/jwks:
    $ref: ./api/vci_jwks_api.yaml
  /api/{serviceId}/vci/offer/create:
    $ref: ./api/vci_offer_create_api.yaml
  /api/{serviceId}/vci/offer/info:
    $ref: ./api/vci_offer_info_api.yaml
  /api/{serviceId}/vci/single/parse:
    $ref: ./api/vci_single_parse_api.yaml
  /api/{serviceId}/vci/single/issue:
    $ref: ./api/vci_single_issue_api.yaml
  /api/{serviceId}/vci/batch/parse:
    $ref: ./api/vci_batch_parse_api.yaml
  /api/{serviceId}/vci/batch/issue:
    $ref: ./api/vci_batch_issue_api.yaml
  /api/{serviceId}/vci/deferred/parse:
    $ref: ./api/vci_deferred_parse_api.yaml
  /api/{serviceId}/vci/deferred/issue:
    $ref: ./api/vci_deferred_issue_api.yaml
  /api/{serviceId}/auth/authorization/ticket/info:
    $ref: ./api/auth_authorization_ticket_info_api.yaml
  /api/{serviceId}/auth/authorization/ticket/update:
    $ref: ./api/auth_authorization_ticket_update_api.yaml

#
# COMPONENTS
#
components:
  securitySchemes:
    Admin:
      type: http
      scheme: bearer
      description: Set **access token**. A token with the `ADMIN` access right for this Authlete instance.
    DeleteService:
      type: http
      scheme: bearer
      description: Set **access token**. A token with at least the `DELETE_SERVICE` access right for this Authlete instance. Can also be a token with `ADMIN` access.
    CreateService:
      type: http
      scheme: bearer
      description: Set **access token**. A token with at least the `CREATE_SERVICE` access right for this Authlete instance. Can also be a token with `ADMIN` access.
    ViewDefaultService:
      type: http
      scheme: bearer
      description: Set **access token**. A token with at least the `VIEW_DEFAULT_SERVICE` access right for this Authlete instance. Can also be a token with `CREATE_SERVICE` or `ADMIN` access.
    ModifyService:
      type: http
      scheme: bearer
      description: Set **access token**. A token with at least the `MODIFY_SERVICE` access right for the service indicated by `serviceId`. Can also be a token with `ADMIN` access for this Authlete instance.
    CreateClient:
      type: http
      scheme: bearer
      description: Set **access token**. A token with at least the `CREATE_CLIENT` access right for the service indicated by `serviceId`. Can also be a token with `MODIFY_SERVICE` for the service indicated by `serviceId` or `ADMIN` access for this Authlete instance.
    ViewService:
      type: http
      scheme: bearer
      description: Set **access token**. A token with at least the `VIEW_SERVICE` access right for the service indicated by `serviceId`. Can also be a token with `USE_SERVICE`, `CREATE_CLIENT`, or `MODIFY_SERVICE` for the service indicated by `serviceId` or `ADMIN` access for this Authlete instance.
    ModifyClient:
      type: http
      scheme: bearer
      description: Set **access token**. A token with at least the `MODIFY_CLIENT` access right for the client indicated by `clientId` of the service indicated by `serviceId`. Can also be a token with `CREATE_CLIENT` or `MODIFY_SERVICE` for the service indicated by `serviceId` or `ADMIN` access for this Authlete instance.
    ViewClient:
      type: http
      scheme: bearer
      description: Set **access token**. A token with at least the `VIEW_CLIENT` access right for the client indicated by `clientId` of the service indicated by `serviceId`. Can also be a token with `MODIFY_CLIENT` for the client indicated by `clientId` of the service indicated by `serviceId`; `VIEW_SERVICE`, `USE_SERVICE`, `CREATE_CLIENT` or `MODIFY_SERVICE` for the service indicated by `serviceId`; or `ADMIN` access for this Authlete instance.
    UseService:
      type: http
      scheme: bearer
      description: Set **access token**. A token with at least `USE_SERVICE` access rights for this service. A **service access token** from the console will have sufficient access.
  schemas:
    AccessToken:
      $ref: model/access_token.yaml
    ApplicationType:
      $ref: model/application_type.yaml
    AuthorizationDetails:
      $ref: model/authz_details.yaml
    AuthorizationDetailsElement:
      $ref: model/authorization_details_element.yaml
    ClaimType:
      $ref: model/claim_type.yaml
    ClientAuthenticationMethod:
      $ref: model/client_auth_method.yaml
    ClientExtension:
      $ref: model/client_extension.yaml
    Client:
      $ref: model/client.yaml
    DeliveryMode:
      $ref: model/delivery_mode.yaml
    Display:
      $ref: model/display.yaml
    DynamicScope:
      $ref: model/dynamic_scope.yaml
    GrantType:
      $ref: model/grant_type.yaml
    JweAlg:
      $ref: model/jwe_alg.yaml
    JweEnc:
      $ref: model/jwe_enc.yaml
    JwsAlg:
      $ref: model/jws_alg.yaml
    NamedUri:
      $ref: model/named_uri.yaml
    Pair:
      $ref: model/pair.yaml
    Prompt:
      $ref: model/prompt.yaml
    Property:
      $ref: model/property.yaml
    ResponseType:
      $ref: model/response_type.yaml
    Scope:
      $ref: model/scope.yaml
    ServiceProfile:
      $ref: model/service_profile.yaml
    Service:
      $ref: model/service.yaml
    SnsCredentials:
      $ref: model/sns_credentials.yaml
    Sns:
      $ref: model/sns.yaml
    SubjectType:
      $ref: model/subject_type.yaml
    TaggedValue:
      $ref: model/tagged_value.yaml
    UserCodeCharset:
      $ref: model/user_code_charset.yaml
    Hsk:
      $ref: model/hsk.yaml
    CredentialOfferInfo:
      $ref: model/credential_offer_info.yaml
    CredentialRequestInfo:
      $ref: model/credential_request_info.yaml
    CredentialIssuanceOrder:
      $ref: model/credential_issuance_order.yaml
    CredentialIssuerMetadata:
      $ref: model/credential_issuer_metadata.yaml
    APIResultCode:
      $ref: model/api_result_code.yaml

#
# TAGS
#
tags:
  - name: Service Management
    description: desc1
  - name: Client Management
    description: desc1
  - name: Authorization Endpoint
    description: desc1
  - name: Pushed Authorization Endpoint
    description: desc1
  - name: Token Endpoint
    description: desc1
  - name: Introspection Endpoint
    description: desc1
  - name: Revocation Endpoint
    description: desc1
  - name: UserInfo Endpoint
    description: desc1
  - name: JWK Set Endpoint
    description: desc1
  - name: Discovery Endpoint
    description: desc1
  - name: Configuration Endpoint
    description: desc1
  - name: Dynamic Client Registration
    description: desc1
  - name: CIBA
    description: desc1
  - name: Grant Management Endpoint
    description: desc1
  - name: Token Operations
    description: desc1
  - name: Jose Object
    description: desc1
  - name: Device Flow
    description: desc1
  - name: Federation Endpoint
    description: desc1