<select id="documentSwitcher">
<option disabled selected value><%- `${translations.documentSwitcher.select}` %></option>
<% if (config.supportedServerTypes.includes('shared')) { -%>
<%- include('options-for-server-type',
  { config: config, translations: translations, req: req, serverType: 'shared' }) %>
<% }; -%>
<% if (config.supportedServerTypes.includes('dedicated')) { -%>
<%- include('options-for-server-type',
  { config: config, translations: translations, req: req, serverType: 'dedicated' }) %>
<% }; -%>
<% if (config.supportedServerTypes.includes('onpremise')) { -%>
<%- include('options-for-server-type',
  { config: config, translations: translations, req: req, serverType: 'onpremise' }) %>
<% }; -%>
</select>