openapi: 3.0.0
info:
  title: Authlete API
  description: DEDICATED:JA:This document decribes Authlete API.
  version: '2.2.1'
  contact: {}
servers:
  - url: 'https://api.authlete.com/api'
    description: shared server
  - url: '{your-authlete-server}/api'
    variables:
      your-authlete-server:
        default: 'https://your-authlete-server'
    description: dedicated/on-premise server
paths:
  /auth/authorization:
    post:
      summary: /auth/authorization API
      description: |
        This API parses request parameters of an authorization request and returns necessary data for the authorization server
        implementation to process the authorization request further.

        <br>
        <details>
        <summary>Description</summary>

        This API is supposed to be called from within the implementation of the authorization endpoint of the service.
        The endpoint implementation must extract the request parameters from the authorization request from the client application
        and pass them as the value of parameters request parameter for Authlete's `/auth/authorization` API.

        The value of `parameters` is either (1) the entire query string when the HTTP method of the request from the client application is `GET`
        or (2) the entire entity body (which is formatted in `application/x-www-form-urlencoded`) when the HTTP method of the request from
        the client application is `POST`.

        The following code snippet is an example in JAX-RS showing how to extract request parameters from the authorization request.

        ```java
        @GET
        public Response get(@Context UriInfo uriInfo)
        {
            // The query parameters of the authorization request.
            String parameters = uriInfo.getRequestUri().getQuery();
            ......
        }

        @POST
        @Consumes(MediaType.APPLICATION_FORM_URLENCODED)
        public Response post(String parameters)
        {
            // 'parameters' is the entity body of the authorization request.
            ......
        }
        ```

        The endpoint implementation does not have to parse the request parameters from the client application because Authlete's `/auth/authorization` API does it.

        The response from `/auth/authorization` API has various parameters. Among them, it is `action` parameter that the authorization server implementation should check
        first because it denotes the next action that the authorization server implementation should take. According to the value of `action`, the service implementation
        must take the steps described below.

        **INTERNAL_SERVER_ERROR**

        When the value of `action` is `INTERNAL_SERVER_ERROR`, it means that the request from the authorization server implementation was wrong
        or that an error occurred in Authlete.
        In either case, from the viewpoint of the client application, it is an error on the server side.
        Therefore, the service implementation should generate a response to the client application with HTTP status of "500 Internal Server Error".
        Authlete recommends `application/json` as the content type although OAuth 2.0 specification does not mention the format of the error response
        when the redirect URI is not usable.

        The parameter `responseContent` contains a JSON string which describes the error, so it can be used as the entity body of the response.

        The following illustrates the response which the service implementation should generate and return to the client application.

        ```http
        HTTP/1.1 500 Internal Server Error
        Content-Type: application/json
        Cache-Control: no-store
        Pragma: no-cache

        {responseContent}
        ```

        The endpoint implementation may return another different response to the client application
        since "500 Internal Server Error" is not required by OAuth 2.0.

        **BAD_REQUEST**

        When the value of `action` is `BAD_REQUEST`, it means that the request from the client application is invalid.

        A response with HTTP status of "400 Bad Request" should be returned to the client application and Authlete recommends `application/json`
        as the content type although OAuth 2.0 specification does not mention the format of the error response when the redirect URI is not usable.

        `responseContent` contains a JSON string which describes the error, so it can be used as the entity body of the response.

        The following illustrates the response which the service implementation should generate and return to the client application.

        ```http
        HTTP/1.1 400 Bad Request
        Content-Type: application/json
        Cache-Control: no-store
        Pragma: no-cache

        {responseContent}
        ```

        The endpoint implementation may return another different response to the client application since "400 Bad Request" is not required by OAuth 2.0.

        **LOCATION**

        When the value of `action` is `LOCATION`, it means that the request from the client application is invalid but the redirect URI
        to which the error should be reported has been determined.

        A response with HTTP status of "302 Found" must be returned to the client application with `Location` header
        which has a redirect URI with error parameter.

        `responseContent` contains a redirect URI with `error` parameter, so it can be used as the value of `Location` header.

        The following illustrates the response which the service implementation must generate and return to the client application.

        ```http
        HTTP/1.1 302 Found
        Location: {responseContent}
        Cache-Control: no-store
        Pragma: no-cache
        ```

        **FORM**

        When the value of `action` is `FORM`, it means that the request from the client application is invalid but the redirect URI to
        which the error should be reported has been determined, and that the authorization request contains `response_mode=form_post`
        as is defined in [OAuth 2.0 Form Post Response Mode](https://openid.net/specs/oauth-v2-form-post-response-mode-1_0.html).

        The HTTP status of the response returned to the client application should be "200 OK" and the content type should be `text/html;charset=UTF-8`.

        `responseContent` contains an HTML which can be used as the entity body of the response.

        The following illustrates the response which the service implementation must generate and return to the client application.

        ```http
        HTTP/1.1 200 OK
        Content-Type: text/html;charset=UTF-8
        Cache-Control: no-store
        Pragma: no-cache

        {responseContent}
        ```

        **NO_INTERACTION**

        When the value of action is `NO_INTERACTION`, it means that the request from the client application has no problem and requires
        the service to process the request without displaying any user interface pages for authentication or consent.
        This case happens when the authorization request contains `prompt=none`.

        The service must follow the steps described below.

        1. [END-USER AUTHENTICATION]<br>
          Check whether an end-user has already logged in. If an end-user has logged in, go to the next step ([MAX_AGE]).
          Otherwise, call Authlete's `/auth/authorization/fail` API with `reason=NOT_LOGGED_IN` and use the response from
          the API to generate a response to the client application.

        2. [MAX_AGE]<br>
          Get the value of `maxAge` parameter from the `/auth/authorization` API response.
          The value represents the maximum authentication age which has come from `max_age` request parameter
          or `defaultMaxAge` configuration parameter of the client application.<br>
          If the value is `0`, go to the next step ([SUBJECT]). Otherwise, follow the sub steps described below.<br><br>
          (i) Get the time at which the end-user was authenticated. that this value is not managed by Authlete, meaning that
          it is expected that the service implementation manages the value. If the service implementation does not manage
          authentication time of end-users, call Authlete's `/auth/authorization/fail` API with `reason=MAX_AGE_NOT_SUPPORTED`
          and use the API response to generate a response to the client application.<br><br>
          (ii) Add the value of the maximum authentication age (which is represented in seconds) to the authentication time.
          The calculated value is the expiration time.<br><br>
          (iii) Check whether the calculated value is equal to or greater than the current time.
          If this condition is satisfied, go to the next step ([SUBJECT]). Otherwise, call Authlete's `/auth/authorization/fail` API
          with `reason=EXCEEDS_MAX_AGE` and use the API response to generate a response to the client application.

        3. [SUBJECT]<br>
          Get the value of `subject` from the `/auth/authorization` API response.
          The value represents an end-user who the client application expects to grant authorization.<br>
          If the value is `null`, go to the next step ([ACRs]). Otherwise, follow the sub steps described below.<br><br>
          (i) Compare the value of the requested subject to the current end-user.<br><br>
          (ii) If they are equal, go to the next step ([ACRs]). If they are not equal, call Authlete's `/auth/authorization/fail` API
          with `reason=DIFFERENT_SUBJECT` and use the response from the API to generate a response to the client application.

        4. [ACRs]<br>
          Get the value of `acrs` from the `/auth/authorization` API response.
          The value represents a list of ACRs (Authentication Context Class References) and comes from
          (1) acr claim in `claims` request parameter, (2) `acr_values` request parameter, or (3) `default_acr_values` configuration parameter of the client application.<br>
          It is ensured that all the ACRs in acrs are supported by the authorization server implementation.
          In other words, it is ensured that all the ACRs are listed in `acr_values_supported` configuration parameter of the authorization server.
          If the value of ACRs is `null`, go to the next step ([ISSUE]). Otherwise, follow the sub steps described below.<br><br>
          (i) Get the ACR performed for the authentication of the current end-user. Note that this value is managed not by Authlete but by the authorization server implementation.
          (If the authorization server implementation cannot handle ACRs, it should not have listed ACRs as "acr_values_supported".)<br><br>
          (ii) Compare the ACR value obtained in the above step to each element in the ACR array (`acrs`) in the listed order.<br><br>
          (iii) If the ACR value was found in the array, (= the ACR performed for the authentication of the current end-user did not match any one of the ACRs requested by the client application),
          check whether one of the requested ACRs must be satisfied or not using `acrEssential` parameter in the `/auth/authorization` API response.
          If the value of `acrEssential` parameter is `true`, call Authlete's `/auth/authorization/fail` API with `reason=ACR_NOT_SATISFIED`
          and use the response from the API to generate a response to the client application. Otherwise, go to the next step ([SCOPES]).

        5. [SCOPES]<br>
          Get the value of `scopes` from the `/auth/authorization` API response. If the array contains a scope which has not been granted to
          the client application by the end-user in the past, call Authlete's `/auth/authorization/fail` API with `reason=CONSENT_REQUIRED`
          and use the response from the API to generate a response to the client application. Otherwise, go to the next step ([RESOURCES]).
          Note that Authlete provides APIs to manage records of granted scopes (`/api/client/granted_scopes/*` APIs), which is only available
          in a dedicated/onpremise Authlete server (contact sales@authlete.com for details).

        6. [RESOURCES]<br>
          Get the value of `resources` from the `/auth/authorization` API response.
          The array represents the values of the `resource` request parameters. If you want to reject the request, call Authlete's `/auth/authorization/fail` API with `reason=INVALID_TARGET`
          and use the response from the API to generate a response to the client application. Otherwise, go to the next step ([ISSUE]).
          See "Resource Indicators for OAuth 2.0" for details.
          Note that the specification is supported since Authlete 2.2. If the Authlete server you are using is older than 2.2, the value of `resources` parameter is always null.

        7. [ISSUE]<br>
          If all the above steps succeeded, the last step is to issue an authorization code, an ID token and/or an access token.
          (There is a special case, though. In the case of `response_type=none`, nothing is issued.) It can be performed by calling
          Authlete's `/auth/authorization/issue` API. The API requires the following parameters. Prepare these parameters and call
          `/auth/authorization/issue` API and use the response to generate a response to the client application.

            - <u>`ticket` (required)</u><br>
              This parameter represents a ticket which is exchanged with tokens at `/auth/authorization/issue`.
              Use the value of `ticket` contained in the `/auth/authorization` API response.

            - <u>`subject` (required)</u><br>
              This parameter represents the unique identifier of the current end-user. It is often called "user ID" and it may or may not be visible to the user.
              In any case, it is a number or a string assigned to an end-user by the authorization server implementation. Authlete does not care about the format
              of the value of subject, but it must consist of only ASCII letters and its length must not exceed 100.<br>
              When the value of `subject` parameter in the /auth/authorization API response is not `null`, it is necessarily identical to the value of `subject`
              parameter in the `/auth/authorization/issue` API request.

              The value of this parameter will be embedded in an ID token as the value of `sub` claim. When the value of `subject_type` configuration parameter
              of the client application is `PAIRWISE`, the value of sub claim is different from the value specified by this parameter,
              See [8. Subject Identifier Types](https://openid.net/specs/openid-connect-core-1_0.html#SubjectIDTypes)  of OpenID Connect Core 1.0 for details
              about subject types.

              You can use the `sub` request parameter to adjust the value of the `sub` claim in an ID token. See the description of the `sub` request parameter for details.

            - <u>`authTime` (optional)</u><br>
              This parameter represents the time when the end-user authentication occurred. Its value is the number of seconds from `1970-01-01`. The value of this parameter
              will be embedded in an ID token as the value of `auth_time` claim.

            - <u>`acr` (optional)</u><br>
              This parameter represents the ACR (Authentication Context Class Reference) which the authentication of the end-user satisfies. When `acrs` in the `/auth/authorization` API response
               is a non-empty array and the value of `acrEssential` is `true`, the value of this parameter must be one of the array elements. Otherwise, even `null` is allowed.
               The value of this parameter will be embedded in an ID token as the value of `acr` claim.

            - <u>`claims` (optional)</u><br>
              This parameter represents claims of the end-user. "Claims" here are pieces of information about the end-user such as `"name"`, `"email"` and `"birthdate"`.
              The authorization server implementation is required to gather claims of the end-user, format the claim values into JSON and set the JSON string as the
              value of this parameter.

              The claims which the authorization server implementation is required to gather are listed in `claims` parameter in the `/auth/authorization` API response.

              For example, if claims parameter lists `"name"`, `"email"` and `"birthdate"`, the value of this parameter should look like the following.

              ```json
              {
                "name": "John Smith",
                "email": "john@example.com",
                "birthdate": "1974-05-06"
              }
              ```

              `claimsLocales` parameter in the `/auth/authorization` API response lists the end-user's preferred languages and scripts, ordered by preference.
              When `claimsLocales` parameter is a non-empty array, its elements should be taken into account when the authorization server implementation gathers claim values.
              Especially, note the excerpt below from [5.2. Claims Languages and Scripts](https://openid.net/specs/openid-connect-core-1_0.html#ClaimsLanguagesAndScripts) of OpenID Connect Core 1.0.

              > When the OP determines, either through the `claims_locales` parameter, or by other means, that the End-User and Client are requesting Claims in only one set of
              languages and scripts, it is RECOMMENDED that OPs return Claims without language tags when they employ this language and script.
              It is also RECOMMENDED that Clients be written in a manner that they can handle and utilize Claims using language tags.

              If `claims` parameter in the `/auth/authorization` API response is `null` or an empty array, the value of this parameter should be `null`.

              See [5.1. Standard Claims](https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims) of OpenID Connect core 1.0 for claim names and their value formats.
              Note (1) that the authorization server implementation support its special claims ([5.1.2. Additional Claims](https://openid.net/specs/openid-connect-core-1_0.html#AdditionalClaims))
              and (2) that claim names may be followed by a language tag ([5.2. Claims Languages and Scripts](https://openid.net/specs/openid-connect-core-1_0.html#ClaimsLanguagesAndScripts)).
              Read the specification of [OpenID Connect Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html) for details.

              The claim values in this parameter will be embedded in an ID token.

              Since Authlete 2.25, `idTokenClaims` parameter is available in the `/auth/authorization` API response. The parameter has the value of the `"id_token"` property in the `claims` request parameter
              or in the `"claims"` property in a request object. The value of this parameter should be considered when you prepare claim values.

            - <u>`properties` (optional)</u><br>
              Extra properties to associate with an access token and/or an authorization code that may be issued by this request.
              Note that `properties` parameter is accepted only when `Content-Type` of the request is `application/json`, so don't use `application/x-www-form-urlencoded` for details.

            - <u>`scopes` (optional)</u><br>
              Scopes to associate with an access token and/or an authorization code. If this parameter is `null`, the scopes specified in the original authorization request from
              the client application are used. In other cases, including the case of an empty array, the specified scopes will replace the original scopes contained in the original
              authorization request.

              Even scopes that are not included in the original authorization request can be specified. However, as an exception, `openid` scope is ignored on the server side
              if it is not included in the original request. It is because the existence of `openid` scope considerably changes the validation steps and because adding `openid`
              triggers generation of an ID token (although the client application has not requested it) and the behavior is a major violation against the specification.

              If you add `offline_access` scope although it is not included in the original request, keep in mind that the specification requires explicit consent from the user
              for the scope ([OpenID Connect Core 1.0, 11. Offline Access](https://openid.net/specs/openid-connect-core-1_0.html#OfflineAccess)).
              When `offline_access` is included in the original request, the current implementation of Authlete's `/auth/authorization` API
              checks whether the request has come along with `prompt` request parameter and the value includes consent.
              However, note that the implementation of Authlete's `/auth/authorization/issue` API does not perform such checking if `offline_access` scope is added via this `scopes` parameter.

            - <u>`sub` (optional)</u><br>
              The value of the `sub` claim in an ID token. If the value of this request parameter is not empty, it is used as the value of the `sub` claim.
              Otherwise, the value of the `subject` request parameter is used as the value of the `sub` claim.
              The main purpose of this parameter is to hide the actual value of the subject from client applications.

              Note that even if this `sub` parameter is not empty, the value of the subject request parameter is used as the value of the subject
              which is associated with the access token.<br>

        **INTERACTION**

        When the value of `action` is `INTERACTION`, it means that the request from the client application has no problem and requires the service to process the request with user interaction by an HTML form.
        The purpose of the UI displayed to the end-user is to ask the end-user to grant authorization to the client application. The items described below are some points which the service implementation
        should take into account when it builds the UI.

        1. [DISPLAY MODE]<br>
          The response from `/auth/authorization` API has `display` parameter. It is one of `PAGE` (default), `POPUP`, `TOUCH` and `WAP` The meanings of the values are described in [3.1.2.1. Authentication Request
          of OpenID Connect Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest).<br><br>
          Basically, the authorization server implementation should display the UI which is suitable for the display mode, but it is okay for the authorization server implementation to "attempt to detect the capabilities
          of the User Agent and present an appropriate display".<br><br>
          It is ensured that the value of `display` is one of the supported display modes which are specified by `supportedDisplays` configuration parameter of the service.

        2. [UI LOCALE]<br>
          The response from `/auth/authorization` API has `uiLocales` parameter. It it is not `null`, it lists language tag values (such as `fr-CA`, `ja-JP` and `en`) ordered by preference.
          The service implementation should display the UI in one of the language listed in the parameter when possible.<br><br>
          It is ensured that language tags listed in `uiLocales` are contained in the list of supported UI locales which are specified by `supportedUiLocales` configuration parameter of the service.

        3. [CLIENT INFORMATION]<br>
          The authorization server implementation should show information about the client application to the end-user. The information is embedded in client parameter in the response from `/auth/authorization` API.

        4. [SCOPES]<br>
          A client application requires authorization for specific permissions. In OAuth 2.0 specification, "scope" is a technical term which represents a permission.
          `scopes` parameter in the response from `/auth/authorization` API is a list of scopes requested by the client application.
          The service implementation should show the end-user the scopes.<br><br>
          It is ensured that the values in `scopes` parameter are contained in the list of supported scopes which are specified
          by `supportedScopes` configuration parameter of the service.

        5. [AUTHORIZATION DETAILS]<br>
          The authorization server implementation should show the end-user "authorization details" if the request includes it. The value of `uthorization_details` parameter in the response is
          the content of the `authorization_details` request parameter. See "OAuth 2.0 Rich Authorization Requests" for details. (Note that the specification is supported since Authlete 2.2.
          If the Authlete server you are using is older than 2.2, the value of `authorization_details` parameter in the response is always `null`.)

        6. [CLAIMS]<br>
          A client application may require claims of the end-user. In OpenID Connect specification, "claim" is a technical term which represents a piece of information about an end-user.
          `claims` parameter in the response from `/auth/authorization` API is a list of claims requested by the client aplication. The service implementation should show the end-user the claim names.<br><br>
          It is ensured that the values in `claims` parameter are contained in the list of supported claims which are specified by `supportedClaims` configuration parameter of the service.

        7. [END-USER AUTHENTICATION]<br>
          Necessarily, the end-user must be authenticated (= must login the service) before granting authorization to the client application.
          Simply put, a login form is expected to be displayed for end-user authentication.
          The service implementation must follow the steps described below to comply with OpenID Connect. (Or just always show a login form if it's too much of a bother.)<br><br>
          (i) Get the value of `prompts` response parameter. It corresponds to the value of the `prompt` request parameter.
          Details of the request parameter are described in [3.1.2.1. Authentication Request](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest) of OpenID Connect Core 1.0.
          (ii) If the value of `prompts` parameter is `SELECT_ACCOUNT` display a form to let the end-user select on of his/her accounts for login.
          If `subject` response parameter is not `null`, it is the end-user ID that the client application expects, so the value should be used to determine the value of the login ID.
          Note that a subject and a login ID are not necessarily equal. If the value of `subject` response parameter is `null`, the value of `loginHint` response parameter should be referred to
          as a hint to determine the value of the login ID. The value of `loginHint` response parameter is simply the value of the `login_hint` request parameter.<br><br>
          (iii) If the value of `prompts` response parameter contains `LOGIN`, display a form to urge the end-user to login even if the end-user has already logged in.
          If `subject` response parameter is not `null`, it is the end-user ID that the client application expects, so the value should be used to determine
          the value of the login ID. Note that a subject and a login ID are not necessarily equal. If `subject` response parameter is `null`,
          The value of `loginHint` response parameter should be referred to as a hint to determine the value of the login ID. The value of `loginHint` response parameter is simply the value of the `login_hint` request parameter.<br><br>
          (iv) If the value of `prompts` response parameter does not contain `LOGIN`, the authorization server implementation does not have to authenticate the end-user if all the conditions described below are satisfied.
          If any one of the conditions is not satisfied, show a login form to authenticate the end-user.<br><br>
          &nbsp;&nbsp;- An end-user has already logged in the service.<br><br>
          &nbsp;&nbsp;- The login ID of the current end-user matches the value of `subject` response parameter. This check is required only when the value of `subject` response parameter is a non-null value.<br><br>
          &nbsp;&nbsp;- The max age, which is the number of seconds contained in `maxAge` response parameter, has not passed since the current end-user logged in your service. This check is required only when `maxAge`
          response parameter is a non-zero value.<br><br>
          &nbsp;&nbsp;- If the authorization server implementation does not manage authentication time of end-users (= if the authorization server implementation cannot know when end-users logged in)
          and if the value of `maxAge` response parameter is a non-zero value, a login form should be displayed.<br><br>
          &nbsp;&nbsp;- The ACR (Authentication Context Class Reference) of the authentication performed for the current end-user satisfies one of the ACRs listed in `acrs` response parameter.
          This check is required only when the value of `acrs` response parameter is a non-empty array.<br><br>
          In every case, the end-user authentication must satisfy one of the ACRs listed in `acrs` response parameter when the value of `acrs` response parameter is a non-empty array and `acrEssential` response parameter is `true`.

        8. [GRANT/DENY BUTTONS]<br>
          The end-user is supposed to choose either (1) to grant authorization to the client applicationor (2) to deny the authorization request.
          The UI must have UI components to accept the judgment by the user. Usually, a button to grant authorization and a button to deny the request are provided.

        When `subject` response parameter is not `null`, the end-user authentication must be performed for the subject, meaning that the authorization server implementation should repeatedly show a login form until the subject is successfully authenticated.

        The end-user will choose either (1) to grant authorization to the client application or (2) to deny the authorization request. When the end-user chose to deny the authorization request, call Authlete's `/auth/authorization/fail` API with `reason=DENIED`
        and use the response from the API to generate a response to the client application.

        When the end-user chose to grant authorization to the client application, the authorization server implementation has to issue an authorization code, an ID token, and/or an access token to the client application.
        (There is a special case. When `response_type=none`, nothing is issued.) Issuing the tokens can be performed by calling Authlete's `/auth/authorization/issue` API.
        Read [ISSUE] written above in the description for the case of `action=NO_INTERACTION`.
        </details>
      security:
        - ServiceCedentials: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - parameters
              properties:
                parameters:
                  type: string
                  required: true
                  description: |
                    OAuth 2.0 authorization request parameters which are the request parameters that the OAuth 2.0 authorization endpoint of
                    the authorization server implementation received from the client application.

                    The value of parameters is either (1) the entire query string when the HTTP method of the request from the client application is `GET`
                    or (2) the entire entity body (which is formatted in `application/x-www-form-urlencoded`) when the HTTP method of the request from
                    the client application is `POST`.
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/paths/~1auth~1authorization/post/requestBody/content/application~1json/schema'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/paths/~1auth~1token/post/responses/400/content/application~1json/schema'
                  - type: object
                    properties:
                      action:
                        type: string
                        enum:
                          - INTERNAL_SERVER_ERROR
                          - BAD_REQUEST
                          - LOCATION
                          - FORM
                          - NO_INTERACTION
                          - INTERACTION
                        description: The next action that the authorization server implementation should take.
                      client:
                        allOf:
                          - type: object
                            properties:
                              number:
                                type: number
                                format: int32
                                description: The sequential number of the client. The value of this property is assigned by Authlete.
                              serviceNumber:
                                type: number
                                format: int32
                                description: The sequential number of the service of the client application. The value of this property is assigned by Authlete.
                              developer:
                                type: string
                                decription: The developer of the client application.
                              clientName:
                                type: string
                                description: |
                                  The name of the client application. This property corresponds to `client_name` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              clientNames:
                                type: array
                                items:
                                  $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/scopes/items/properties/descriptions/items'
                                description: 'Client names with language tags. If the client application has different names for different languages, this property can be used to register the names.'
                              description:
                                type: string
                                description: The description about the client application.
                              descriptions:
                                type: array
                                items:
                                  $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/scopes/items/properties/descriptions/items'
                                description: 'Descriptions about the client application with language tags. If the client application has different descriptions for different languages, this property can be used to register the descriptions.'
                              clientId:
                                type: number
                                format: int64
                                description: The client ID. The value of this property is assigned by Authlete.
                              clientSecret:
                                type: string
                                description: |
                                  The client secret. A random 512-bit value encoded by base64url (86 letters). The value of this property is assigned by Authlete.

                                  Note that Authlete issues a client secret even to a "public" client application, but the client application should not use the client secret
                                  unless it changes its client type to "confidential". That is, a public client application should behave as if it had not been issued a client secret.
                                  To be specific, a token request from a public client of Authlete should not come along with a client secret although
                                  [RFC 6749, 3.2.1. Client Authentication](https://datatracker.ietf.org/doc/html/rfc6749#section-3.2.1) says as follows.

                                  > Confidential clients or other clients issued client credentials MUST authenticate with the authorization server as described in
                                  Section 2.3 when making requests to the token endpoint.
                              clientIdAlias:
                                type: string
                                description: |
                                  The alias of the client ID.

                                  Note that the client ID alias is recognized only when this client's `clientIdAliasEnabled` property is set to true AND the service's
                                  `clientIdAliasEnabled` property is also set to `true`.
                              clientIdAliasEnabled:
                                type: boolean
                                description: |
                                  The flag to indicate whether the client ID alias is enabled or not.

                                  Note that a service also has `clientIdAliasEnabled` property. If the service's `clientIdAliasEnabled` property is set to `false`,
                                  the client ID alias of this client is not recognized even if this client's `clientIdAliasEnabled` property is set to `true`.
                              clientType:
                                type: string
                                description: 'The client type, either `CONFIDENTIAL` or `PUBLIC`. See [RFC 6749, 2.1. Client Types](https://datatracker.ietf.org/doc/html/rfc6749#section-2.1) for details.'
                              applicationType:
                                allOf:
                                  - type: string
                                    enum:
                                      - WEB
                                      - NATIVE
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/lowestPrompt/allOf/1'
                                description: |
                                  The application type. The value of this property affects the validation steps for a redirect URI.
                                  See the description about `redirectUris` property for more details.
                              logoUri:
                                type: string
                                description: |
                                  The URL pointing to the logo image of the client application.

                                  This property corresponds to `logo_uri` in [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              logoUris:
                                type: array
                                items:
                                  $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/scopes/items/properties/descriptions/items'
                                description: 'Logo image URLs with language tags. If the client application has different logo images for different languages, this property can be used to register URLs of the images.'
                              contacts:
                                type: array
                                items:
                                  type: string
                                description: |
                                  An array of email addresses of people responsible for the client application.

                                  This property corresponds to contacts in [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              tlsClientCertificateBoundAccessTokens:
                                type: boolean
                                description: |
                                  The flag to indicate whether this client use TLS client certificate bound access tokens.

                                  This property is available since Authlete 2.0.
                              dynamicallyRegistered:
                                type: boolean
                                description: |
                                  The flag to indicate whether this client has been registered dynamically.
                                  For more details, see [RFC 7591](https://datatracker.ietf.org/doc/html/rfc7591).

                                  This property is available since Authlete 2.1.
                              softwareId:
                                type: string
                                description: |
                                  The unique identifier string assigned by the client developer or software publisher used by
                                  registration endpoints to identify the client software to be dynamically registered.

                                  This property corresponds to the `software_id metadata` defined in
                                  [2. Client Metadata](https://datatracker.ietf.org/doc/html/rfc7591#section-2) of
                                  [RFC 7591](https://datatracker.ietf.org/doc/html/rfc7591).

                                  This property is available since Authlete 2.1.
                              softwareVersion:
                                type: string
                                description: |
                                  The version identifier string for the client software identified by the software ID.

                                  This property corresponds to the software_version metadata defined in
                                  [2. Client Metadata](https://datatracker.ietf.org/doc/html/rfc7591#section-2) of
                                  [RFC 7591](https://datatracker.ietf.org/doc/html/rfc7591).

                                  This property is available since Authlete 2.1.
                              registrationAccessTokenHash:
                                type: string
                                description: |
                                  The hash of the registration access token for this client.

                                  This property is available since Authlete 2.1.
                              createdAt:
                                type: number
                                format: int64
                                description: The time at which this client was created. The value is represented as milliseconds since the UNIX epoch (1970-01-01).
                              modifiedAt:
                                type: number
                                format: int64
                                description: The time at which this client was last modified. The value is represented as milliseconds since the UNIX epoch (1970-01-01).
                              grantTypes:
                                type: array
                                items:
                                  type: string
                                  enum:
                                    - AUTHORIZATION_CODE
                                    - IMPLICIT
                                    - PASSWORD
                                    - CLIENT_CREDENTIALS
                                    - REFRESH_TOKEN
                                    - CIBA
                                    - DEVICE_CODE
                                description: |
                                  A string array of grant types which the client application declares that it will restrict itself to using.
                                  This property corresponds to `grant_types` in [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              responseTypes:
                                type: array
                                items:
                                  type: string
                                  enum:
                                    - NONE
                                    - CODE
                                    - TOKEN
                                    - ID_TOKEN
                                    - CODE_TOKEN
                                    - CODE_ID_TOKEN
                                    - ID_TOKEN_TOKEN
                                    - CODE_ID_TOKEN_TOKEN
                                description: |
                                  A string array of response types which the client application declares that it will restrict itself to using.
                                  This property corresponds to `response_types` in [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              redirectUris:
                                type: string
                                items:
                                  type: string
                                description: |
                                  Redirect URIs that the client application uses to receive a response from the authorization endpoint.
                                  Requirements for a redirect URI are as follows.

                                  **Requirements by RFC 6749** (From [RFC 6749, 3.1.2. Redirection Endpoint](https://datatracker.ietf.org/doc/html/rfc6749#section-3.1.2))

                                  - Must be an absolute URI.
                                  - Must not have a fragment component.

                                  **Requirements by OpenID Connect** (From "[OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata), application_type")

                                  - The scheme of the redirect URI used for Implicit Grant by a client application whose application type is `web` must be `https`. This is checked at runtime by Authlete.
                                  - The hostname of the redirect URI used for Implicit Grant by a client application whose application type is `web` must not be `localhost`. This is checked at runtime by Authlete.
                                  - The scheme of the redirect URI used by a client application whose application type is `native` must be either (1) a custom scheme or (2) `http`,
                                  which is allowed only when the hostname part is `localhost`. This is checked at runtime by Authlete.

                                  **Requirements by Authlete**

                                  - Must consist of printable ASCII letters only.
                                  - Must not exceed 200 letters.

                                  Note that Authlete allows the application type to be `null`. In other words, a client application does not have to choose `web` or `native` as its application type.
                                  If the application type is `null`, the requirements by OpenID Connect are not checked at runtime.

                                  An authorization request from a client application which has not registered any redirect URI fails unless at least all the following conditions are satisfied.

                                  - The client type of the client application is `confidential`.
                                  - The value of `response_type` request parameter is `code`.
                                  - The authorization request has the `redirect_uri` request parameter.
                                  - The value of `scope` request parameter does not contain `openid`.

                                  RFC 6749 allows partial match of redirect URI under some conditions (see [RFC 6749, 3.1.2.2. Registration Requirements](https://datatracker.ietf.org/doc/html/rfc6749#section-3.1.2.2) for details),
                                  but OpenID Connect requires exact match.
                              authorizationDataTypes:
                                type: array
                                items:
                                  type: string
                                description: |
                                  The data types that this client may use as values of the type field in `authorization_details`.

                                  This property corresponds to the `authorization_data_types` metadata. See "OAuth 2.0 Rich Authorization Requests" (RAR) for details.

                                  This property is available since Authlete 2.2.
                              authorizationSignAlg:
                                allOf:
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestSignAlg/allOf/2'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestSignAlg/allOf/1'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestSignAlg/allOf/0'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/lowestPrompt/allOf/1'
                                description: |
                                  The JWS `alg` algorithm for signing authorization responses.

                                  This property corresponds to `authorization_signed_response_alg` in [5. Client Metadata](https://openid.net/specs/openid-financial-api-jarm.html#client-metadata)
                                  of [Financial-grade API: JWT Secured Authorization Response Mode for OAuth 2.0 (JARM)](https://openid.net/specs/openid-financial-api-jarm.html).

                                  This property is available since Authlete 2.1.
                              authorizationEncryptionAlg:
                                allOf:
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestEncryptionAlg/allOf/0'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/lowestPrompt/allOf/1'
                                description: |
                                  The JWE `alg` algorithm for encryption authorization responses.

                                  This property corresponds to `authorization_encrypted_response_alg` in [5. Client Metadata](https://openid.net/specs/openid-financial-api-jarm.html#client-metadata)
                                  of [Financial-grade API: JWT Secured Authorization Response Mode for OAuth 2.0 (JARM)](https://openid.net/specs/openid-financial-api-jarm.html).

                                  This property is available since Authlete 2.1.
                              authorizationEncryptionEnc:
                                allOf:
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestEncryptionEnc/allOf/0'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/lowestPrompt/allOf/1'
                                description: |
                                  The JWE `enc` algorithm for encryption authorization responses.

                                  This property corresponds to `authorization_encrypted_response_enc` in [5. Client Metadata](https://openid.net/specs/openid-financial-api-jarm.html#client-metadata)
                                  of [Financial-grade API: JWT Secured Authorization Response Mode for OAuth 2.0 (JARM)](https://openid.net/specs/openid-financial-api-jarm.html).

                                  This property is available since Authlete 2.1.
                              tokenAuthMethod:
                                allOf:
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/service/allOf/0/properties/supportedTokenAuthMethods/items'
                                description: |
                                  The client authentication method that the client application declares that it uses at the token endpoint.
                                  This property corresponds to `token_endpoint_auth_method` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              tokenAuthSignAlg:
                                allOf:
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestSignAlg/allOf/0'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestSignAlg/allOf/1'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/lowestPrompt/allOf/1'
                                description: |
                                  The value of `alg` header parameter of JWS which is used for client authentication at the token endpoint.
                                  Note that this property is used only for the two JWT-based client authentication, namely, `PRIVATE_KEY_JWT` and `CLIENT_SECRET_JWT`.
                                  This property corresponds to `token_endpoint_auth_signing_alg` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              selfSignedCertificateKeyId:
                                type: string
                                description: |
                                  The key ID of a JWK containing a self-signed certificate of this client.

                                  This property is available since Authlete 2.0.
                              tlsClientAuthSubjectDn:
                                type: string
                                description: |
                                  The string representation of the expected subject distinguished name of the certificate this client will use in mutual TLS authentication.

                                  See `tls_client_auth_subject_dn` in "Mutual TLS Profiles for OAuth Clients, 2.3. Dynamic Client Registration" for details.

                                  This property is available since Authlete 2.0.
                              tlsClientAuthSanDns:
                                type: string
                                description: |
                                  The string representation of the expected DNS subject alternative name of the certificate this client will use in mutual TLS authentication.

                                  See `tls_client_auth_san_dns` in "Mutual TLS Profiles for OAuth Clients, 2.3. Dynamic Client Registration" for details.

                                  This property is available since Authlete 2.1.
                              tlsClientAuthSanUri:
                                type: string
                                description: |
                                  The string representation of the expected URI subject alternative name of the certificate this client will use in mutual TLS authentication.

                                  See `tls_client_auth_san_uri` in "Mutual TLS Profiles for OAuth Clients, 2.3. Dynamic Client Registration" for details.

                                  This property is available since Authlete 2.1.
                              tlsClientAuthSanIp:
                                type: string
                                description: |
                                  The string representation of the expected IP address subject alternative name of the certificate this client will use in mutual TLS authentication.

                                  See `tls_client_auth_san_ip` in "Mutual TLS Profiles for OAuth Clients, 2.3. Dynamic Client Registration" for details.

                                  This property is available since Authlete 2.1.
                              tlsClientAuthSanEmail:
                                type: string
                                description: |
                                  The string representation of the expected email address subject alternative name of the certificate this client will use in mutual TLS authentication.

                                  See `tls_client_auth_san_email` in "Mutual TLS Profiles for OAuth Clients, 2.3. Dynamic Client Registration" for details.

                                  This property is available since Authlete 2.1.
                              parRequired:
                                type: boolean
                                description: |
                                  The flag to indicate whether this client is required to use the pushed authorization request endpoint.
                                  This property corresponds to the `require_pushed_authorization_requests` client metadata defined in "OAuth 2.0 Pushed Authorization Requests".

                                  This property is available since Authlete 2.2.
                              requestObjectRequired:
                                type: boolean
                                description: |
                                  The flag to indicate whether authorization requests from this client are always required to utilize a request object by using either `request` or `request_uri` request parameter.

                                  If this flag is set to `true` and the service's `traditionalRequestObjectProcessingApplied` is set to `false`, authorization requests from this client are processed as
                                  if `require_signed_request_object` client metadata of this client is `true`. The metadata is defined in "JAR (JWT Secured Authorization Request)".

                                  This property is available since Authlete 2.2.
                              requestSignAlg:
                                allOf:
                                  - type: string
                                    enum:
                                      - HS256
                                      - HS384
                                      - HS512
                                  - type: string
                                    enum:
                                      - RS256
                                      - RS384
                                      - RS512
                                      - ES256
                                      - ES384
                                      - ES512
                                      - PS256
                                      - PS384
                                      - PS512
                                      - ES256K
                                      - EdDSA
                                  - type: string
                                    enum:
                                      - NONE
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/lowestPrompt/allOf/1'
                                description: |
                                  The value of `alg` header parameter of JWS that the client application uses for signing a request object.
                                  If the value of this property is not `null`, request objects sent from the client application must be signed
                                  using the algorithm. Request objects signed by other algorithms are rejected. Note that `null` and `NONE` are different
                                  for this property. If the value of this property indicates an asymmetric signing algorithm, the client application must make available
                                  its JWK Set which contains a public key for the service to verify the signature of the request object at the URL
                                  referred to by its jwksUri configuration property. This property corresponds to `request_object_signing_alg` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).

                                  This property is available since Authlete 2.0.
                              requestEncryptionAlg:
                                allOf:
                                  - type: string
                                    enum:
                                      - RSA1_5
                                      - RSA_OAEP
                                      - RSA_OAEP_256
                                      - A128KW
                                      - A192KW
                                      - A256KW
                                      - DIR
                                      - ECDH_ES
                                      - ECDH_ES_A128KW
                                      - ECDH_ES_A192KW
                                      - ECDH_ES_A256KW
                                      - A128GCMKW
                                      - A192GCMKW
                                      - A256GCMKW
                                      - PBES2_HS256_A128KW
                                      - PBES2_HS384_A192KW
                                      - PBES2_HS512_A256KW
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/lowestPrompt/allOf/1'
                                description: |
                                  The value of `alg` header parameter of JWE that the client application uses for encrypting a request object.
                                  Regardless of whether the value of this property is `null` or not, the client application may and may not encrypt a request object.
                                  Furthermore, the client application may use other supported encryption algorithms.

                                  This property corresponds to `request_object_encryption_alg` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              requestEncryptionEnc:
                                allOf:
                                  - type: string
                                    enum:
                                      - A128CBC_HS256
                                      - A192CBC_HS384
                                      - A256CBC_HS512
                                      - A128GCM
                                      - A192GCM
                                      - A256GCM
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/lowestPrompt/allOf/1'
                                description: |
                                  The value of `enc` header parameter of JWE that the client application uses for encrypting a request object.

                                  This property corresponds to `request_object_encryption_enc` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                                requestUris:
                                  type: array
                                  items:
                                    type: string
                                  description: |
                                    An array of URLs each of which points to a request object.

                                    Authlete requires that URLs used as values for `request_uri` request parameter be pre-registered.
                                    This property is used for the pre-registration.
                                    See [OpenID Connect Core 1.0, 6.2. Passing a Request Object by Reference](https://openid.net/specs/openid-connect-core-1_0.html#RequestUriParameter) for details.
                              defaultMaxAge:
                                type: number
                                format: int32
                                description: |
                                  The default maximum authentication age in seconds. This value is used when an authorization request from the client application does not have `max_age` request parameter.

                                  This property corresponds to `default_max_age` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              defaultAcrs:
                                type: array
                                items:
                                  type: string
                                description: |
                                  The default ACRs (Authentication Context Class References). This value is used when an authorization request from the client application has neither
                                  `acr_values` request parameter nor `acr` claim in claims request parameter.
                              idTokenSignAlg:
                                allOf:
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestSignAlg/allOf/0'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestSignAlg/allOf/1'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestSignAlg/allOf/2'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/lowestPrompt/allOf/1'
                                description: |
                                  The value of alg header parameter of JWS that the client application requires the service to use for signing an ID token.
                                  `NONE` may be specified, but in that case, the client application cannot obtain an ID token from the service.
                                  That is, an authorization request requesting an ID token fails.

                                  This property corresponds to `id_token_signed_response_alg` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              idTokenEncryptionAlg:
                                allOf:
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestEncryptionAlg/allOf/0'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/lowestPrompt/allOf/1'
                                description: |
                                  The value of `alg` header parameter of JWE that the client application requires the service to use for encrypting an ID token.

                                  If the value of this property indicates an asymmetric encryption algorithm, the client application must make available its JWK Set which contains a public key
                                  for encryption at the URL referred to by its `jwksUri` configuration property.

                                  This property corresponds to `id_token_encrypted_response_alg` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              idTokenEncryptionEnc:
                                allOf:
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestEncryptionEnc/allOf/0'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/lowestPrompt/allOf/1'
                                description: |
                                  The value of `enc` header parameter of JWE that the client application requires the service to use for encrypting an ID token.

                                  This property corresponds to `id_token_encrypted_response_enc` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              authTimeRequired:
                                type: boolean
                                description: |
                                  The flag to indicate whether this client requires `auth_time` claim to be embedded in the ID token.

                                  This property is set to `true` if the client application requires the `auth_time` claim to be in an ID token.
                                  Regardless of the value of this property, Authlete embeds the `auth_time` claim when authTime parameter in
                                  the `/auth/authorization/issue` request is not `0` and does not do it when `authTime` is `0`.

                                  This property corresponds to `require_auth_time` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              subjectType:
                                allOf:
                                  - type: string
                                    enum:
                                      - PUBLIC
                                      - PAIRWISE
                                description: |
                                  The subject type that the client application requests. Details about the subject type are described in
                                  [OpenID Connect Core 1.0, 8. Subjct Identifier Types](https://openid.net/specs/openid-connect-core-1_0.html#SubjectIDTypes).

                                  Note that `PAIRWISE` is only available since Authlete 2.2.

                                  This property corresponds to `subject_type` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              sectorIdentifier:
                                type: string
                                description: |
                                  The sector identifier which is a URL starting with `https`. This URL is used by the service to calculate pairwise subject values.
                                  See [OpenID Connect Core 1.0, 8.1. Pairwise Identifier Algorithm](https://openid.net/specs/openid-connect-core-1_0.html#PairwiseAlg).

                                  This property corresponds to `sector_identifier_uri` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).

                                  This property is depricated since Authlete 2.1.
                              sectorIdentifierUri:
                                type: string
                                description: |
                                  The value of the sector identifier URI.
                                  This represents the `sector_identifier_uri` client metadata which is defined in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata)

                                  This property is available since Authlete 2.1.
                              derivedSectorIdentifier:
                                type: string
                                description: |
                                  The sector identifier host component as derived from either the `sector_identifier_uri` or the registered redirect URI.
                                  If no `sector_identifier_uri` is registered and multiple redirect URIs are also registered, the value of this property is `null`.

                                  This property is available since Authlete 2.2.
                              jwksUri:
                                type: string
                                description: |
                                  The URL pointing to the JWK Set of the client application.
                                  The content pointed to by the URL is JSON which complies with the format described in
                                  [JSON Web Key (JWK), 5. JWK Set Format](https://datatracker.ietf.org/doc/html/rfc7517#section-5).
                                  The JWK Set must not include private keys of the client application.

                                  If the client application requests encryption for ID tokens (from the authorization/token/userinfo endpoints) and/or signs request objects,
                                  it must make available its JWK Set containing public keys for the encryption and/or the signature at the URL of `jwksUri`.
                                  The service (Authlete) fetches the JWK Set from the URL as necessary.

                                  [OpenID Connect Dynamic Client Registration 1.0](https://openid.net/specs/openid-connect-registration-1_0.html) says that
                                  `jwks` must not be used when the client can use `jwks_uri`, but Authlete allows both properties to be registered at the same time.
                                  However, Authlete does not use the content of `jwks` when `jwksUri` is registered.

                                  This property corresponds to `jwks_uri` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              jwks:
                                type: string
                                description: |
                                  The content of the JWK Set of the client application.
                                  The format is described in
                                  [JSON Web Key (JWK), 5. JWK Set Format](https://datatracker.ietf.org/doc/html/rfc7517#section-5).
                                  The JWK Set must not include private keys of the client application.

                                  [OpenID Connect Dynamic Client Registration 1.0](https://openid.net/specs/openid-connect-registration-1_0.html) says that
                                  `jwks` must not be used when the client can use `jwks_uri`, but Authlete allows both properties to be registered at the same time.
                                  However, Authlete does not use the content of `jwks` when `jwksUri` is registered.

                                  This property corresponds to `jwks_uri` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              userInfoSignAlg:
                                allOf:
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestSignAlg/allOf/0'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestSignAlg/allOf/1'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestSignAlg/allOf/2'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/lowestPrompt/allOf/1'
                                description: |
                                  The value of `alg` header parameter of JWS that the client application requires the service to use for signing the JWT returned from the user info endpoint.

                                  If both `userInfoSignAlg` and `userInfoEncryptionAlg` are `null`, the format of the response from the user info endpoint is a plain JSON (not JWT).

                                  Note that `null` and `NONE` are different for this property.

                                  This property corresponds to `userinfo_signed_response_alg` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              userInfoEncryptionAlg:
                                allOf:
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestEncryptionAlg/allOf/0'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/lowestPrompt/allOf/1'
                                description: |
                                  The value of `alg` header parameter of JWE that the client application requires the service to use for encrypting the JWT returned from the user info endpoint.

                                  If the value of this property indicates an asymmetric encryption algorithm, the client application must make available its JWK Set
                                  which contains a public key for encryption at the URL referred to by its `jwksUri` configuration property.

                                  If both `userInfoSignAlg` and `userInfoEncryptionAlg` are `null`, the format of the response from the user info endpoint is a plain JSON (not JWT).

                                  This property corresponds to `userinfo_encrypted_response_alg` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              userInfoEncryptionEnc:
                                allOf:
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestEncryptionEnc/allOf/0'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/lowestPrompt/allOf/1'
                                description: |
                                  The value of `enc` header parameter of JWE that the client application requires the service to use for encrypting the JWT returned from the user info endpoint.

                                  This property corresponds to `userinfo_encrypted_response_enc` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              loginUri:
                                type: string
                                description: |
                                  The URL which a third party can use to initiate a login by the client application.

                                  This property corresponds to `initiate_login_uri` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              tosUri:
                                type: string
                                description: |
                                  The URL pointing to the "Terms Of Service" page.

                                  This property corresponds to `tos_uri` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              tosUris:
                                type: array
                                items:
                                  $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/scopes/items/properties/descriptions/items'
                                description: |
                                  URLs of "Terms Of Service" pages with language tags.

                                  If the client application has different "Terms Of Service" pages for different languages,
                                  this property can be used to register the URLs.
                              policyUri:
                                type: string
                                description: |
                                  The URL pointing to the page which describes the policy as to how end-user's profile data is used.

                                  This property corresponds to `policy_uri` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              policyUris:
                                type: array
                                items:
                                  $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/scopes/items/properties/descriptions/items'
                                description: |
                                  URLs of policy pages with language tags.
                                  If the client application has different policy pages for different languages, this property can be used to register the URLs.
                              clientUri:
                                type: string
                                description: |
                                  The URL pointing to the home page of the client application.

                                  This property corresponds to `client_uri` in
                                  [OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).
                              clientUris:
                                type: array
                                items:
                                  $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/scopes/items/properties/descriptions/items'
                                description: |
                                  Home page URLs with language tags.
                                  If the client application has different home pages for different languages, this property can be used to register the URLs.
                              bcDeliveryMode:
                                type: string
                                description: |
                                  The backchannel token delivery mode.

                                  This property corresponds to the `backchannel_token_delivery_mode` metadata.
                                  The backchannel token delivery mode is defined in the specification of "CIBA (Client Initiated Backchannel Authentication)".

                                  This property is depricated since Authlete 2.1.
                              bcNotificationEndpoint:
                                type: string
                                description: |
                                  The backchannel client notification endpoint.

                                  This property corresponds to the `backchannel_client_notification_endpoint` metadata.
                                  The backchannel token delivery mode is defined in the specification of "CIBA (Client Initiated Backchannel Authentication)".

                                  This property is depricated since Authlete 2.1.
                              bcRequestSignAlg:
                                allOf:
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestSignAlg/allOf/0'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestSignAlg/allOf/1'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/client/allOf/0/properties/requestSignAlg/allOf/2'
                                  - $ref: '#/paths/~1auth~1authorization/post/responses/200/content/application~1json/schema/allOf/1/properties/lowestPrompt/allOf/1'
                                description: |
                                  The signature algorithm of the request to the backchannel authentication endpoint.

                                  This property corresponds to the `backchannel_authentication_request_signing_alg` metadata.
                                  The backchannel token delivery mode is defined in the specification of "CIBA (Client Initiated Backchannel Authentication)".

                                  This property is depricated since Authlete 2.1.
                              bcUserCodeRequired:
                                type: boolean
                                description: |
                                  The boolean flag to indicate whether a user code is required when this client makes a backchannel authentication request.

                                  This property corresponds to the `backchannel_user_code_parameter` metadata.

                                  This property is depricated since Authlete 2.1.
                              attributes:
                                type: array
                                items:
                                  $ref: '#/paths/~1auth~1token/post/responses/200/content/application~1json/schema/allOf/1/properties/clientAttributes/items'
                                description: |
                                  The attributes of this client.

                                  This property is available since Authlete 2.2.
                              extension:
                                allOf:
                                  - type: object
                                    properties:
                                      requestableScopes:
                                        type: array
                                        items:
                                          type: string
                                        description: |
                                          The set of scopes that the client application is allowed to request. This paramter will be one of the following.

                                            - `null`
                                            - an empty set
                                            - a set with at least one element

                                          When the value of this parameter is `null`, it means that the set of scopes that the client application is allowed to request is the set of the scopes that the service supports.
                                          When the value of this parameter is an empty set, it means that the client application is not allowed to request any scopes.
                                          When the value of this parameter is a set with at least one element, it means that the set is the set of scopes that the client application is allowed to request.
                                      requestableScopesEnabled:
                                        type: boolean
                                        description: |
                                          The flag to indicate whether "Requestable Scopes per Client" is enabled or not. If `true`, you can define the set of scopes which this client application can request.
                                          If `false`, this client application can request any scope which is supported by the authorization server.
                                      accessTokenDuration:
                                        type: number
                                        format: int64
                                        description: |
                                          The value of the duration of access tokens per client in seconds. In normal cases, the value of the service's `accessTokenDuration` property is used
                                          as the duration of access tokens issued by the service. However, if this `accessTokenDuration` property holds a non-zero positive number and its value is
                                          less than the duration configured by the service, the value is used as the duration of access tokens issued to the client application.

                                          Note that the duration of access tokens can be controlled by the scope attribute `access_token.duration`, too. Authlete chooses the minimum value among the candidates.

                                          This property is available since Authlete 2.1.
                                      refreshTokenDuration:
                                        type: number
                                        format: int64
                                        description: |
                                          The value of the duration of refresh tokens per client in seconds. In normal cases, the value of the service's `refreshTokenDuration` property is used
                                          as the duration of refresh tokens issued by the service. However, if this `refreshTokenDuration` property holds a non-zero positive number and its value is
                                          less than the duration configured by the service, the value is used as the duration of refresh tokens issued to the client application.

                                          Note that the duration of refresh tokens can be controlled by the scope attribute `refresh_token.duration`, too. Authlete chooses the minimum value among the candidates.

                                          This property is available since Authlete 2.1.
                                type: null
                                description: |
                                  The extended information about this client.
                        description: Information about the client application which made the authorization request.
                      display:
                        allOf:
                          - type: string
                            enum:
                              - PAGE
                              - POPUP
                              - TOUCH
                              - WAP
                        description: |
                          The display mode which the client application requests by `display` request parameter.
                          When the authorization request does not have `display` request parameter, `PAGE` is set as the default value.

                          It is ensured that the value of `display` is one of the supported display modes which are specified
                          by `supportedDisplays` configuration parameter of the service. If the display mode specified by the
                          authorization request is not supported, an error is raised.

                          Values for this property correspond to the values listed in
                          "[OpenID Connect Core 1.0, 3.1.2.1. Authentication Request](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest), display".
                      maxAge:
                        type: number
                        format: int32
                        description: |
                          The maximum authentication age. This value comes from `max_age` request parameter, or `defaultMaxAge` configuration parameter
                          of the client application when the authorization request does not contain `max_age` request parameter.

                          See "[OpenID Connect Core 1.0, 3.1.2.1. Authentication Request](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest), max_age"
                          for `max_age` request parameter, and see "[OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata), default_max_age"
                          for `defaultMaxAge` configuration parameter.
                      service:
                        allOf:
                          - type: object
                            properties:
                              number:
                                type: integer
                                format: int32
                                description: The sequential number of the service. The value of this property is assigned by Authlete.
                              serviceOwnerNumber:
                                type: integer
                                format: int32
                                description: The sequential number of the service owner of the service. The value of this property is assigned by Authlete.
                              serviceName:
                                type: string
                                description: The name of this service.
                              issuer:
                                type: string
                                description: |
                                  The issuer identifier of the service.

                                  A URL that starts with  https:// and has no query or fragment component. For example, https://example.com

                                  The value of this property is used as `iss` claim in an [ID token](https://openid.net/specs/openid-connect-core-1_0.html#IDToken) and issuer property in the [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).
                              description:
                                type: string
                                description: The description about the service.
                              apiKey:
                                type: number
                                format: int64
                                description: The API key. The value of this property is assigned by Authlete.
                              apiSecret:
                                type: string
                                description: The API secret. A random 256-bit value encoded by base64url (43 letters). The value of this property is assigned by Authlete.
                              clientsPerDeveloper:
                                type: number
                                format: int32
                                description: The maximum number of client applications that a developer is allowed to create. 0 means no limit.
                              clientIdAliasEnabled:
                                type: boolean
                                description: |
                                  The flag to indicate whether the 'Client ID Alias' feature is enabled or not.
                                  When a new client is created, Authlete generates a numeric value and assigns it as a client ID to the newly created client. In addition to the client ID, each client can have a client ID alias. The client ID alias is, however, recognized only when this property (`clientIdAliasEnabled`) is set to `true`.
                              metadata:
                                type: array
                                items:
                                  $ref: '#/paths/~1auth~1token/post/responses/200/content/application~1json/schema/allOf/1/properties/clientAttributes/items'
                                description: |
                                  The `metadata` of the service. The content of the returned array depends on contexts.
                                  The predefined service metadata is listed in the following table.

                                    | Key | Description |
                                    | --- | --- |
                                    | `clientCount` | The number of client applications which belong to this service.  |
                              createdAt:
                                type: number
                                format: int64
                                description: The time at which this service was created. The value is represented as milliseconds since the UNIX epoch (`1970-01-01`).
                              modifiedAt:
                                type: number
                                format: int64
                                description: The time at which this service was last modified. The value is represented as milliseconds since the UNIX epoch (1970-01-01).
[...]
