<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/error.css">
  </head>
  <body>
    <div class='status'>
      <%= status %>
    </div>

    <div class='message'>
      <%= message %>
    </div>
  </body>
</html>