{
  "openapi": "3.0.3",
  "info": {
    "title": "Authlete API Explorer",
    "description": "<div class=\"min-h-screen bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 p-6\">\n  <div class=\"flex justify-end mb-4\">\n    <label for=\"theme-toggle\" class=\"flex items-center cursor-pointer\">\n      <div class=\"relative\">Dark mode:\n        <input type=\"checkbox\" id=\"theme-toggle\" class=\"sr-only\" onchange=\"toggleTheme()\">\n        <div class=\"block bg-gray-600 w-14 h-8 rounded-full\"></div>\n        <div class=\"dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition\"></div>\n      </div>\n    </label>\n  </div>\n  <header class=\"bg-green-500 dark:bg-green-700 p-4 rounded-lg text-white text-center\">\n    <p>\n      Welcome to the <strong>Authlete API documentation</strong>. Authlete is an <strong>API-first service</strong>\n      where every aspect of the platform is configurable via API. This explorer provides a convenient way to\n      authenticate and interact with the API, allowing you to see Authlete in action quickly. 🚀\n    </p>\n    <p>\n      At a high level, the Authlete API is grouped into two categories:\n    </p>\n    <ul class=\"list-disc list-inside\">\n      <li><strong>Management APIs</strong>: Enable you to manage services and clients. 🔧</li>\n      <li><strong>Runtime APIs</strong>: Allow you to build your own Authorization Servers or Verifiable Credential (VC)\n        issuers. 🔐</li>\n    </ul>\n    <p>All API endpoints are secured using access tokens issued by Authlete's Identity Provider (IdP). If you already\n      have an Authlete account, simply use the <em>Get Token</em> option on the Authentication page to log in and obtain\n      an access token for API usage. If you don't have an account yet, <a href=\"https://console.authlete.com/register\">sign up\n        here</a> to get started.</p>\n  </header>\n  <main>\n    <section id=\"api-servers\" class=\"mb-10\">\n      <h2 class=\"text-2xl font-semibold mb-4\">🌐 API Servers</h2>\n      <p>Authlete is a global service with clusters available in multiple regions across the world.</p>\n      <p>Currently, our service is available in the following regions:</p>\n      <div class=\"grid grid-cols-2 gap-4\">\n        <div class=\"p-4 bg-white dark:bg-gray-800 rounded-lg shadow\">\n          <p class=\"text-center font-semibold\">🇺🇸 US</p>\n        </div>\n        <div class=\"p-4 bg-white dark:bg-gray-800 rounded-lg shadow\">\n          <p class=\"text-center font-semibold\">🇯🇵 JP</p>\n        </div>\n        <div class=\"p-4 bg-white dark:bg-gray-800 rounded-lg shadow\">\n          <p class=\"text-center font-semibold\">🇪🇺 EU</p>\n        </div>\n        <div class=\"p-4 bg-white dark:bg-gray-800 rounded-lg shadow\">\n          <p class=\"text-center font-semibold\">🇧🇷 Brazil</p>\n        </div>\n      </div>\n      <p>Our customers can host their data in the region that best meets their requirements.</p>\n      <a href=\"#servers\" class=\"block mt-4 text-green-500 dark:text-green-300 hover:underline text-center\">Select your\n        preferred server</a>\n    </section>\n    <section id=\"authentication\" class=\"mb-10\">\n      <h2 class=\"text-2xl font-semibold mb-4\">🔑 Authentication</h2>\n      <p>The API Explorer requires an access token to call the API.</p>\n      <p>You can create the access token from the <a href=\"https://console.authlete.com\">Authlete Management Console</a> and set it in the HTTP Bearer section of Authentication page.</p>\n      <p>Alternatively, if you have an Authlete account, the API Explorer can log you in with your Authlete account and\n        automatically acquire the required access token.</p>\n      <div class=\"theme-admonition theme-admonition-warning admonition_o5H7 alert alert--warning\">\n        <div class=\"admonitionContent_Knsx\">\n          <p>⚠️ <strong>Important Note:</strong> When the API Explorer acquires the token after login, the access tokens\n            will have the same permissions as the user who logs in as part of this flow.</p>\n        </div>\n      </div>\n      <a href=\"#auth\" class=\"block mt-4 text-green-500 dark:text-green-300 hover:underline text-center\">Setup your\n        access token</a>\n    </section>\n    <section id=\"tutorials\" class=\"mb-10\">\n      <h2 class=\"text-2xl font-semibold mb-4\">🎓 Tutorials</h2>\n      <p>If you have successfully tested the API from the API Console and want to take the next step of integrating the\n        API into your application, or if you want to see a sample using Authlete APIs, follow the links below. These\n        resources will help you understand key concepts and how to integrate Authlete API into your applications.</p>\n      <div class=\"mt-4\">\n        <a href=\"https://www.authlete.com/developers/getting_started/\"\n          class=\"block text-green-500 dark:text-green-300 font-bold hover:underline mb-2\">🚀 Getting Started with\n          Authlete</a>\n          </br>\n        <a href=\"https://www.authlete.com/developers/tutorial/signup/\"\n          class=\"block text-green-500 dark:text-green-300 font-bold hover:underline\">🔑 From Sign-Up to the First API\n          Request</a>\n      </div>\n    </section>\n    <section id=\"support\" class=\"mb-10\">\n      <h2 class=\"text-2xl font-semibold mb-4\">🛠 Contact Us</h2>\n      <p>If you have any questions or need assistance, our team is here to help.</p>\n      <a href=\"https://www.authlete.com/contact/\"\n        class=\"block mt-4 text-green-500 dark:text-green-300 font-bold hover:underline\">Contact Page</a>\n    </section>\n  </main>\n</div>\n",
    "version": "3.0.15",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "description": "🇺🇸 US Cluster",
      "url": "https://us.authlete.com"
    },
    {
      "description": "🇯🇵 Japan Cluster",
      "url": "https://jp.authlete.com"
    },
    {
      "description": "🇪🇺 Europe Cluster",
      "url": "https://eu.authlete.com"
    },
    {
      "description": "🇧🇷 Brazil Cluster",
      "url": "https://br.authlete.com"
    }
  ],
  "security": [
    {
      "authlete": []
    },
    {
      "bearer": []
    }
  ],
  "paths": {
    "/api/{serviceId}/service/get": {
      "get": {
        "summary": "Get Service",
        "description": "Get a service.\n\nIf the access token can only view or modify clients underneath this service, but does not\nhave access to view this service directly, a limited view of the service will be returned.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service"
                },
                "examples": {
                  "full": {
                    "summary": "Example showing the full service object.",
                    "value": {
                      "accessTokenDuration": 3600,
                      "accessTokenType": "Bearer",
                      "allowableClockSkew": 0,
                      "apiKey": 21653835348762,
                      "attributes": [
                        {
                          "key": "attribute1-key",
                          "value": "attribute1-value"
                        },
                        {
                          "key": "attribute2-key",
                          "value": "attribute2-value"
                        }
                      ],
                      "authorizationEndpoint": "https://my-service.example.com/authz",
                      "authorizationResponseDuration": 0,
                      "backchannelAuthReqIdDuration": 0,
                      "backchannelBindingMessageRequiredInFapi": false,
                      "backchannelPollingInterval": 0,
                      "backchannelUserCodeParameterSupported": false,
                      "claimShortcutRestrictive": false,
                      "clientIdAliasEnabled": true,
                      "clientsPerDeveloper": 0,
                      "createdAt": 1639373421000,
                      "dcrScopeUsedAsRequestable": false,
                      "deviceFlowCodeDuration": 0,
                      "deviceFlowPollingInterval": 0,
                      "directAuthorizationEndpointEnabled": false,
                      "directIntrospectionEndpointEnabled": false,
                      "directJwksEndpointEnabled": false,
                      "directRevocationEndpointEnabled": false,
                      "directTokenEndpointEnabled": false,
                      "directUserInfoEndpointEnabled": false,
                      "dynamicRegistrationSupported": false,
                      "errorDescriptionOmitted": false,
                      "errorUriOmitted": false,
                      "frontChannelRequestObjectEncryptionRequired": false,
                      "grantManagementActionRequired": false,
                      "hsmEnabled": false,
                      "idTokenDuration": 0,
                      "introspectionEndpoint": "https://my-service.example.com/introspection",
                      "issSuppressed": false,
                      "issuer": "https://my-service.example.com",
                      "metadata": [
                        {
                          "key": "clientCount",
                          "value": "1"
                        }
                      ],
                      "missingClientIdAllowed": false,
                      "modifiedAt": 1639373421000,
                      "mutualTlsValidatePkiCertChain": false,
                      "nbfOptional": false,
                      "number": 5041,
                      "parRequired": false,
                      "pkceRequired": true,
                      "pkceS256Required": false,
                      "pushedAuthReqDuration": 0,
                      "refreshTokenDuration": 3600,
                      "refreshTokenDurationKept": false,
                      "refreshTokenDurationReset": false,
                      "refreshTokenKept": false,
                      "requestObjectEncryptionAlgMatchRequired": false,
                      "requestObjectEncryptionEncMatchRequired": false,
                      "requestObjectRequired": false,
                      "revocationEndpoint": "https://my-service.example.com/revocation",
                      "scopeRequired": false,
                      "serviceName": "My service",
                      "serviceOwnerNumber": 2,
                      "singleAccessTokenPerSubject": false,
                      "supportedClaimTypes": [
                        "NORMAL"
                      ],
                      "supportedDisplays": [
                        "PAGE"
                      ],
                      "supportedGrantTypes": [
                        "AUTHORIZATION_CODE",
                        "REFRESH_TOKEN"
                      ],
                      "supportedIntrospectionAuthMethods": [
                        "CLIENT_SECRET_BASIC"
                      ],
                      "supportedResponseTypes": [
                        "CODE"
                      ],
                      "supportedRevocationAuthMethods": [
                        "CLIENT_SECRET_BASIC"
                      ],
                      "supportedScopes": [
                        {
                          "defaultEntry": false,
                          "description": "A permission to read your history.",
                          "name": "history.read"
                        },
                        {
                          "defaultEntry": false,
                          "description": "A permission to read your timeline.",
                          "name": "timeline.read"
                        }
                      ],
                      "supportedTokenAuthMethods": [
                        "CLIENT_SECRET_BASIC"
                      ],
                      "tlsClientCertificateBoundAccessTokens": false,
                      "tokenEndpoint": "https://my-service.example.com/token",
                      "tokenExpirationLinked": false,
                      "traditionalRequestObjectProcessingApplied": false,
                      "unauthorizedOnClientConfigSupported": false,
                      "userCodeLength": 0
                    }
                  },
                  "limited": {
                    "summary": "Example showing the limited service object.",
                    "value": {
                      "apiKey": 21653835348762,
                      "description": "This Service.",
                      "number": 5041,
                      "serviceName": "My service"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "operationId": "service_get_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v https://us.authlete.com/api/21653835348762/service/get \\\n-u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nlong serviceId = ...;\n\napi.getService(serviceId);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nserviceId = ...\n\napi.getService(serviceId)\n"
          }
        ],
        "tags": [
          "Service Management"
        ]
      }
    },
    "/api/service/get/list": {
      "get": {
        "summary": "List Services",
        "description": "Get a list of services.\n\nIf the access token can only view or modify clients underneath a service, but does not\nhave access to view that service directly, a limited view of the service will be returned.\nOtherwise, all properties of the service are returned.\n\nIf the access token is an administrative token, this returns a list of all services on the Authlete instance.\nOtherwise, all services that the access token can view, even in a limited fashion, are returned.\n",
        "parameters": [
          {
            "in": "query",
            "name": "start",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false,
            "description": "Start index (inclusive) of the result set. The default value is 0. Must not be a negative number."
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false,
            "description": "End index (exclusive) of the result set. The default value is 5. Must not be a negative number."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service"
                },
                "examples": {
                  "full": {
                    "summary": "Example showing the full service view.",
                    "value": {
                      "start": 0,
                      "end": 5,
                      "totalCount": 1,
                      "services": [
                        {
                          "accessTokenDuration": 3600,
                          "accessTokenType": "Bearer",
                          "allowableClockSkew": 0,
                          "apiKey": 21653835348762,
                          "apiSecret": "uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls",
                          "attributes": [
                            {
                              "key": "attribute1-key",
                              "value": "attribute1-value"
                            },
                            {
                              "key": "attribute2-key",
                              "value": "attribute2-value"
                            }
                          ],
                          "authorizationEndpoint": "https://as.example.com/authz",
                          "authorizationResponseDuration": 0,
                          "backchannelAuthReqIdDuration": 0,
                          "backchannelBindingMessageRequiredInFapi": false,
                          "backchannelPollingInterval": 0,
                          "backchannelUserCodeParameterSupported": false,
                          "claimShortcutRestrictive": false,
                          "clientIdAliasEnabled": true,
                          "createdAt": 1639373421000,
                          "dcrScopeUsedAsRequestable": false,
                          "deviceFlowCodeDuration": 0,
                          "deviceFlowPollingInterval": 0,
                          "directAuthorizationEndpointEnabled": false,
                          "directIntrospectionEndpointEnabled": false,
                          "directJwksEndpointEnabled": false,
                          "directRevocationEndpointEnabled": false,
                          "directTokenEndpointEnabled": false,
                          "directUserInfoEndpointEnabled": false,
                          "dynamicRegistrationSupported": false,
                          "errorDescriptionOmitted": false,
                          "errorUriOmitted": false,
                          "frontChannelRequestObjectEncryptionRequired": false,
                          "grantManagementActionRequired": false,
                          "hsmEnabled": false,
                          "idTokenDuration": 0,
                          "introspectionEndpoint": "https://my-service.example.com/introspection",
                          "issSuppressed": false,
                          "issuer": "https://my-service.example.com",
                          "metadata": [
                            {
                              "key": "clientCount",
                              "value": "1"
                            }
                          ],
                          "missingClientIdAllowed": false,
                          "modifiedAt": 1639373421000,
                          "mutualTlsValidatePkiCertChain": false,
                          "nbfOptional": false,
                          "number": 5041,
                          "parRequired": false,
                          "pkceRequired": true,
                          "pkceS256Required": false,
                          "pushedAuthReqDuration": 0,
                          "refreshTokenDuration": 3600,
                          "refreshTokenDurationKept": false,
                          "refreshTokenDurationReset": false,
                          "refreshTokenKept": false,
                          "requestObjectEncryptionAlgMatchRequired": false,
                          "requestObjectEncryptionEncMatchRequired": false,
                          "requestObjectRequired": false,
                          "revocationEndpoint": "https://my-service.example.com/revocation",
                          "scopeRequired": false,
                          "serviceName": "My service",
                          "serviceOwnerNumber": 2,
                          "singleAccessTokenPerSubject": false,
                          "supportedClaimTypes": [
                            "NORMAL"
                          ],
                          "supportedDisplays": [
                            "PAGE"
                          ],
                          "supportedGrantTypes": [
                            "AUTHORIZATION_CODE",
                            "REFRESH_TOKEN"
                          ],
                          "supportedIntrospectionAuthMethods": [
                            "CLIENT_SECRET_BASIC"
                          ],
                          "supportedResponseTypes": [
                            "CODE"
                          ],
                          "supportedRevocationAuthMethods": [
                            "CLIENT_SECRET_BASIC"
                          ],
                          "supportedScopes": [
                            {
                              "defaultEntry": false,
                              "description": "A permission to read your history.",
                              "name": "history.read"
                            },
                            {
                              "defaultEntry": false,
                              "description": "A permission to read your timeline.",
                              "name": "timeline.read"
                            }
                          ],
                          "supportedTokenAuthMethods": [
                            "CLIENT_SECRET_BASIC"
                          ],
                          "tlsClientCertificateBoundAccessTokens": false,
                          "tokenEndpoint": "https://my-service.example.com/token",
                          "tokenExpirationLinked": false,
                          "traditionalRequestObjectProcessingApplied": false,
                          "unauthorizedOnClientConfigSupported": false,
                          "userCodeLength": 0
                        }
                      ]
                    }
                  },
                  "limited": {
                    "summary": "Example showing the limited service view.",
                    "value": {
                      "start": 0,
                      "end": 5,
                      "totalCount": 1,
                      "services": [
                        {
                          "apiKey": 21653835348762,
                          "clientIdAliasEnabled": true,
                          "number": 5041,
                          "serviceName": "My service"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "operationId": "service_get_list_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v https://us.authlete.com/api/9503564192/service/get/list?start=0\\&end=5 \\\n-u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nint start = 0;\nint end = 5;\n\napi.getServiceList(start, end);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nstart = 0\nend = 5\n\napi.getServiceList(start, end)\n"
          }
        ],
        "tags": [
          "Service Management"
        ]
      }
    },
    "/api/service/create": {
      "post": {
        "summary": "Create Service",
        "description": "Create a new service.\n",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Service1"
              },
              "example": {
                "serviceName": "My service",
                "issuer": "https://my-service.example.com",
                "clientIdAliasEnabled": true,
                "supportedGrantTypes": [
                  "AUTHORIZATION_CODE",
                  "REFRESH_TOKEN"
                ],
                "supportedResponseTypes": [
                  "CODE"
                ],
                "authorizationEndpoint": "https://my-service.example.com/authz",
                "pkceRequired": true,
                "tokenEndpoint": "https://my-service.example.com/token",
                "supportedTokenAuthMethods": [
                  "CLIENT_SECRET_BASIC"
                ],
                "revocationEndpoint": "https://my-service.example.com/revocation",
                "supportedRevocationAuthMethods": [
                  "CLIENT_SECRET_BASIC"
                ],
                "introspectionEndpoint": "https://my-service.example.com/introspection",
                "supportedIntrospectionAuthMethods": [
                  "CLIENT_SECRET_BASIC"
                ],
                "accessTokenType": "Bearer",
                "accessTokenDuration": 3600,
                "refreshTokenDuration": 3600,
                "supportedScopes": [
                  {
                    "name": "timeline.read",
                    "defaultEntry": false,
                    "description": "A permission to read your timeline."
                  },
                  {
                    "name": "history.read",
                    "defaultEntry": false,
                    "description": "A permission to read your history."
                  }
                ],
                "attributes": [
                  {
                    "key": "attribute1-key",
                    "value": "attribute1-value"
                  },
                  {
                    "key": "attribute2-key",
                    "value": "attribute2-value"
                  }
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "integer",
                    "format": "int32",
                    "readOnly": true,
                    "description": "The sequential number of the service. The value of this property is assigned by Authlete."
                  },
                  "serviceName": {
                    "type": "string",
                    "description": "The name of this service."
                  },
                  "issuer": {
                    "type": "string",
                    "description": "The issuer identifier of the service.\n\nA URL that starts with  https:// and has no query or fragment component.\n\nThe value of this property is used as `iss` claim in an [ID token](https://openid.net/specs/openid-connect-core-1_0.html#IDToken)\nand `issuer` property in the [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description about the service."
                  },
                  "apiKey": {
                    "type": "integer",
                    "format": "int64",
                    "readOnly": true,
                    "description": "The service ID used in Authlete API calls. The value of this property is assigned by Authlete."
                  },
                  "clientIdAliasEnabled": {
                    "type": "boolean",
                    "description": "Deprecated. Always `true`."
                  },
                  "metadata": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "The key part."
                        },
                        "value": {
                          "type": "string",
                          "description": "The value part."
                        }
                      }
                    },
                    "description": "The `metadata` of the service. The content of the returned array depends on contexts.\nThe predefined service metadata is listed in the following table.\n\n  | Key | Description |\n  | --- | --- |\n  | `clientCount` | The number of client applications which belong to this service.  |\n"
                  },
                  "createdAt": {
                    "type": "integer",
                    "format": "int64",
                    "readOnly": true,
                    "description": "The time at which this service was created. The value is represented as milliseconds since the\nUNIX epoch (`1970-01-01`).\n"
                  },
                  "modifiedAt": {
                    "type": "integer",
                    "format": "int64",
                    "readOnly": true,
                    "description": "The time at which this service was last modified. The value is represented as milliseconds since\nthe UNIX epoch (1970-01-01).\n"
                  },
                  "authenticationCallbackEndpoint": {
                    "type": "string",
                    "format": "uri",
                    "description": "A Web API endpoint for user authentication which is to be prepared on the service side.\n\nThe endpoint must be implemented if you do not implement the UI at the authorization endpoint\nbut use the one provided by Authlete.\n\nThe user authentication at the authorization endpoint provided by Authlete is performed by making\na `POST` request to this endpoint.\n"
                  },
                  "authenticationCallbackApiKey": {
                    "type": "string",
                    "description": "API key for basic authentication at the authentication callback endpoint.\n\nIf the value is not empty, Authlete generates Authorization header for Basic authentication when\nmaking a request to the authentication callback endpoint.\n"
                  },
                  "authenticationCallbackApiSecret": {
                    "type": "string",
                    "description": "API secret for `basic` authentication at the authentication callback endpoint."
                  },
                  "supportedAcrs": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Values of acrs (authentication context class references) that the service supports.\n\nThe value of this property is used as `acr_values_supported`\nproperty in the [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n"
                  },
                  "supportedGrantTypes": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/GrantType"
                    },
                    "description": "Values of `grant_type` request parameter that the service supports.\n\nThe value of this property is used as `grant_types_supported property` in the\n[OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n"
                  },
                  "supportedResponseTypes": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ResponseType"
                    },
                    "description": "Values of `response_type` request parameter that\nthe service supports. Valid values are listed in Response Type.\n\nThe value of this property is used as `response_types_supported` property in the\n[OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n"
                  },
                  "supportedAuthorizationDetailsTypes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The supported data types that can be used as values of the type field in `authorization_details`.\n\nThis property corresponds to the `authorization_details_types_supported` metadata. See \"OAuth 2.0\nRich Authorization Requests\" (RAR) for details.\n"
                  },
                  "supportedServiceProfiles": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EnumValue"
                    },
                    "description": "The profiles that this service supports.\n"
                  },
                  "errorDescriptionOmitted": {
                    "type": "boolean",
                    "description": "The flag to indicate whether the `error_description` response parameter is omitted.\n\nAccording to [RFC 6749](https://tools.ietf.org/html/rfc6749), an authorization server may include\nthe `error_description` response parameter in error responses.\n\nIf `true`, Authlete does not embed the `error_description` response parameter in error responses.\n"
                  },
                  "errorUriOmitted": {
                    "type": "boolean",
                    "description": "The flag to indicate whether the `error_uri` response parameter is omitted.\n\nAccording to [RFC 6749](https://tools.ietf.org/html/rfc6749), an authorization server may include the `error_uri` response parameter in error responses.\n\nIf `true`, Authlete does not embed the\n`error_uri` response parameter in error responses.\n"
                  },
                  "authorizationEndpoint": {
                    "type": "string",
                    "format": "uri",
                    "description": "The authorization endpoint of the service.\n\nA URL that starts with `https://` and has no fragment component. For example, `https://example.com/auth/authorization`.\n\nThe value of this property is used as `authorization_endpoint` property in the [OpenID Provider\nMetadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n"
                  },
                  "directAuthorizationEndpointEnabled": {
                    "type": "boolean",
                    "description": "The flag to indicate whether the direct authorization endpoint is enabled or not.\n\nThe path of the endpoint is `/api/auth/authorization/direct/service-api-key`.\n"
                  },
                  "supportedUiLocales": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "UI locales that the service supports.\n\nEach element is a language tag defined in [RFC 5646](https://tools.ietf.org/html/rfc5646). For example, `en-US` and `ja-JP`.\n\nThe value of this property is used as `ui_locales_supported` property in the [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n"
                  },
                  "supportedDisplays": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EnumValue1"
                    },
                    "description": "Values of `display` request parameter that service supports.\n\nThe value of this property is used as `display_values_supported` property in the Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n"
                  },
                  "pkceRequired": {
                    "type": "boolean",
                    "description": "The flag to indicate whether the use of Proof Key for Code Exchange (PKCE) is always required for authorization requests by Authorization Code Flow.\n\nIf `true`, `code_challenge` request parameter is always required for authorization requests using Authorization Code Flow.\n\nSee [RFC 7636](https://tools.ietf.org/html/rfc7636) (Proof Key for Code Exchange by OAuth Public Clients) for details about `code_challenge` request parameter.\n"
                  },
                  "pkceS256Required": {
                    "type": "boolean",
                    "description": "The flag to indicate whether `S256` is always required as the code challenge method whenever [PKCE (RFC 7636)](https://tools.ietf.org/html/rfc7636) is used.\n\nIf this flag is set to `true`, `code_challenge_method=S256` must be included in the authorization request\nwhenever it includes the `code_challenge` request parameter.\nNeither omission of the `code_challenge_method` request parameter nor use of plain (`code_challenge_method=plain`) is allowed.\n"
                  },
                  "authorizationResponseDuration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The duration of authorization response JWTs in seconds.\n\n[Financial-grade API: JWT Secured Authorization Response Mode for OAuth 2.0 (JARM)](https://openid.net/specs/openid-financial-api-jarm.html)\ndefines new values for the `response_mode` request parameter. They are `query.jwt`, `fragment.jwt`,\n`form_post.jwt` and `jwt`. If one of them is specified as the response mode, response parameters\nfrom the authorization endpoint will be packed into a JWT. This property is used to compute the\nvalue of the `exp` claim of the JWT.\n"
                  },
                  "tokenEndpoint": {
                    "type": "string",
                    "format": "uri",
                    "description": "The [token endpoint](https://tools.ietf.org/html/rfc6749#section-3.2) of the service.\n\nA URL that starts with `https://` and has not fragment component. For example, `https://example.com/auth/token`.\n\nThe value of this property is used as `token_endpoint` property in the\n[OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n"
                  },
                  "directTokenEndpointEnabled": {
                    "type": "boolean",
                    "description": "The flag to indicate whether the direct token endpoint is enabled or not. The path of the endpoint\nis `/api/auth/token/direct/service-api-key`.\n"
                  },
                  "supportedTokenAuthMethods": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EnumValue2"
                    },
                    "description": "Client authentication methods supported by the token endpoint of the service.\n\nThe value of this property is used as `token_endpoint_auth_methods_supports` property in the\n[OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n"
                  },
                  "missingClientIdAllowed": {
                    "type": "boolean",
                    "description": "The flag to indicate token requests from public clients without the `client_id` request parameter are allowed when the client can be guessed from `authorization_code` or `refresh_token`.\n\nThis flag should not be set unless you have special reasons.\n"
                  },
                  "revocationEndpoint": {
                    "type": "string",
                    "format": "uri",
                    "description": "The [revocation endpoint](https://tools.ietf.org/html/rfc7009) of the service.\n\nA URL that starts with `https://`. For example, `https://example.com/auth/revocation`.\n"
                  },
                  "directRevocationEndpointEnabled": {
                    "type": "boolean",
                    "description": "The flag to indicate whether the direct revocation endpoint is enabled or not. The URL of the endpoint is `/api/auth/revocation/direct/service-api-key`. "
                  },
                  "supportedRevocationAuthMethods": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "The client authentication method that the client application declares that it uses at the token\nendpoint. This property corresponds to `token_endpoint_auth_method` in [OpenID Connect Dynamic\nClient Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).\n",
                      "enum": [
                        "NONE",
                        "CLIENT_SECRET_BASIC",
                        "CLIENT_SECRET_POST",
                        "CLIENT_SECRET_JWT",
                        "PRIVATE_KEY_JWT",
                        "TLS_CLIENT_AUTH",
                        "SELF_SIGNED_TLS_CLIENT_AUTH"
                      ]
                    },
                    "description": "Client authentication methods supported at the revocation endpoint.\n"
                  },
                  "introspectionEndpoint": {
                    "type": "string",
                    "description": "The URI of the introspection endpoint.",
                    "format": "uri"
                  },
                  "directIntrospectionEndpointEnabled": {
                    "type": "boolean",
                    "description": "The flag to indicate whether the direct userinfo endpoint is enabled or not. The path of the endpoint is `/api/auth/userinfo/direct/{serviceApiKey}`. "
                  },
                  "supportedIntrospectionAuthMethods": {
                    "type": "array",
                    "description": "Client authentication methods supported at the introspection endpoint.\n",
                    "items": {
                      "type": "string",
                      "description": "The client authentication method that the client application declares that it uses at the token\nendpoint. This property corresponds to `token_endpoint_auth_method` in [OpenID Connect Dynamic\nClient Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).\n",
                      "enum": [
                        "NONE",
                        "CLIENT_SECRET_BASIC",
                        "CLIENT_SECRET_POST",
                        "CLIENT_SECRET_JWT",
                        "PRIVATE_KEY_JWT",
                        "TLS_CLIENT_AUTH",
                        "SELF_SIGNED_TLS_CLIENT_AUTH"
                      ]
                    }
                  },
                  "pushedAuthReqEndpoint": {
                    "type": "string",
                    "description": "The URI of the pushed authorization request endpoint.\n\nThis property corresponds to the `pushed_authorization_request_endpoint` metadata defined in \"[5. Authorization Server Metadata](https://tools.ietf.org/html/draft-lodderstedt-oauth-par#section-5)\" of OAuth 2.0 Pushed Authorization Requests.\n",
                    "format": "uri"
                  },
                  "pushedAuthReqDuration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The duration of pushed authorization requests in seconds.\n\n[OAuth 2.0 Pushed Authorization Requests](https://tools.ietf.org/html/draft-lodderstedt-oauth-par)\ndefines an endpoint (called \"pushed authorization request endpoint\") which client applications\ncan register authorization requests into and get corresponding URIs (called \"request URIs\") from.\nThe issued URIs represent the registered authorization requests. The client applications can use\nthe URIs as the value of the `request_uri` request parameter in an authorization request.\n\nThe property represents the duration of registered authorization requests and is used as the value\nof the `expires_in` parameter in responses from the pushed authorization request endpoint.\n"
                  },
                  "parRequired": {
                    "type": "boolean",
                    "description": "The flag to indicate whether this service requires that clients use the pushed authorization\nrequest endpoint.\n\nThis property corresponds to the `require_pushed_authorization_requests` server metadata defined\nin [OAuth 2.0 Pushed Authorization Requests](https://tools.ietf.org/html/draft-lodderstedt-oauth-par).\n"
                  },
                  "requestObjectRequired": {
                    "type": "boolean",
                    "description": "The flag to indicate whether this service requires that authorization requests always utilize\na request object by using either request or `request_uri` request parameter.\n\nIf this flag is set to `true` and the value of `traditionalRequestObjectProcessingApplied` is\n`false`, the value of `require_signed_request_object` server metadata of this service is reported\nas `true` in the discovery document. The metadata is defined in JAR (JWT Secured Authorization Request).\nThat `require_signed_request_object` is `true` means that authorization requests which don't\nconform to the JAR specification are rejected.\n"
                  },
                  "traditionalRequestObjectProcessingApplied": {
                    "type": "boolean",
                    "description": "The flag to indicate whether a request object is processed based on rules defined in\n[OpenID Connect Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html) or JAR (JWT\nSecured Authorization Request).\n\nDifferences between rules in OpenID Connect Core 1.0 and ones in JAR are as follows.\n  - JAR requires that a request object be always -signed.\n  - JAR does not allow request parameters outside a request object to be referred to.\n  - OIDC Core 1.0 requires that response_type request parameter exist outside a request object even if the request object includes the request parameter.\n  - OIDC Core 1.0 requires that scope request parameter exist outside a request object if the authorization request is an\n  - OIDC request even if the request object includes the request parameter.\n\nIf this flag is set to `false` and the value of `requestObjectRequired` is `true`, the value of\n`require_signed_request_object` server metadata of this service\nis reported as `true` in the discovery document. The metadata is defined in JAR (JWT Secured\nAuthorization Request). That `require_signed_request_object` is `true` means that authorization\nrequests which don't conform to the JAR specification are rejected.\n"
                  },
                  "mutualTlsValidatePkiCertChain": {
                    "type": "boolean",
                    "description": "The flag to indicate whether this service validates certificate chains during PKI-based client mutual TLS authentication.\n"
                  },
                  "trustedRootCertificates": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The list of root certificates trusted by this service for PKI-based client mutual TLS authentication.\n"
                  },
                  "mtlsEndpointAliases": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "uri": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    },
                    "description": "The MTLS endpoint aliases.\n\nThis property corresponds to the mtls_endpoint_aliases metadata defined in \"5. Metadata for Mutual TLS Endpoint Aliases\" of [OAuth 2.0 Mutual TLS Client Authentication and Certificate-Bound Access Tokens](https://datatracker.ietf.org/doc/rfc8705/).\n\nThe aliases will be embedded in the response from the discovery endpoint like the following.\n\n```json\n{\n  ......,\n  \"mtls_endpoint_aliases\": {\n    \"token_endpoint\":         \"https://mtls.example.com/token\",\n    \"revocation_endpoint\":    \"https://mtls.example.com/revo\",\n    \"introspection_endpoint\": \"https://mtls.example.com/introspect\"\n  }\n}\n```\n"
                  },
                  "accessTokenType": {
                    "type": "string",
                    "description": "The access token type.\n\nThis value is used as the value of `token_type` property in access token responses. If this service\ncomplies with [RFC 6750](https://tools.ietf.org/html/rfc6750), the value of this property should\nbe `Bearer`.\n\nSee [RFC 6749 (OAuth 2.0), 7.1. Access Token Types](https://tools.ietf.org/html/rfc6749#section-7.1) for details.\n"
                  },
                  "tlsClientCertificateBoundAccessTokens": {
                    "type": "boolean",
                    "description": "The flag to indicate whether this service supports issuing TLS client certificate bound access tokens.\n"
                  },
                  "accessTokenDuration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The duration of access tokens in seconds. This value is used as the value of `expires_in` property\nin access token responses. `expires_in` is defined [RFC 6749, 5.1. Successful Response](https://tools.ietf.org/html/rfc6749#section-5.1).\n"
                  },
                  "singleAccessTokenPerSubject": {
                    "type": "boolean",
                    "description": "The flag to indicate whether the number of access tokens per subject (and per client) is at most one or can be more.\n\nIf `true`, an attempt to issue a new access token invalidates existing access tokens that are associated with the same subject and the same client.\n\nNote that, however, attempts by [Client Credentials Flow](https://tools.ietf.org/html/rfc6749#section-4.4) do not invalidate existing access tokens because access tokens issued by Client Credentials Flow are not associated with any end-user's subject. Also note that an attempt by [Refresh Token Flow](https://tools.ietf.org/html/rfc6749#section-6) invalidates the coupled access token only and this invalidation is always performed regardless of whether the value of this setting item is `true` or `false`.\n"
                  },
                  "accessTokenSignAlg": {
                    "$ref": "#/components/schemas/SignatureAlgorithm"
                  },
                  "accessTokenSignatureKeyId": {
                    "type": "string",
                    "description": "The key ID to identify a JWK used for signing access tokens.\n\nA JWK Set can be registered as a property of a service. A JWK Set can contain 0 or more JWKs.\nAuthlete Server has to pick up one JWK for signing from the JWK Set when it generates a JWT-based\naccess token. Authlete Server searches the registered JWK Set for a JWK which satisfies conditions\nfor access token signature. If the number of JWK candidates which satisfy the conditions is 1,\nthere is no problem. On the other hand, if there exist multiple candidates, a Key ID is needed\nto be specified so that Authlete Server can pick up one JWK from among the JWK candidates.\n"
                  },
                  "refreshTokenDuration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The duration of refresh tokens in seconds. The related specifications have no requirements on refresh token duration, but Authlete sets expiration for refresh tokens."
                  },
                  "refreshTokenDurationKept": {
                    "type": "boolean",
                    "description": "The flag to indicate whether the remaining duration of the used refresh token is taken over to\nthe newly issued refresh token.\n"
                  },
                  "refreshTokenDurationReset": {
                    "type": "boolean",
                    "description": "The flag which indicates whether duration of refresh tokens are reset when they are used even\nif the `refreshTokenKept` property of this service set to is `true` (= even if \"Refresh Token\nContinuous Use\" is \"Kept\").\n\nThis flag has no effect when the `refreshTokenKept` property is set to `false`. In other words,\nif this service issues a new refresh token on every refresh token request, the refresh token\nwill have fresh duration (unless `refreshTokenDurationKept` is set to `true`) and this\n`refreshTokenDurationReset` property is not referenced.\n"
                  },
                  "refreshTokenKept": {
                    "type": "boolean",
                    "description": "The flag to indicate whether a refresh token remains unchanged or gets renewed after its use.\n\nIf `true`, a refresh token used to get a new access token remains valid after its use. Otherwise, if `false`, a refresh token is invalidated after its use and a new refresh token is issued.\n\nSee [RFC 6749 6. Refreshing an Access Token](https://tools.ietf.org/html/rfc6749#section-6), as to how to get a new access token using a refresh token.\n"
                  },
                  "supportedScopes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The name of the scope."
                        },
                        "defaultEntry": {
                          "type": "boolean",
                          "description": "`true` to mark the scope as default. Scopes marked as default are regarded as requested when an authorization request from a client application does not contain scope request parameter. "
                        },
                        "description": {
                          "type": "string",
                          "description": "The description about the scope."
                        },
                        "descriptions": {
                          "type": "array",
                          "description": "The descriptions about this scope in multiple languages.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "tag": {
                                "type": "string",
                                "description": "The language tag part."
                              },
                              "value": {
                                "type": "string",
                                "description": "The value part."
                              }
                            }
                          }
                        },
                        "attributes": {
                          "type": "array",
                          "description": "The attributes of the scope.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "description": "The key part."
                              },
                              "value": {
                                "type": "string",
                                "description": "The value part."
                              }
                            }
                          }
                        }
                      }
                    },
                    "description": "Scopes supported by the service.\n\nAuthlete strongly recommends that the service register at least the following scopes.\n\n| Name | Description |\n| --- | --- |\n| openid | A permission to get an ID token of an end-user. The `openid` scope appears in [OpenID Connect Core 1.0, 3.1.2.1. Authentication Request, scope](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest). Without this scope, Authlete does not allow `response_type` request parameter to have values other than code and token. |\n| profile | A permission to get information about `name`, `family_name`, `given_name`, `middle_name`, `nickname`, `preferred_username`, `profile`, `picture`, `website`, `gender`, `birthdate`, `zoneinfo`, `locale` and `updated_at` from the user info endpoint. See [OpenID Connect Core 1.0, 5.4. Requesting Claims using Scope Values](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims) for details. |\n| email | A permission to get information about `email` and `email_verified` from the user info endpoint. See [OpenID Connect Core 1.0, 5.4. Requesting Claims using Scope Values](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims) for details. |\n| address | A permission to get information about address from the user info endpoint. See [OpenID Connect Core 1.0, 5.4. Requesting Claims using Scope Values](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims) and [5.1.1. Address Claim](https://openid.net/specs/openid-connect-core-1_0.html#AddressClaim) for details. |\n| phone | A permission to get information about `phone_number` and `phone_number_verified` from the user info endpoint. See [OpenID Connect Core 1.0, 5.4. Requesting Claims using Scope Values](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims) for details. |\n| offline_access | A permission to get information from the user info endpoint even when the end-user is not present. See [OpenID Connect Core 1.0, 11. Offline Access](https://openid.net/specs/openid-connect-core-1_0.html#OfflineAccess) for details. |\n\nThe value of this property is used as `scopes_supported` property in the [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n"
                  },
                  "scopeRequired": {
                    "type": "boolean",
                    "description": "The flag to indicate whether requests that request no scope are rejected or not.\n\nWhen a request has no explicit `scope` parameter and the service's pre-defined default scope set is empty,\nthe authorization server regards the request requests no scope. When this flag is set to `true`,\nrequests that request no scope are rejected.\n\nThe requirement below excerpted from [RFC 6749 Section 3.3](https://tools.ietf.org/html/rfc6749#section-3.3)\ndoes not explicitly mention the case where the default scope set is empty.\n\n> If the client omits the scope parameter when requesting authorization, the authorization server\nMUST either process the request using a pre-defined default value or fail the request indicating an invalid scope.\n\nHowever, if you interpret *\"the default scope set exists but is empty\"* as *\"the default scope set does not exist\"*\nand want to strictly conform to the requirement above, this flag has to be `true`.\n"
                  },
                  "idTokenDuration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "'The duration of [ID token](https://openid.net/specs/openid-connect-core-1_0.html#IDToken)s\nin seconds. This value is used to calculate the value of `exp` claim in an ID token.'\n"
                  },
                  "allowableClockSkew": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The allowable clock skew between the server and clients in seconds.\n\nThe clock skew is taken into consideration when time-related claims in a JWT (e.g. `exp`, `iat`, `nbf`) are verified.\n"
                  },
                  "supportedClaimTypes": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EnumValue3"
                    },
                    "description": "Claim types supported by the service. Valid values are listed in Claim Type. Note that Authlete\ncurrently doesn't provide any API to help implementations for `AGGREGATED` and `DISTRIBUTED`.\n\nThe value of this property is used as `claim_types_supported` property in the [OpenID Provider\nMetadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n"
                  },
                  "supportedClaimLocales": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Claim locales that the service supports. Each element is a language tag defined in [RFC 5646](https://tools.ietf.org/html/rfc5646).\nFor example, `en-US` and `ja-JP`. See [OpenID Connect Core 1.0, 5.2. Languages and Scripts](https://openid.net/specs/openid-connect-core-1_0.html#ClaimsLanguagesAndScripts)\nfor details.\n\nThe value of this property is used as `claims_locales_supported` property in the\n[OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n"
                  },
                  "supportedClaims": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Claim names that the service supports. The standard claim names listed in [OpenID Connect Core 1.0,\n5.1. Standard Claim](https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims) should\nbe supported. The following is the list of standard claims.\n\n- `sub`\n- `name`\n- `given_name`\n- `family_name`\n- `middle_name`\n- `nickname`\n- `preferred_username`\n- `profile`\n- `picture`\n- `website`\n- `email`\n- `email_verified`\n- `gender`\n- `birthdate`\n- `zoneinfo`\n- `locale`\n- `phone_number`\n- `phone_number_verified`\n- `address`\n- `updated_at`\n\nThe value of this property is used as `claims_supported` property in the [OpenID Provider\nMetadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n\nThe service may support its original claim names. See [OpenID Connect Core 1.0, 5.1.2. Additional\nClaims](https://openid.net/specs/openid-connect-core-1_0.html#AdditionalClaims).\n"
                  },
                  "claimShortcutRestrictive": {
                    "type": "boolean",
                    "description": "The flag indicating whether claims specified by shortcut scopes (e.g. `profile`) are included\nin the issued ID token only when no access token is issued.\n\nTo strictly conform to the description below excerpted from [OpenID Connect Core 1.0 Section\n5.4](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims), this flag has to be `true`.\n\n> The Claims requested by the profile, email, address, and phone scope values are returned from\nthe UserInfo Endpoint, as described in Section 5.3.2, when a response_type value is used that\nresults in an Access Token being issued. However, when no Access Token is issued (which is the\ncase for the response_type value id_token), the resulting Claims are returned in the ID Token.\n"
                  },
                  "jwksUri": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL of the service's [JSON Web Key Set](https://tools.ietf.org/html/rfc7517) document. For\nexample, `http://example.com/auth/jwks`.\n\nClient applications accesses this URL (1) to get the public key of the service to validate the\nsignature of an ID token issued by the service and (2) to get the public key of the service to\nencrypt an request object of the client application. See [OpenID Connect Core 1.0, 10. Signatures\nand Encryption](https://openid.net/specs/openid-connect-core-1_0.html#SigEnc) for details.\n\nThe value of this property is used as `jwks_uri` property in the [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n"
                  },
                  "directJwksEndpointEnabled": {
                    "type": "boolean",
                    "description": "'The flag to indicate whether the direct jwks endpoint is enabled or not. The path of the endpoint\nis `/api/service/jwks/get/direct/service-api-key`. '\n"
                  },
                  "jwks": {
                    "type": "string",
                    "description": "The content of the service's [JSON Web Key Set](https://tools.ietf.org/html/rfc7517) document.\n\nIf this property is not `null` in a `/service/create` request or a `/service/update` request,\nAuthlete hosts the content in the database. This property must not be `null` and must contain\npairs of public/private keys if the service wants to support asymmetric signatures for ID tokens\nand asymmetric encryption for request objects. See [OpenID Connect Core 1.0, 10. Signatures and\nEncryption](https://openid.net/specs/openid-connect-core-1_0.html#SigEnc) for details.\n"
                  },
                  "idTokenSignatureKeyId": {
                    "type": "string",
                    "description": "The key ID to identify a JWK used for ID token signature using an asymmetric key.\n\nA JWK Set can be registered as a property of a Service. A JWK Set can contain 0 or more JWKs\n(See [RFC 7517](https://tools.ietf.org/html/rfc7517) for details about JWK). Authlete Server has\nto pick up one JWK for signature from the JWK Set when it generates an ID token and signature\nusing an asymmetric key is required. Authlete Server searches the registered JWK Set for a JWK\nwhich satisfies conditions for ID token signature. If the number of JWK candidates which satisfy\nthe conditions is 1, there is no problem. On the other hand, if there exist multiple candidates,\na [Key ID](https://tools.ietf.org/html/rfc7517#section-4.5) is needed to be specified so that\nAuthlete Server can pick up one JWK from among the JWK candidates.\n\nThis `idTokenSignatureKeyId` property exists for the purpose described above. For key rotation\n(OpenID Connect Core 1.0, [10.1.1. Rotation of Asymmetric Signing Keys](http://openid.net/specs/openid-connect-core-1_0.html#RotateSigKeys)),\nthis mechanism is needed.\n"
                  },
                  "userInfoSignatureKeyId": {
                    "type": "string",
                    "description": "The key ID to identify a JWK used for user info signature using an asymmetric key.\n\nA JWK Set can be registered as a property of a Service. A JWK Set can contain 0 or more JWKs\n(See [RFC 7517](https://tools.ietf.org/html/rfc7517) for details about JWK). Authlete Server has\nto pick up one JWK for signature from the JWK Set when it is required to sign user info (which\nis returned from [userinfo endpoint](http://openid.net/specs/openid-connect-core-1_0.html#UserInfo))\nusing an asymmetric key. Authlete Server searches the registered JWK Set for a JWK which satisfies\nconditions for user info signature. If the number of JWK candidates which satisfy the conditions\nis 1, there is no problem. On the other hand, if there exist multiple candidates, a [Key ID](https://tools.ietf.org/html/rfc7517#section-4.5)\nis needed to be specified so that Authlete Server can pick up one JWK from among the JWK candidates.\n\nThis `userInfoSignatureKeyId` property exists for the purpose described above. For key rotation\n(OpenID Connect Core 1.0, [10.1.1. Rotation of Asymmetric Signing Keys](http://openid.net/specs/openid-connect-core-1_0.html#RotateSigKeys)),\nthis mechanism is needed.\n"
                  },
                  "authorizationSignatureKeyId": {
                    "type": "string",
                    "description": "The key ID to identify a JWK used for signing authorization responses using an asymmetric key.\n\n[Financial-grade API: JWT Secured Authorization Response Mode for OAuth 2.0 (JARM)](https://openid.net/specs/openid-financial-api-jarm.html)\ndefines new values for the `response_mode` request parameter. They are `query.jwt`, `fragment.jwt`,\n`form_post.jwt` and `jwt`. If one of them is specified as the response mode, response parameters\nfrom the authorization endpoint will be packed into a JWT. This property is used to compute the\nvalue of the `exp` claim of the JWT.\n\nAuthlete Server searches the JWK Set for a JWK which satisfies conditions for authorization response\nsignature. If the number of JWK candidates which satisfy the conditions is 1, there is no problem.\nOn the other hand, if there exist multiple candidates, a Key ID is needed to be specified so that\nAuthlete Server can pick up one JWK from among the JWK candidates. This property exists to specify\nthe key ID.\n"
                  },
                  "userInfoEndpoint": {
                    "type": "string",
                    "description": "The [user info endpoint](http://openid.net/specs/openid-connect-core-1_0.html#UserInfo) of the\nservice. A URL that starts with `https://`. For example, `https://example.com/auth/userinfo`.\n\nThe value of this property is used as `userinfo_endpoint` property in the [OpenID Provider Metadata](http://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n",
                    "format": "uri"
                  },
                  "directUserInfoEndpointEnabled": {
                    "type": "boolean",
                    "description": "The flag to indicate whether the direct userinfo endpoint is enabled or not. The path\nof the endpoint is `/api/auth/userinfo/direct/service-api-key`.\n"
                  },
                  "dynamicRegistrationSupported": {
                    "type": "boolean",
                    "description": "The boolean flag which indicates whether the [OAuth 2.0 Dynamic Client Registration Protocol](https://tools.ietf.org/html/rfc7591)\nis supported.\n"
                  },
                  "registrationEndpoint": {
                    "type": "string",
                    "description": "The [registration endpoint](http://openid.net/specs/openid-connect-registration-1_0.html#ClientRegistration)\nof the service. A URL that starts with `https://`. For example, `https://example.com/auth/registration`.\n\nThe value of this property is used as `registration_endpoint` property in the [OpenID Provider Metadata](http://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n",
                    "format": "uri"
                  },
                  "registrationManagementEndpoint": {
                    "type": "string",
                    "description": "The URI of the registration management endpoint. If dynamic client registration is supported,\nand this is set, this URI will be used as the basis of the client's management endpoint by appending\n`/clientid}/` to it as a path element. If this is unset, the value of `registrationEndpoint` will\nbe used as the URI base instead.\n",
                    "format": "uri"
                  },
                  "policyUri": {
                    "type": "string",
                    "description": "The URL of the \"Policy\" of the service.\n\nThe value of this property is used as `op_policy_uri` property in the [OpenID Provider Metadata](http://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n",
                    "format": "uri"
                  },
                  "tosUri": {
                    "type": "string",
                    "description": "The URL of the \"Terms Of Service\" of the service.\n\nThe value of this property is used as `op_tos_uri` property in the [OpenID Provider Metadata](http://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n",
                    "format": "uri"
                  },
                  "serviceDocumentation": {
                    "type": "string",
                    "description": "The URL of a page where documents for developers can be found.\n\nThe value of this property is used as `service_documentation` property in the [OpenID Provider Metadata](http://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n",
                    "format": "uri"
                  },
                  "backchannelAuthenticationEndpoint": {
                    "type": "string",
                    "description": "The URI of backchannel authentication endpoint, which is defined in the specification of [CIBA\n(Client Initiated Backchannel Authentication)](https://openid.net/specs/openid-client-initiated-backchannel-authentication-core-1_0.html).\n",
                    "format": "uri"
                  },
                  "supportedBackchannelTokenDeliveryModes": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EnumValue4"
                    },
                    "description": "The supported backchannel token delivery modes. This property corresponds to the `backchannel_token_delivery_modes_supported`\nmetadata.\n\nBackchannel token delivery modes are defined in the specification of [CIBA (Client Initiated\nBackchannel Authentication)](https://openid.net/specs/openid-client-initiated-backchannel-authentication-core-1_0.html).\n"
                  },
                  "backchannelAuthReqIdDuration": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The duration of backchannel authentication request IDs issued from the backchannel authentication\nendpoint in seconds. This is used as the value of the `expires_in` property in responses from\nthe backchannel authentication endpoint.\n"
                  },
                  "backchannelPollingInterval": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The minimum interval between polling requests to the token endpoint from client applications in\nseconds. This is used as the value of the `interval` property in responses from the backchannel\nauthentication endpoint.\n"
                  },
                  "backchannelUserCodeParameterSupported": {
                    "type": "boolean",
                    "description": "The boolean flag which indicates whether the `user_code` request parameter is supported at the\nbackchannel authentication endpoint. This property corresponds to the `backchannel_user_code_parameter_supported`\nmetadata.\n"
                  },
                  "backchannelBindingMessageRequiredInFapi": {
                    "type": "boolean",
                    "description": "The flag to indicate whether the `binding_message` request parameter is always required whenever\na backchannel authentication request is judged as a request for Financial-grade API.\n\nThe FAPI-CIBA profile requires that the authorization server _\"shall ensure unique authorization\ncontext exists in the authorization request or require a `binding_message` in the authorization\nrequest\"_ (FAPI-CIBA, 5.2.2, 2). The simplest way to fulfill this requirement is to set this property\nto `true`.\n\nIf this property is set to `false`, the `binding_message` request parameter remains optional\neven in FAPI context, but in exchange, your authorization server must implement a custom mechanism\nthat ensures each backchannel authentication request has unique context.\n"
                  },
                  "deviceAuthorizationEndpoint": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URI of the device authorization endpoint.\n\nDevice authorization endpoint is defined in the specification of OAuth 2.0 Device Authorization Grant.\n"
                  },
                  "deviceVerificationUri": {
                    "type": "string",
                    "format": "uri",
                    "description": "The verification URI for the device flow. This URI is used as the value of the `verification_uri`\nparameter in responses from the device authorization endpoint.\n"
                  },
                  "deviceVerificationUriComplete": {
                    "type": "string",
                    "format": "uri",
                    "description": "The verification URI for the device flow with a placeholder for a user code. This URI is used\nto build the value of the `verification_uri_complete` parameter in responses from the device\nauthorization endpoint.\n\nIt is expected that the URI contains a fixed string `USER_CODE` somewhere as a placeholder for\na user code. For example, like the following.\n\n`https://example.com/device?user\\_code=USER\\_CODE`\n\nThe fixed string is replaced with an actual user code when Authlete builds a verification URI\nwith a user code for the `verification_uri_complete` parameter.\n\nIf this URI is not set, the `verification_uri_complete` parameter won't appear in device authorization\nresponses.\n"
                  },
                  "deviceFlowCodeDuration": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The duration of device verification codes and end-user verification codes issued from the device\nauthorization endpoint in seconds. This is used as the value of the `expires_in` property in responses\nfrom the device authorization endpoint.\n"
                  },
                  "deviceFlowPollingInterval": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The minimum interval between polling requests to the token endpoint from client applications in\nseconds in device flow. This is used as the value of the `interval` property in responses from\nthe device authorization endpoint.\n"
                  },
                  "userCodeCharset": {
                    "$ref": "#/components/schemas/EnumValue5"
                  },
                  "userCodeLength": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The length of end-user verification codes (`user_code`) for Device Flow.\n"
                  },
                  "supportedTrustFrameworks": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Trust frameworks supported by this service. This corresponds to the `trust_frameworks_supported`\n[metadata](https://openid.net/specs/openid-connect-4-identity-assurance-1_0.html#rfc.section.7).\n"
                  },
                  "supportedEvidence": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Evidence supported by this service. This corresponds to the `evidence_supported` [metadata](https://openid.net/specs/openid-connect-4-identity-assurance-1_0.html#rfc.section.7).\n"
                  },
                  "supportedIdentityDocuments": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Identity documents supported by this service. This corresponds to the `id_documents_supported`\n[metadata](https://openid.net/specs/openid-connect-4-identity-assurance-1_0.html#rfc.section.7).\n"
                  },
                  "supportedVerificationMethods": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Verification methods supported by this service. This corresponds to the `id_documents_verification_methods_supported`\n[metadata](https://openid.net/specs/openid-connect-4-identity-assurance-1_0.html#rfc.section.7).\n"
                  },
                  "supportedVerifiedClaims": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Verified claims supported by this service. This corresponds to the `claims_in_verified_claims_supported`\n[metadata](https://openid.net/specs/openid-connect-4-identity-assurance-1_0.html#rfc.section.7).\n"
                  },
                  "verifiedClaimsValidationSchemaSet": {
                    "$ref": "#/components/schemas/EnumValue6"
                  },
                  "attributes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "The key part."
                        },
                        "value": {
                          "type": "string",
                          "description": "The value part."
                        }
                      }
                    },
                    "description": "The attributes of this service.\n"
                  },
                  "nbfOptional": {
                    "type": "boolean",
                    "description": "The flag indicating whether the nbf claim in the request object is optional even when the authorization\nrequest is regarded as a FAPI-Part2 request.\n\nThe final version of Financial-grade API was approved in January, 2021. The Part 2 of the final\nversion has new requirements on lifetime of request objects. They require that request objects\ncontain an `nbf` claim and the lifetime computed by `exp` - `nbf` be no longer than 60 minutes.\n\nTherefore, when an authorization request is regarded as a FAPI-Part2 request, the request object\nused in the authorization request must contain an nbf claim. Otherwise, the authorization server\nrejects the authorization request.\n\nWhen this flag is `true`, the `nbf` claim is treated as an optional claim even when the authorization\nrequest is regarded as a FAPI-Part2 request. That is, the authorization server does not perform\nthe validation on lifetime of the request object.\n\nSkipping the validation is a violation of the FAPI specification. The reason why this flag has\nbeen prepared nevertheless is that the new requirements (which do not exist in the Implementer's\nDraft 2 released in October, 2018) have big impacts on deployed implementations of client\napplications and Authlete thinks there should be a mechanism whereby to make the migration\nfrom ID2 to Final smooth without breaking live systems.\n"
                  },
                  "issSuppressed": {
                    "type": "boolean",
                    "description": "The flag indicating whether generation of the iss response parameter is suppressed.\n\n\"OAuth 2.0 Authorization Server Issuer Identifier in Authorization Response\" has defined a new\nauthorization response parameter, `iss`, as a countermeasure for a certain type of mix-up attacks.\n\nThe specification requires that the `iss` response parameter always be included in authorization\nresponses unless JARM (JWT Secured Authorization Response Mode) is used.\n\nWhen this flag is `true`, the authorization server does not include the `iss` response parameter\nin authorization responses. By turning this flag on and off, developers of client applications\ncan experiment the mix-up attack and the effect of the `iss` response parameter.\n\nNote that this flag should not be `true` in production environment unless there are special\nreasons for it.\n"
                  },
                  "supportedCustomClientMetadata": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "custom client metadata supported by this service.\n\nStandard specifications define client metadata as necessary. The following are such examples.\n\n* [OpenID Connect Dynamic Client Registration 1.0](https://openid.net/specs/openid-connect-registration-1_0.html)\n* [RFC 7591 OAuth 2.0 Dynamic Client Registration Protocol](https://www.rfc-editor.org/rfc/rfc7591.html)\n* [RFC 8705 OAuth 2.0 Mutual-TLS Client Authentication and Certificate-Bound Access Tokens](https://www.rfc-editor.org/rfc/rfc8705.html)\n* [OpenID Connect Client-Initiated Backchannel Authentication Flow - Core 1.0](https://openid.net/specs/openid-client-initiated-backchannel-authentication-core-1_0.html)\n* [The OAuth 2.0 Authorization Framework: JWT Secured Authorization Request (JAR)](https://datatracker.ietf.org/doc/draft-ietf-oauth-jwsreq/)\n* [Financial-grade API: JWT Secured Authorization Response Mode for OAuth 2.0 (JARM)](https://openid.net/specs/openid-financial-api-jarm.html)\n* [OAuth 2.0 Pushed Authorization Requests (PAR)](https://datatracker.ietf.org/doc/rfc9126/)\n* [OAuth 2.0 Rich Authorization Requests (RAR)](https://datatracker.ietf.org/doc/draft-ietf-oauth-rar/)\n\nStandard client metadata included in Client Registration Request and Client Update Request (cf.\n[OIDC DynReg](https://openid.net/specs/openid-connect-registration-1_0.html), [RFC 7591](https://www.rfc-editor.org/rfc/rfc7591.html)\nand [RFC 7592](https://www.rfc-editor.org/rfc/rfc7592.html)) are, if supported by Authlete, stored\ninto Authlete database. On the other hand, unrecognized client metadata are discarded.\n\nBy listing up custom client metadata in advance by using this property (`supportedCustomClientMetadata`),\nAuthlete can recognize them and stores their values into the database. The stored custom client\nmetadata values can be referenced by `customMetadata`.\n"
                  },
                  "tokenExpirationLinked": {
                    "type": "boolean",
                    "description": "The flag indicating whether the expiration date of an access token never exceeds that of the\ncorresponding refresh token.\n\nWhen a new access token is issued by a refresh token request (= a token request with `grant_type=refresh_token`),\nthe expiration date of the access token may exceed the expiration date of the corresponding\nrefresh token. This behavior itself is not wrong and may happen when `refreshTokenKept` is\n`true` and/or when `refreshTokenDurationKept` is `true`.\n\nWhen this flag is `true`, the expiration date of an access token never exceeds that of the corresponding\nrefresh token regardless of the calculated duration based on other settings such as `accessTokenDuration`,\n`accessTokenDuration` in `extension` and `access_token.duration` scope attribute.\n\nIt is technically possible to set a value which is bigger than the duration of refresh tokens\nas the duration of access tokens although it is strange. In the case, the duration of an access\ntoken becomes longer than the duration of the refresh token which is issued together with the\naccess token. Even if the duration values are configured so, if this flag is `true`, the expiration\ndate of the access token does not exceed that of the refresh token. That is, the duration of\nthe access token will be shortened, and as a result, the access token and the refresh token\nwill have the same expiration date.\n"
                  },
                  "frontChannelRequestObjectEncryptionRequired": {
                    "type": "boolean",
                    "description": "The flag indicating whether encryption of request object is required when the request object\nis passed through the front channel.\n\nThis flag does not affect the processing of request objects at the Pushed Authorization Request\nEndpoint, which is defined in [OAuth 2.0 Pushed Authorization Requests](https://datatracker.ietf.org/doc/rfc9126/).\nUnecrypted request objects are accepted at the endpoint even if this flag is `true`.\n\nThis flag does not indicate whether a request object is always required. There is a different\nflag, `requestObjectRequired`, for the purpose. See the description of `requestObjectRequired`\nfor details.\n\nEven if this flag is `false`, encryption of request object is required if the `frontChannelRequestObjectEncryptionRequired`\nflag of the client is `true`.\n"
                  },
                  "requestObjectEncryptionAlgMatchRequired": {
                    "type": "boolean",
                    "description": "The flag indicating whether the JWE alg of encrypted request object must match the `request_object_encryption_alg`\nclient metadata of the client that has sent the request object.\n\nThe request_object_encryption_alg client metadata itself is defined in [OpenID Connect Dynamic\nClient Registration 1.0](https://openid.net/specs/openid-connect-registration-1_0.html) as follows.\n\n> request_object_encryption_alg\n>\n> OPTIONAL. JWE [JWE] alg algorithm [JWA] the RP is declaring that it may use for encrypting\nRequest Objects sent to the OP. This parameter SHOULD be included when symmetric encryption\nwill be used, since this signals to the OP that a client_secret value needs to be returned\nfrom which the symmetric key will be derived, that might not otherwise be returned. The RP\nMAY still use other supported encryption algorithms or send unencrypted Request Objects, even\nwhen this parameter is present. If both signing and encryption are requested, the Request Object\nwill be signed then encrypted, with the result being a Nested JWT, as defined in [JWT]. The\ndefault, if omitted, is that the RP is not declaring whether it might encrypt any Request Objects.\n\nThe point here is \"The RP MAY still use other supported encryption algorithms or send unencrypted\nRequest Objects, even when this parameter is present.\"\n\nThe Client's property that represents the client metadata is `requestEncryptionAlg`. See the\ndescription of `requestEncryptionAlg` for details.\n\nEven if this flag is `false`, the match is required if the `requestObjectEncryptionAlgMatchRequired`\nflag of the client is `true`.\n"
                  },
                  "requestObjectEncryptionEncMatchRequired": {
                    "type": "boolean",
                    "description": "The flag indicating whether the JWE `enc` of encrypted request object must match the `request_object_encryption_enc`\nclient metadata of the client that has sent the request object.\n\nThe `request_object_encryption_enc` client metadata itself is defined in [OpenID Connect Dynamic\nClient Registration 1.0](https://openid.net/specs/openid-connect-registration-1_0.html) as follows.\n\n> request_object_encryption_enc\n>\n> OPTIONAL. JWE enc algorithm [JWA] the RP is declaring that it may use for encrypting Request\nObjects sent to the OP. If request_object_encryption_alg is specified, the default for this\nvalue is A128CBC-HS256. When request_object_encryption_enc is included, request_object_encryption_alg\nMUST also be provided.\n\nThe Client's property that represents the client metadata is `requestEncryptionEnc`. See the\ndescription of `requestEncryptionEnc` for details.\n\nEven if this flag is false, the match is required if the `requestObjectEncryptionEncMatchRequired`\nflag is `true`.\n"
                  },
                  "hsmEnabled": {
                    "type": "boolean",
                    "description": "The flag indicating whether HSM (Hardware Security Module) support is enabled for this service.\n\nWhen this flag is `false`, keys managed in HSMs are not used even if they exist. In addition,\n`/api/hsk/*` APIs reject all requests.\n\nEven if this flag is `true`, HSM-related features do not work if the configuration of the Authlete\nserver you are using does not support HSM.\n"
                  },
                  "hsks": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "Holds information about a key managed in an HSM (Hardware Security Module)\n",
                      "properties": {
                        "kty": {
                          "type": "string",
                          "description": "The key type (EC or RSA)\n"
                        },
                        "use": {
                          "type": "string",
                          "description": "Get the use of the key on the HSM.\nWhen the key use is \"sig\" (signature), the private key on the HSM is used to sign data and the corresponding public key is used to verify the signature.\nWhen the key use is \"enc\" (encryption), the private key on the HSM is used to decrypt encrypted data which have been encrypted with the corresponding public key\n"
                        },
                        "kid": {
                          "type": "string",
                          "description": "Key ID for the key on the HSM.\n"
                        },
                        "hsmName": {
                          "type": "string",
                          "description": "The name of the HSM.\nThe identifier for the HSM that sits behind the Authlete server. For example, \"google\".\n"
                        },
                        "handle": {
                          "type": "string",
                          "description": "The handle for the key on the HSM.\nA handle is a base64url-encoded 256-bit random value (43 letters) which is assigned by Authlete on the call of the /api/hsk/create API\n"
                        },
                        "publicKey": {
                          "type": "string",
                          "description": "The public key that corresponds to the key on the HSM.\n"
                        },
                        "alg": {
                          "type": "string",
                          "description": "The algorithm of the key on the HSM. When the key use is `\"sig\"`, the algorithm represents a\nsigning algorithm such as `\"ES256\"`. When the key use is `\"enc\"`, the algorithm represents an\nencryption algorithm such as `\"RSA-OAEP-256\"`.\n"
                        }
                      }
                    },
                    "description": "The information about keys managed on HSMs (Hardware Security Modules).\n\nThis `hsks` property is output only, meaning that `hsks` in requests to `/api/service/create`\nAPI and `/api/service/update` API do not have any effect. The contents of this property is controlled\nonly by `/api/hsk/*` APIs.\n"
                  },
                  "grantManagementEndpoint": {
                    "type": "string",
                    "description": "The URL of the grant management endpoint.\n"
                  },
                  "grantManagementActionRequired": {
                    "type": "boolean",
                    "description": "The flag indicating whether every authorization request (and any request serving as an authorization\nrequest such as CIBA backchannel authentication request and device authorization request) must\ninclude the `grant_management_action` request parameter.\n\nThis property corresponds to the `grant_management_action_required` server metadata defined\nin [Grant Management for OAuth 2.0](https://openid.net/specs/fapi-grant-management.html).\n\nNote that setting true to this property will result in blocking all public clients because\nthe specification requires that grant management be usable only by confidential clients for\nsecurity reasons.\n"
                  },
                  "unauthorizedOnClientConfigSupported": {
                    "type": "boolean",
                    "description": "The flag indicating whether Authlete's `/api/client/registration` API uses `UNAUTHORIZED` as\na value of the `action` response parameter when appropriate.\n\nThe `UNAUTHORIZED` enum value was initially not defined as a possible value of the `action`\nparameter in an `/api/client/registration` API response. This means that implementations of\nclient `configuration` endpoint were not able to conform to [RFC 7592](https://www.rfc-editor.org/rfc/rfc7592.html)\nstrictly.\n\nFor backward compatibility (to avoid breaking running systems), Authlete's `/api/client/registration`\nAPI does not return the `UNAUTHORIZED` enum value if this flag is not turned on.\n\nThe steps an existing implementation of client configuration endpoint has to do in order to\nconform to the requirement related to \"401 Unauthorized\" are as follows.\n\n1. Update the Authlete library (e.g. authlete-java-common) your system is using.\n2. Update your implementation of client configuration endpoint so that it can handle the\n`UNAUTHORIZED` action.\n3. Turn on this `unauthorizedOnClientConfigSupported` flag.\n"
                  },
                  "dcrScopeUsedAsRequestable": {
                    "type": "boolean",
                    "description": "The flag indicating whether the `scope` request parameter in dynamic client registration and\nupdate requests (RFC 7591 and RFC 7592) is used as scopes that the client can request.\n\nLimiting the range of scopes that a client can request is achieved by listing scopes in the\n`client.extension.requestableScopes` property and setting the `client.extension.requestableScopesEnabled`\nproperty to `true`. This feature is called \"requestable scopes\".\n\nThis property affects behaviors of `/api/client/registration` and other family APIs.\n"
                  },
                  "endSessionEndpoint": {
                    "type": "string",
                    "format": "uri",
                    "description": "The endpoint for clients ending the sessions.\n\nA URL that starts with `https://` and has no fragment component. For example, `https://example.com/auth/endSession`.\n\nThe value of this property is used as `end_session_endpoint` property in the [OpenID Provider\nMetadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\n"
                  },
                  "loopbackRedirectionUriVariable": {
                    "type": "boolean",
[...]
