<!doctype html> <!-- Important: must specify -->
<html>
  <head>
    <meta charset="utf-8"> <!-- Important: rapi-doc uses utf8 characters -->
    <script type="module" src="/js/rapidoc-min.js"></script>
    <script type="text/javascript" src="/js/api-doc.js"></script>
  </head>
  <body>
    <rapi-doc
      id="apiDoc"
      spec-url="<%- `/${req.params.locale}/${req.params.serverType}/${req.versionInfo.version}/spec` %>"
      allow-try="<%- allowTry %>"
      allow-spec-file-download="true"
      schema-expand-level=1
      schema-style="tree"
      schema-description-expanded="true"
      show-components='true'
      show-header="false"
      theme="light"
      primary-color="#1472aa"
      nav-accent-color="#dee5ec"
      use-path-in-nav-bar="true"
      render-style="focused">
      <div slot="nav-logo">
<%- include('partials/locale-switcher', { config: config, req: req }) %>
<%- include('partials/document-switcher', { config: config, translations: translations, req: req }) %>
      </div>
    </rapi-doc>
  </body>
</html>