openapi: 3.1.0
info:
  title: Authlete API Explorer - Test
  description: Test version for Scalar debugging
  version: 3.0.16
  contact: {}
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
  - url: https://us.authlete.com
    description: US Cluster
    variables: {}
paths:
  /api/{serviceId}/service/get:
    get:
      summary: Get Service
      description: >
        Get a service.


        If the access token can only view or modify clients underneath this
        service, but does not

        have access to view this service directly, a limited view of the service
        will be returned.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          schema:
            type: string
          required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceGetApiResponse200Json1"
              examples:
                full:
                  summary: Example showing the full service object.
                  value:
                    accessTokenDuration: 3600
                    accessTokenType: Bearer
                    allowableClockSkew: 0
                    apiKey: 21653835348762
                    attributes:
                      - key: attribute1-key
                        value: attribute1-value
                      - key: attribute2-key
                        value: attribute2-value
                    authorizationEndpoint: https://my-service.example.com/authz
                    authorizationResponseDuration: 0
                    backchannelAuthReqIdDuration: 0
                    backchannelBindingMessageRequiredInFapi: false
                    backchannelPollingInterval: 0
                    backchannelUserCodeParameterSupported: false
                    claimShortcutRestrictive: false
                    clientIdAliasEnabled: true
                    clientsPerDeveloper: 0
                    createdAt: 1639373421000
                    dcrScopeUsedAsRequestable: false
                    deviceFlowCodeDuration: 0
                    deviceFlowPollingInterval: 0
                    directAuthorizationEndpointEnabled: false
                    directIntrospectionEndpointEnabled: false
                    directJwksEndpointEnabled: false
                    directRevocationEndpointEnabled: false
                    directTokenEndpointEnabled: false
                    directUserInfoEndpointEnabled: false
                    dynamicRegistrationSupported: false
                    errorDescriptionOmitted: false
                    errorUriOmitted: false
                    frontChannelRequestObjectEncryptionRequired: false
                    grantManagementActionRequired: false
                    hsmEnabled: false
                    idTokenDuration: 0
                    introspectionEndpoint: https://my-service.example.com/introspection
                    issSuppressed: false
                    issuer: https://my-service.example.com
                    metadata:
                      - key: clientCount
                        value: "1"
                    missingClientIdAllowed: false
                    modifiedAt: 1639373421000
                    mutualTlsValidatePkiCertChain: false
                    nbfOptional: false
                    number: 5041
                    parRequired: false
                    pkceRequired: true
                    pkceS256Required: false
                    pushedAuthReqDuration: 0
                    refreshTokenDuration: 3600
                    refreshTokenDurationKept: false
                    refreshTokenDurationReset: false
                    refreshTokenKept: false
                    requestObjectEncryptionAlgMatchRequired: false
                    requestObjectEncryptionEncMatchRequired: false
                    requestObjectRequired: false
                    revocationEndpoint: https://my-service.example.com/revocation
                    scopeRequired: false
                    serviceName: My service
                    serviceOwnerNumber: 2
                    singleAccessTokenPerSubject: false
                    supportedClaimTypes:
                      - NORMAL
                    supportedDisplays:
                      - PAGE
                    supportedGrantTypes:
                      - AUTHORIZATION_CODE
                      - REFRESH_TOKEN
                    supportedIntrospectionAuthMethods:
                      - CLIENT_SECRET_BASIC
                    supportedResponseTypes:
                      - CODE
                    supportedRevocationAuthMethods:
                      - CLIENT_SECRET_BASIC
                    supportedScopes:
                      - defaultEntry: false
                        description: A permission to read your history.
                        name: history.read
                      - defaultEntry: false
                        description: A permission to read your timeline.
                        name: timeline.read
                    supportedTokenAuthMethods:
                      - CLIENT_SECRET_BASIC
                    tlsClientCertificateBoundAccessTokens: false
                    tokenEndpoint: https://my-service.example.com/token
                    tokenExpirationLinked: false
                    traditionalRequestObjectProcessingApplied: false
                    unauthorizedOnClientConfigSupported: false
                    userCodeLength: 0
                limited:
                  summary: Example showing the limited service object.
                  value:
                    apiKey: 21653835348762
                    description: This Service.
                    number: 5041
                    serviceName: My service
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceGetApiResponse400Json1"
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
        "401":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceGetApiResponse401Json1"
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header is missing."
        "403":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceGetApiResponse403Json1"
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)
                  is locked."
        "500":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceGetApiResponse500Json1"
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
      operationId: service_get_api
      x-code-samples:
        - lang: shell
          label: curl
          source: >
            curl -v https://us.authlete.com/api/21653835348762/service/get \

            -u 'Authorization: Bearer
            V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            long serviceId = ...;

            api.getService(serviceId);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            serviceId = ...

            api.getService(serviceId)
      tags:
        - Service Management
  /api/service/get/list:
    get:
      summary: List Services
      description: >
        Get a list of services.


        If the access token can only view or modify clients underneath a
        service, but does not

        have access to view that service directly, a limited view of the service
        will be returned.

        Otherwise, all properties of the service are returned.


        If the access token is an administrative token, this returns a list of
        all services on the Authlete instance.

        Otherwise, all services that the access token can view, even in a
        limited fashion, are returned.
      parameters:
        - in: query
          name: start
          schema:
            type: integer
            format: int32
          required: false
          description: Start index (inclusive) of the result set. The default value is 0.
            Must not be a negative number.
        - in: query
          name: end
          schema:
            type: integer
            format: int32
          required: false
          description: End index (exclusive) of the result set. The default value is 5.
            Must not be a negative number.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceGetListApiResponse200Json1"
              examples:
                full:
                  summary: Example showing the full service view.
                  value:
                    start: 0
                    end: 5
                    totalCount: 1
                    services:
                      - accessTokenDuration: 3600
                        accessTokenType: Bearer
                        allowableClockSkew: 0
                        apiKey: 21653835348762
                        apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                        attributes:
                          - key: attribute1-key
                            value: attribute1-value
                          - key: attribute2-key
                            value: attribute2-value
                        authorizationEndpoint: https://as.example.com/authz
                        authorizationResponseDuration: 0
                        backchannelAuthReqIdDuration: 0
                        backchannelBindingMessageRequiredInFapi: false
                        backchannelPollingInterval: 0
                        backchannelUserCodeParameterSupported: false
                        claimShortcutRestrictive: false
                        clientIdAliasEnabled: true
                        createdAt: 1639373421000
                        dcrScopeUsedAsRequestable: false
                        deviceFlowCodeDuration: 0
                        deviceFlowPollingInterval: 0
                        directAuthorizationEndpointEnabled: false
                        directIntrospectionEndpointEnabled: false
                        directJwksEndpointEnabled: false
                        directRevocationEndpointEnabled: false
                        directTokenEndpointEnabled: false
                        directUserInfoEndpointEnabled: false
                        dynamicRegistrationSupported: false
                        errorDescriptionOmitted: false
                        errorUriOmitted: false
                        frontChannelRequestObjectEncryptionRequired: false
                        grantManagementActionRequired: false
                        hsmEnabled: false
                        idTokenDuration: 0
                        introspectionEndpoint: https://my-service.example.com/introspection
                        issSuppressed: false
                        issuer: https://my-service.example.com
                        metadata:
                          - key: clientCount
                            value: "1"
                        missingClientIdAllowed: false
                        modifiedAt: 1639373421000
                        mutualTlsValidatePkiCertChain: false
                        nbfOptional: false
                        number: 5041
                        parRequired: false
                        pkceRequired: true
                        pkceS256Required: false
                        pushedAuthReqDuration: 0
                        refreshTokenDuration: 3600
                        refreshTokenDurationKept: false
                        refreshTokenDurationReset: false
                        refreshTokenKept: false
                        requestObjectEncryptionAlgMatchRequired: false
                        requestObjectEncryptionEncMatchRequired: false
                        requestObjectRequired: false
                        revocationEndpoint: https://my-service.example.com/revocation
                        scopeRequired: false
                        serviceName: My service
                        serviceOwnerNumber: 2
                        singleAccessTokenPerSubject: false
                        supportedClaimTypes:
                          - NORMAL
                        supportedDisplays:
                          - PAGE
                        supportedGrantTypes:
                          - AUTHORIZATION_CODE
                          - REFRESH_TOKEN
                        supportedIntrospectionAuthMethods:
                          - CLIENT_SECRET_BASIC
                        supportedResponseTypes:
                          - CODE
                        supportedRevocationAuthMethods:
                          - CLIENT_SECRET_BASIC
                        supportedScopes:
                          - defaultEntry: false
                            description: A permission to read your history.
                            name: history.read
                          - defaultEntry: false
                            description: A permission to read your timeline.
                            name: timeline.read
                        supportedTokenAuthMethods:
                          - CLIENT_SECRET_BASIC
                        tlsClientCertificateBoundAccessTokens: false
                        tokenEndpoint: https://my-service.example.com/token
                        tokenExpirationLinked: false
                        traditionalRequestObjectProcessingApplied: false
                        unauthorizedOnClientConfigSupported: false
                        userCodeLength: 0
                limited:
                  summary: Example showing the limited service view.
                  value:
                    start: 0
                    end: 5
                    totalCount: 1
                    services:
                      - apiKey: 21653835348762
                        clientIdAliasEnabled: true
                        number: 5041
                        serviceName: My service
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceGetListApiResponse400Json1"
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
        "401":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceGetListApiResponse401Json1"
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header is missing."
        "403":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceGetListApiResponse403Json1"
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)
                  is locked."
        "500":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceGetListApiResponse500Json1"
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
      operationId: service_get_list_api
      x-code-samples:
        - lang: shell
          label: curl
          source: >
            curl -v
            https://us.authlete.com/api/9503564192/service/get/list?start=0\&end=5
            \

            -u 'Authorization: Bearer
            V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            int start = 0;
            int end = 5;

            api.getServiceList(start, end);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            start = 0
            end = 5

            api.getServiceList(start, end)
      tags:
        - Service Management
  /api/service/create:
    post:
      summary: Create Service
      description: |
        Create a new service.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceCreateApiRequestBodyJson1"
            example:
              serviceName: My service
              issuer: https://my-service.example.com
              clientIdAliasEnabled: true
              supportedGrantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
              supportedResponseTypes:
                - CODE
              authorizationEndpoint: https://my-service.example.com/authz
              pkceRequired: true
              tokenEndpoint: https://my-service.example.com/token
              supportedTokenAuthMethods:
                - CLIENT_SECRET_BASIC
              revocationEndpoint: https://my-service.example.com/revocation
              supportedRevocationAuthMethods:
                - CLIENT_SECRET_BASIC
              introspectionEndpoint: https://my-service.example.com/introspection
              supportedIntrospectionAuthMethods:
                - CLIENT_SECRET_BASIC
              accessTokenType: Bearer
              accessTokenDuration: 3600
              refreshTokenDuration: 3600
              supportedScopes:
                - name: timeline.read
                  defaultEntry: false
                  description: A permission to read your timeline.
                - name: history.read
                  defaultEntry: false
                  description: A permission to read your history.
              attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ServiceCreateApiRequestBody1"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceCreateApiResponse200Json1"
              example:
                accessTokenDuration: 3600
                accessTokenType: Bearer
                allowableClockSkew: 0
                apiKey: 21653835348762
                apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                authorizationEndpoint: https://my-service.example.com/authz
                authorizationResponseDuration: 0
                backchannelAuthReqIdDuration: 0
                backchannelBindingMessageRequiredInFapi: false
                backchannelPollingInterval: 0
                backchannelUserCodeParameterSupported: false
                claimShortcutRestrictive: false
                clientIdAliasEnabled: true
                clientsPerDeveloper: 0
                createdAt: 1639373421000
                dcrScopeUsedAsRequestable: false
                deviceFlowCodeDuration: 0
                deviceFlowPollingInterval: 0
                directAuthorizationEndpointEnabled: false
                directIntrospectionEndpointEnabled: false
                directJwksEndpointEnabled: false
                directRevocationEndpointEnabled: false
                directTokenEndpointEnabled: false
                directUserInfoEndpointEnabled: false
                dynamicRegistrationSupported: false
                errorDescriptionOmitted: false
                errorUriOmitted: false
                frontChannelRequestObjectEncryptionRequired: false
                grantManagementActionRequired: false
                hsmEnabled: false
                idTokenDuration: 0
                introspectionEndpoint: https://my-service.example.com/introspection
                issSuppressed: false
                issuer: https://my-service.example.com
                metadata:
                  - key: clientCount
                    value: "0"
                missingClientIdAllowed: false
                modifiedAt: 1639373421000
                mutualTlsValidatePkiCertChain: false
                nbfOptional: false
                number: 5041
                parRequired: false
                pkceRequired: true
                pkceS256Required: false
                pushedAuthReqDuration: 0
                refreshTokenDuration: 3600
                refreshTokenDurationKept: false
                refreshTokenDurationReset: false
                refreshTokenKept: false
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                revocationEndpoint: https://my-service.example.com/revocation
                scopeRequired: false
                serviceName: My service
                serviceOwnerNumber: 2
                singleAccessTokenPerSubject: false
                supportedClaimTypes:
                  - NORMAL
                supportedDisplays:
                  - PAGE
                supportedGrantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                supportedIntrospectionAuthMethods:
                  - CLIENT_SECRET_BASIC
                supportedResponseTypes:
                  - CODE
                supportedRevocationAuthMethods:
                  - CLIENT_SECRET_BASIC
                supportedScopes:
                  - defaultEntry: false
                    description: A permission to read your history.
                    name: history.read
                  - defaultEntry: false
                    description: A permission to read your timeline.
                    name: timeline.read
                supportedTokenAuthMethods:
                  - CLIENT_SECRET_BASIC
                tlsClientCertificateBoundAccessTokens: false
                tokenEndpoint: https://my-service.example.com/token
                tokenExpirationLinked: false
                traditionalRequestObjectProcessingApplied: false
                unauthorizedOnClientConfigSupported: false
                userCodeLength: 0
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceCreateApiResponse400Json1"
              example:
                resultCode: A001201
                resultMessage: "[A001201] /auth/authorization, TLS must be used."
        "401":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceCreateApiResponse401Json1"
              example:
                resultCode: A001202
                resultMessage: "[A001202] /auth/authorization, Authorization header is missing."
        "403":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceCreateApiResponse403Json1"
              example:
                resultCode: A001215
                resultMessage: "[A001215] /auth/authorization, The client (ID = 26837717140341)
                  is locked."
        "500":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceCreateApiResponse500Json1"
              example:
                resultCode: A001101
                resultMessage: "[A001101] /auth/authorization, Authlete Server error."
      operationId: service_create_api
      x-code-samples:
        - lang: shell
          label: curl
          source: >
            curl -v -X POST https://us.authlete.com/api/service/create \

            -H 'Content-Type:application/json' \

            -u 'Authorization: Bearer
            V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \

            -d '{ "serviceName": "My Service", ... }'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            Service service = new Service();
            service.setServiceName("My Service");
            ...

            api.createService(service);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            service = Service()
            service.serviceName = 'My Service'
            ...

            api.createService(service)
      tags:
        - Service Management
components:
  schemas:
    AccessToken:
      type: object
      properties:
        accessTokenHash:
          type: string
          description: The hash of the access token.
        accessTokenExpiresAt:
          type: integer
          format: int64
          description: The timestamp at which the access token will expire.
        refreshTokenHash:
          type: string
          description: The hash of the refresh token.
        refreshTokenExpiresAt:
          type: integer
          format: int64
          description: The timestamp at which the refresh token will expire.
        createdAt:
          type: integer
          format: int64
          description: |
            The timestamp at which the access token was first created.
        lastRefreshedAt:
          type: integer
          format: int64
          description: >
            The timestamp at which the access token was last refreshed using the
            refresh token.
        clientId:
          type: integer
          format: int64
          description: |
            The ID of the client associated with the access token.
        subject:
          type: string
          description: |
            The subject (= unique user ID) associated with the access token.
        grantType:
          $ref: "#/components/schemas/AccessTokenGrantType1"
        scopes:
          type: array
          items:
            type: string
          description: |
            The scopes associated with the access token.
        properties:
          type: array
          items:
            $ref: "#/components/schemas/AccessTokenPropertiesItems1"
          description: |
            The properties associated with the access token.
        refreshTokenScopes:
          type: array
          items:
            type: string
          description: |
            The scopes associated with the refresh token.
    ApplicationType:
      type: string
      description: >
        The application type. The value of this property affects the validation
        steps for a redirect URI.

        See the description about `redirectUris` property for more details.
      enum:
        - WEB
        - NATIVE
    AuthorizationDetails:
      type: object
      description: >
        The authorization details. This represents the value of the
        `authorization_details`

        request parameter in the preceding device authorization request which is
        defined in

        "OAuth 2.0 Rich Authorization Requests".
      properties:
        elements:
          type: array
          items:
            $ref: "#/components/schemas/AuthorizationDetailsElementsItems1"
          description: |
            Elements of this authorization details.
    ServiceGetApiResponse200Json:
      $ref: en/ServiceGetApiResponse200Json.yaml
    ServiceGetApiResponse200JsonMetadataItems:
      $ref: en/ServiceGetApiResponse200Json/ServiceGetApiResponse200JsonMetadataItems.yaml
    ServiceGetApiResponse200JsonMtlsEndpointAliasesItems:
      $ref: en/ServiceGetApiResponse200Json/ServiceGetApiResponse200JsonMtlsEndpointAliasesItems.yaml
    ServiceGetApiResponse200JsonSupportedScopesItems:
      $ref: en/ServiceGetApiResponse200Json/ServiceGetApiResponse200JsonSupportedScopesItems.yaml
    ServiceGetApiResponse200JsonSupportedScopesItemsDescriptionsItems:
      $ref: en/ServiceGetApiResponse200Json/ServiceGetApiResponse200JsonSupportedScopesItems/ServiceGetApiResponse200JsonSupportedScopesItemsDescriptionsItems.yaml
    ServiceGetApiResponse200JsonSupportedScopesItemsAttributesItems:
      $ref: en/ServiceGetApiResponse200Json/ServiceGetApiResponse200JsonSupportedScopesItems/ServiceGetApiResponse200JsonSupportedScopesItemsAttributesItems.yaml
    ServiceGetApiResponse200JsonAttributesItems:
      $ref: en/ServiceGetApiResponse200Json/ServiceGetApiResponse200JsonAttributesItems.yaml
    ServiceGetApiResponse200JsonHsksItems:
      $ref: en/ServiceGetApiResponse200Json/ServiceGetApiResponse200JsonHsksItems.yaml
    ServiceGetApiResponse200JsonTrustAnchorsItems:
      $ref: en/ServiceGetApiResponse200Json/ServiceGetApiResponse200JsonTrustAnchorsItems.yaml
    ServiceGetApiResponse200JsonCredentialIssuerMetadata:
      $ref: en/ServiceGetApiResponse200Json/ServiceGetApiResponse200JsonCredentialIssuerMetadata.yaml
    ServiceGetApiResponse400Json:
      $ref: en/ServiceGetApiResponse400Json.yaml
    ServiceGetApiResponse401Json:
      $ref: en/ServiceGetApiResponse401Json.yaml
    ServiceGetApiResponse403Json:
      $ref: en/ServiceGetApiResponse403Json.yaml
    ServiceGetApiResponse500Json:
      $ref: en/ServiceGetApiResponse500Json.yaml
    ServiceGetListApiResponse200Json:
      $ref: en/ServiceGetListApiResponse200Json.yaml
    ServiceGetListApiResponse200JsonServicesItems:
      $ref: en/ServiceGetListApiResponse200Json/ServiceGetListApiResponse200JsonServicesItems.yaml
    ServiceGetListApiResponse200JsonServicesItemsMetadataItems:
      $ref: en/ServiceGetListApiResponse200Json/ServiceGetListApiResponse200JsonServicesItems/ServiceGetListApiResponse200JsonServicesItemsMetadataItems.yaml
    ServiceGetListApiResponse200JsonServicesItemsMtlsEndpointAliasesItems:
      $ref: en/ServiceGetListApiResponse200Json/ServiceGetListApiResponse200JsonServicesItems/ServiceGetListApiResponse200JsonServicesItemsMtlsEndpointAliasesItems.yaml
    ServiceGetListApiResponse200JsonServicesItemsSupportedScopesItems:
      $ref: en/ServiceGetListApiResponse200Json/ServiceGetListApiResponse200JsonServicesItems/ServiceGetListApiResponse200JsonServicesItemsSupportedScopesItems.yaml
    ServiceGetListApiResponse200JsonServicesItemsSupportedScopesItemsDescriptionsItems:
      $ref: en/ServiceGetListApiResponse200Json/ServiceGetListApiResponse200JsonServicesItems/ServiceGetListApiResponse200JsonServicesItemsSupportedScopesItems/ServiceGetListApiResponse200JsonServicesItemsSupportedScopesItemsDescriptionsItems.yaml
    ServiceGetListApiResponse200JsonServicesItemsSupportedScopesItemsAttributesItems:
      $ref: en/ServiceGetListApiResponse200Json/ServiceGetListApiResponse200JsonServicesItems/ServiceGetListApiResponse200JsonServicesItemsSupportedScopesItems/ServiceGetListApiResponse200JsonServicesItemsSupportedScopesItemsAttributesItems.yaml
    ServiceGetListApiResponse200JsonServicesItemsAttributesItems:
      $ref: en/ServiceGetListApiResponse200Json/ServiceGetListApiResponse200JsonServicesItems/ServiceGetListApiResponse200JsonServicesItemsAttributesItems.yaml
    ServiceGetListApiResponse200JsonServicesItemsHsksItems:
      $ref: en/ServiceGetListApiResponse200Json/ServiceGetListApiResponse200JsonServicesItems/ServiceGetListApiResponse200JsonServicesItemsHsksItems.yaml
    ServiceGetListApiResponse200JsonServicesItemsTrustAnchorsItems:
      $ref: en/ServiceGetListApiResponse200Json/ServiceGetListApiResponse200JsonServicesItems/ServiceGetListApiResponse200JsonServicesItemsTrustAnchorsItems.yaml
    ServiceGetListApiResponse200JsonServicesItemsCredentialIssuerMetadata:
      $ref: en/ServiceGetListApiResponse200Json/ServiceGetListApiResponse200JsonServicesItems/ServiceGetListApiResponse200JsonServicesItemsCredentialIssuerMetadata.yaml
    ServiceGetListApiResponse400Json:
      $ref: en/ServiceGetListApiResponse400Json.yaml
    ServiceGetListApiResponse401Json:
      $ref: en/ServiceGetListApiResponse401Json.yaml
    ServiceGetListApiResponse403Json:
      $ref: en/ServiceGetListApiResponse403Json.yaml
    ServiceGetListApiResponse500Json:
      $ref: en/ServiceGetListApiResponse500Json.yaml
    ServiceCreateApiRequestBodyJson:
      $ref: en/ServiceCreateApiRequestBodyJson.yaml
    ServiceCreateApiRequestBodyJsonMetadataItems:
      $ref: en/ServiceCreateApiRequestBodyJson/ServiceCreateApiRequestBodyJsonMetadataItems.yaml
    ServiceCreateApiRequestBodyJsonMtlsEndpointAliasesItems:
      $ref: en/ServiceCreateApiRequestBodyJson/ServiceCreateApiRequestBodyJsonMtlsEndpointAliasesItems.yaml
    ServiceCreateApiRequestBodyJsonSupportedScopesItems:
      $ref: en/ServiceCreateApiRequestBodyJson/ServiceCreateApiRequestBodyJsonSupportedScopesItems.yaml
    ServiceCreateApiRequestBodyJsonSupportedScopesItemsDescriptionsItems:
      $ref: en/ServiceCreateApiRequestBodyJson/ServiceCreateApiRequestBodyJsonSupportedScopesItems/ServiceCreateApiRequestBodyJsonSupportedScopesItemsDescriptionsItems.yaml
    ServiceCreateApiRequestBodyJsonSupportedScopesItemsAttributesItems:
      $ref: en/ServiceCreateApiRequestBodyJson/ServiceCreateApiRequestBodyJsonSupportedScopesItems/ServiceCreateApiRequestBodyJsonSupportedScopesItemsAttributesItems.yaml
    ServiceCreateApiRequestBodyJsonAttributesItems:
      $ref: en/ServiceCreateApiRequestBodyJson/ServiceCreateApiRequestBodyJsonAttributesItems.yaml
    ServiceCreateApiRequestBodyJsonHsksItems:
      $ref: en/ServiceCreateApiRequestBodyJson/ServiceCreateApiRequestBodyJsonHsksItems.yaml
    ServiceCreateApiRequestBodyJsonTrustAnchorsItems:
      $ref: en/ServiceCreateApiRequestBodyJson/ServiceCreateApiRequestBodyJsonTrustAnchorsItems.yaml
    ServiceCreateApiRequestBodyJsonCredentialIssuerMetadata:
      $ref: en/ServiceCreateApiRequestBodyJson/ServiceCreateApiRequestBodyJsonCredentialIssuerMetadata.yaml
    ServiceCreateApiRequestBody:
      $ref: en/ServiceCreateApiRequestBody.yaml
    ServiceCreateApiRequestBodyMetadataItems:
      $ref: en/ServiceCreateApiRequestBody/ServiceCreateApiRequestBodyMetadataItems.yaml
    ServiceCreateApiRequestBodyMtlsEndpointAliasesItems:
      $ref: en/ServiceCreateApiRequestBody/ServiceCreateApiRequestBodyMtlsEndpointAliasesItems.yaml
    ServiceCreateApiRequestBodySupportedScopesItems:
      $ref: en/ServiceCreateApiRequestBody/ServiceCreateApiRequestBodySupportedScopesItems.yaml
    ServiceCreateApiRequestBodySupportedScopesItemsDescriptionsItems:
      $ref: en/ServiceCreateApiRequestBody/ServiceCreateApiRequestBodySupportedScopesItems/ServiceCreateApiRequestBodySupportedScopesItemsDescriptionsItems.yaml
    ServiceCreateApiRequestBodySupportedScopesItemsAttributesItems:
      $ref: en/ServiceCreateApiRequestBody/ServiceCreateApiRequestBodySupportedScopesItems/ServiceCreateApiRequestBodySupportedScopesItemsAttributesItems.yaml
    ServiceCreateApiRequestBodyAttributesItems:
      $ref: en/ServiceCreateApiRequestBody/ServiceCreateApiRequestBodyAttributesItems.yaml
    ServiceCreateApiRequestBodyHsksItems:
      $ref: en/ServiceCreateApiRequestBody/ServiceCreateApiRequestBodyHsksItems.yaml
    ServiceCreateApiRequestBodyTrustAnchorsItems:
      $ref: en/ServiceCreateApiRequestBody/ServiceCreateApiRequestBodyTrustAnchorsItems.yaml
    ServiceCreateApiRequestBodyCredentialIssuerMetadata:
      $ref: en/ServiceCreateApiRequestBody/ServiceCreateApiRequestBodyCredentialIssuerMetadata.yaml
    ServiceCreateApiResponse200Json:
      $ref: en/ServiceCreateApiResponse200Json.yaml
    ServiceCreateApiResponse200JsonMetadataItems:
      $ref: en/ServiceCreateApiResponse200Json/ServiceCreateApiResponse200JsonMetadataItems.yaml
    ServiceCreateApiResponse200JsonMtlsEndpointAliasesItems:
      $ref: en/ServiceCreateApiResponse200Json/ServiceCreateApiResponse200JsonMtlsEndpointAliasesItems.yaml
    ServiceCreateApiResponse200JsonSupportedScopesItems:
      $ref: en/ServiceCreateApiResponse200Json/ServiceCreateApiResponse200JsonSupportedScopesItems.yaml
    ServiceCreateApiResponse200JsonSupportedScopesItemsDescriptionsItems:
      $ref: en/ServiceCreateApiResponse200Json/ServiceCreateApiResponse200JsonSupportedScopesItems/ServiceCreateApiResponse200JsonSupportedScopesItemsDescriptionsItems.yaml
    ServiceCreateApiResponse200JsonSupportedScopesItemsAttributesItems:
      $ref: en/ServiceCreateApiResponse200Json/ServiceCreateApiResponse200JsonSupportedScopesItems/ServiceCreateApiResponse200JsonSupportedScopesItemsAttributesItems.yaml
    ServiceCreateApiResponse200JsonAttributesItems:
      $ref: en/ServiceCreateApiResponse200Json/ServiceCreateApiResponse200JsonAttributesItems.yaml
    ServiceCreateApiResponse200JsonHsksItems:
      $ref: en/ServiceCreateApiResponse200Json/ServiceCreateApiResponse200JsonHsksItems.yaml
    ServiceCreateApiResponse200JsonTrustAnchorsItems:
      $ref: en/ServiceCreateApiResponse200Json/ServiceCreateApiResponse200JsonTrustAnchorsItems.yaml
    ServiceCreateApiResponse200JsonCredentialIssuerMetadata:
      $ref: en/ServiceCreateApiResponse200Json/ServiceCreateApiResponse200JsonCredentialIssuerMetadata.yaml
    ServiceCreateApiResponse400Json:
      $ref: en/ServiceCreateApiResponse400Json.yaml
    ServiceCreateApiResponse401Json:
      $ref: en/ServiceCreateApiResponse401Json.yaml
    ServiceCreateApiResponse403Json:
      $ref: en/ServiceCreateApiResponse403Json.yaml
    ServiceCreateApiResponse500Json:
      $ref: en/ServiceCreateApiResponse500Json.yaml
    ServiceUpdateApiRequestBodyJson:
      $ref: en/ServiceUpdateApiRequestBodyJson.yaml
    ServiceUpdateApiRequestBodyJsonMetadataItems:
      $ref: en/ServiceUpdateApiRequestBodyJson/ServiceUpdateApiRequestBodyJsonMetadataItems.yaml
    ServiceUpdateApiRequestBodyJsonMtlsEndpointAliasesItems:
      $ref: en/ServiceUpdateApiRequestBodyJson/ServiceUpdateApiRequestBodyJsonMtlsEndpointAliasesItems.yaml
    ServiceUpdateApiRequestBodyJsonSupportedScopesItems:
      $ref: en/ServiceUpdateApiRequestBodyJson/ServiceUpdateApiRequestBodyJsonSupportedScopesItems.yaml
    ServiceUpdateApiRequestBodyJsonSupportedScopesItemsDescriptionsItems:
      $ref: en/ServiceUpdateApiRequestBodyJson/ServiceUpdateApiRequestBodyJsonSupportedScopesItems/ServiceUpdateApiRequestBodyJsonSupportedScopesItemsDescriptionsItems.yaml
    ServiceUpdateApiRequestBodyJsonSupportedScopesItemsAttributesItems:
      $ref: en/ServiceUpdateApiRequestBodyJson/ServiceUpdateApiRequestBodyJsonSupportedScopesItems/ServiceUpdateApiRequestBodyJsonSupportedScopesItemsAttributesItems.yaml
    ServiceUpdateApiRequestBodyJsonAttributesItems:
      $ref: en/ServiceUpdateApiRequestBodyJson/ServiceUpdateApiRequestBodyJsonAttributesItems.yaml
    ServiceUpdateApiRequestBodyJsonHsksItems:
      $ref: en/ServiceUpdateApiRequestBodyJson/ServiceUpdateApiRequestBodyJsonHsksItems.yaml
    ServiceUpdateApiRequestBodyJsonTrustAnchorsItems:
      $ref: en/ServiceUpdateApiRequestBodyJson/ServiceUpdateApiRequestBodyJsonTrustAnchorsItems.yaml
    ServiceUpdateApiRequestBodyJsonCredentialIssuerMetadata:
      $ref: en/ServiceUpdateApiRequestBodyJson/ServiceUpdateApiRequestBodyJsonCredentialIssuerMetadata.yaml
    ServiceUpdateApiRequestBody:
      $ref: en/ServiceUpdateApiRequestBody.yaml
    ServiceUpdateApiRequestBodyMetadataItems:
      $ref: en/ServiceUpdateApiRequestBody/ServiceUpdateApiRequestBodyMetadataItems.yaml
    ServiceUpdateApiRequestBodyMtlsEndpointAliasesItems:
      $ref: en/ServiceUpdateApiRequestBody/ServiceUpdateApiRequestBodyMtlsEndpointAliasesItems.yaml
    ServiceUpdateApiRequestBodySupportedScopesItems:
      $ref: en/ServiceUpdateApiRequestBody/ServiceUpdateApiRequestBodySupportedScopesItems.yaml
    ServiceUpdateApiRequestBodySupportedScopesItemsDescriptionsItems:
      $ref: en/ServiceUpdateApiRequestBody/ServiceUpdateApiRequestBodySupportedScopesItems/ServiceUpdateApiRequestBodySupportedScopesItemsDescriptionsItems.yaml
    ServiceUpdateApiRequestBodySupportedScopesItemsAttributesItems:
      $ref: en/ServiceUpdateApiRequestBody/ServiceUpdateApiRequestBodySupportedScopesItems/ServiceUpdateApiRequestBodySupportedScopesItemsAttributesItems.yaml
    ServiceUpdateApiRequestBodyAttributesItems:
      $ref: en/ServiceUpdateApiRequestBody/ServiceUpdateApiRequestBodyAttributesItems.yaml
    ServiceUpdateApiRequestBodyHsksItems:
      $ref: en/ServiceUpdateApiRequestBody/ServiceUpdateApiRequestBodyHsksItems.yaml
    ServiceUpdateApiRequestBodyTrustAnchorsItems:
      $ref: en/ServiceUpdateApiRequestBody/ServiceUpdateApiRequestBodyTrustAnchorsItems.yaml
    ServiceUpdateApiRequestBodyCredentialIssuerMetadata:
      $ref: en/ServiceUpdateApiRequestBody/ServiceUpdateApiRequestBodyCredentialIssuerMetadata.yaml
    ServiceUpdateApiResponse200Json:
      $ref: en/ServiceUpdateApiResponse200Json.yaml
    ServiceUpdateApiResponse200JsonMetadataItems:
      $ref: en/ServiceUpdateApiResponse200Json/ServiceUpdateApiResponse200JsonMetadataItems.yaml
    ServiceUpdateApiResponse200JsonMtlsEndpointAliasesItems:
      $ref: en/ServiceUpdateApiResponse200Json/ServiceUpdateApiResponse200JsonMtlsEndpointAliasesItems.yaml
    ServiceUpdateApiResponse200JsonSupportedScopesItems:
      $ref: en/ServiceUpdateApiResponse200Json/ServiceUpdateApiResponse200JsonSupportedScopesItems.yaml
    ServiceUpdateApiResponse200JsonSupportedScopesItemsDescriptionsItems:
      $ref: en/ServiceUpdateApiResponse200Json/ServiceUpdateApiResponse200JsonSupportedScopesItems/ServiceUpdateApiResponse200JsonSupportedScopesItemsDescriptionsItems.yaml
    ServiceUpdateApiResponse200JsonSupportedScopesItemsAttributesItems:
      $ref: en/ServiceUpdateApiResponse200Json/ServiceUpdateApiResponse200JsonSupportedScopesItems/ServiceUpdateApiResponse200JsonSupportedScopesItemsAttributesItems.yaml
    ServiceUpdateApiResponse200JsonAttributesItems:
      $ref: en/ServiceUpdateApiResponse200Json/ServiceUpdateApiResponse200JsonAttributesItems.yaml
    ServiceUpdateApiResponse200JsonHsksItems:
      $ref: en/ServiceUpdateApiResponse200Json/ServiceUpdateApiResponse200JsonHsksItems.yaml
    ServiceUpdateApiResponse200JsonTrustAnchorsItems:
      $ref: en/ServiceUpdateApiResponse200Json/ServiceUpdateApiResponse200JsonTrustAnchorsItems.yaml
    ServiceUpdateApiResponse200JsonCredentialIssuerMetadata:
      $ref: en/ServiceUpdateApiResponse200Json/ServiceUpdateApiResponse200JsonCredentialIssuerMetadata.yaml
    ServiceUpdateApiResponse400Json:
      $ref: en/ServiceUpdateApiResponse400Json.yaml
    ServiceUpdateApiResponse401Json:
      $ref: en/ServiceUpdateApiResponse401Json.yaml
    ServiceUpdateApiResponse403Json:
      $ref: en/ServiceUpdateApiResponse403Json.yaml
    ServiceUpdateApiResponse500Json:
      $ref: en/ServiceUpdateApiResponse500Json.yaml
    ServiceDeleteApiResponse400Json:
      $ref: en/ServiceDeleteApiResponse400Json.yaml
    ServiceDeleteApiResponse401Json:
      $ref: en/ServiceDeleteApiResponse401Json.yaml
    ServiceDeleteApiResponse403Json:
      $ref: en/ServiceDeleteApiResponse403Json.yaml
    ServiceDeleteApiResponse500Json:
      $ref: en/ServiceDeleteApiResponse500Json.yaml
    ClientGetApiResponse200Json:
      $ref: en/ClientGetApiResponse200Json.yaml
    ClientGetApiResponse200JsonClientNamesItems:
      $ref: en/ClientGetApiResponse200Json/ClientGetApiResponse200JsonClientNamesItems.yaml
    ClientGetApiResponse200JsonDescriptionsItems:
      $ref: en/ClientGetApiResponse200Json/ClientGetApiResponse200JsonDescriptionsItems.yaml
    ClientGetApiResponse200JsonLogoUrisItems:
      $ref: en/ClientGetApiResponse200Json/ClientGetApiResponse200JsonLogoUrisItems.yaml
    ClientGetApiResponse200JsonTosUrisItems:
      $ref: en/ClientGetApiResponse200Json/ClientGetApiResponse200JsonTosUrisItems.yaml
    ClientGetApiResponse200JsonPolicyUrisItems:
      $ref: en/ClientGetApiResponse200Json/ClientGetApiResponse200JsonPolicyUrisItems.yaml
    ClientGetApiResponse200JsonClientUrisItems:
      $ref: en/ClientGetApiResponse200Json/ClientGetApiResponse200JsonClientUrisItems.yaml
    ClientGetApiResponse200JsonAttributesItems:
      $ref: en/ClientGetApiResponse200Json/ClientGetApiResponse200JsonAttributesItems.yaml
    ClientGetApiResponse200JsonExtension:
      $ref: en/ClientGetApiResponse200Json/ClientGetApiResponse200JsonExtension.yaml
    ClientGetApiResponse400Json:
      $ref: en/ClientGetApiResponse400Json.yaml
    ClientGetApiResponse401Json:
      $ref: en/ClientGetApiResponse401Json.yaml
    ClientGetApiResponse403Json:
      $ref: en/ClientGetApiResponse403Json.yaml
    ClientGetApiResponse500Json:
      $ref: en/ClientGetApiResponse500Json.yaml
    ClientGetListApiResponse200Json:
      $ref: en/ClientGetListApiResponse200Json.yaml
    ClientGetListApiResponse200JsonClientsItems:
      $ref: en/ClientGetListApiResponse200Json/ClientGetListApiResponse200JsonClientsItems.yaml
    ClientGetListApiResponse200JsonClientsItemsClientNamesItems:
      $ref: en/ClientGetListApiResponse200Json/ClientGetListApiResponse200JsonClientsItems/ClientGetListApiResponse200JsonClientsItemsClientNamesItems.yaml
    ClientGetListApiResponse200JsonClientsItemsDescriptionsItems:
      $ref: en/ClientGetListApiResponse200Json/ClientGetListApiResponse200JsonClientsItems/ClientGetListApiResponse200JsonClientsItemsDescriptionsItems.yaml
    ClientGetListApiResponse200JsonClientsItemsLogoUrisItems:
      $ref: en/ClientGetListApiResponse200Json/ClientGetListApiResponse200JsonClientsItems/ClientGetListApiResponse200JsonClientsItemsLogoUrisItems.yaml
    ClientGetListApiResponse200JsonClientsItemsTosUrisItems:
      $ref: en/ClientGetListApiResponse200Json/ClientGetListApiResponse200JsonClientsItems/ClientGetListApiResponse200JsonClientsItemsTosUrisItems.yaml
    ClientGetListApiResponse200JsonClientsItemsPolicyUrisItems:
      $ref: en/ClientGetListApiResponse200Json/ClientGetListApiResponse200JsonClientsItems/ClientGetListApiResponse200JsonClientsItemsPolicyUrisItems.yaml
    ClientGetListApiResponse200JsonClientsItemsClientUrisItems:
      $ref: en/ClientGetListApiResponse200Json/ClientGetListApiResponse200JsonClientsItems/ClientGetListApiResponse200JsonClientsItemsClientUrisItems.yaml
    ClientGetListApiResponse200JsonClientsItemsAttributesItems:
      $ref: en/ClientGetListApiResponse200Json/ClientGetListApiResponse200JsonClientsItems/ClientGetListApiResponse200JsonClientsItemsAttributesItems.yaml
    ClientGetListApiResponse200JsonClientsItemsExtension:
      $ref: en/ClientGetListApiResponse200Json/ClientGetListApiResponse200JsonClientsItems/ClientGetListApiResponse200JsonClientsItemsExtension.yaml
    ClientGetListApiResponse400Json:
      $ref: en/ClientGetListApiResponse400Json.yaml
    ClientGetListApiResponse401Json:
      $ref: en/ClientGetListApiResponse401Json.yaml
    ClientGetListApiResponse403Json:
      $ref: en/ClientGetListApiResponse403Json.yaml
    ClientGetListApiResponse500Json:
      $ref: en/ClientGetListApiResponse500Json.yaml
    ClientCreateApiRequestBodyJson:
      $ref: en/ClientCreateApiRequestBodyJson.yaml
    ClientCreateApiRequestBodyJsonClientNamesItems:
      $ref: en/ClientCreateApiRequestBodyJson/ClientCreateApiRequestBodyJsonClientNamesItems.yaml
    ClientCreateApiRequestBodyJsonDescriptionsItems:
      $ref: en/ClientCreateApiRequestBodyJson/ClientCreateApiRequestBodyJsonDescriptionsItems.yaml
    ClientCreateApiRequestBodyJsonLogoUrisItems:
      $ref: en/ClientCreateApiRequestBodyJson/ClientCreateApiRequestBodyJsonLogoUrisItems.yaml
    ClientCreateApiRequestBodyJsonTosUrisItems:
      $ref: en/ClientCreateApiRequestBodyJson/ClientCreateApiRequestBodyJsonTosUrisItems.yaml
    ClientCreateApiRequestBodyJsonPolicyUrisItems:
      $ref: en/ClientCreateApiRequestBodyJson/ClientCreateApiRequestBodyJsonPolicyUrisItems.yaml
    ClientCreateApiRequestBodyJsonClientUrisItems:
      $ref: en/ClientCreateApiRequestBodyJson/ClientCreateApiRequestBodyJsonClientUrisItems.yaml
    ClientCreateApiRequestBodyJsonAttributesItems:
      $ref: en/ClientCreateApiRequestBodyJson/ClientCreateApiRequestBodyJsonAttributesItems.yaml
    ClientCreateApiRequestBodyJsonExtension:
      $ref: en/ClientCreateApiRequestBodyJson/ClientCreateApiRequestBodyJsonExtension.yaml
    ClientCreateApiResponse200Json:
      $ref: en/ClientCreateApiResponse200Json.yaml
    ClientCreateApiResponse200JsonClientNamesItems:
      $ref: en/ClientCreateApiResponse200Json/ClientCreateApiResponse200JsonClientNamesItems.yaml
    ClientCreateApiResponse200JsonDescriptionsItems:
      $ref: en/ClientCreateApiResponse200Json/ClientCreateApiResponse200JsonDescriptionsItems.yaml
    ClientCreateApiResponse200JsonLogoUrisItems:
      $ref: en/ClientCreateApiResponse200Json/ClientCreateApiResponse200JsonLogoUrisItems.yaml
    ClientCreateApiResponse200JsonTosUrisItems:
      $ref: en/ClientCreateApiResponse200Json/ClientCreateApiResponse200JsonTosUrisItems.yaml
    ClientCreateApiResponse200JsonPolicyUrisItems:
      $ref: en/ClientCreateApiResponse200Json/ClientCreateApiResponse200JsonPolicyUrisItems.yaml
    ClientCreateApiResponse200JsonClientUrisItems:
      $ref: en/ClientCreateApiResponse200Json/ClientCreateApiResponse200JsonClientUrisItems.yaml
    ClientCreateApiResponse200JsonAttributesItems:
      $ref: en/ClientCreateApiResponse200Json/ClientCreateApiResponse200JsonAttributesItems.yaml
    ClientCreateApiResponse200JsonExtension:
      $ref: en/ClientCreateApiResponse200Json/ClientCreateApiResponse200JsonExtension.yaml
    ClientCreateApiResponse400Json:
      $ref: en/ClientCreateApiResponse400Json.yaml
    ClientCreateApiResponse401Json:
      $ref: en/ClientCreateApiResponse401Json.yaml
    ClientCreateApiResponse403Json:
      $ref: en/ClientCreateApiResponse403Json.yaml
    ClientCreateApiResponse500Json:
      $ref: en/ClientCreateApiResponse500Json.yaml
    ClientUpdateApiRequestBodyJson:
      $ref: en/ClientUpdateApiRequestBodyJson.yaml
    ClientUpdateApiRequestBodyJsonClientNamesItems:
      $ref: en/ClientUpdateApiRequestBodyJson/ClientUpdateApiRequestBodyJsonClientNamesItems.yaml
    ClientUpdateApiRequestBodyJsonDescriptionsItems:
      $ref: en/ClientUpdateApiRequestBodyJson/ClientUpdateApiRequestBodyJsonDescriptionsItems.yaml
    ClientUpdateApiRequestBodyJsonLogoUrisItems:
      $ref: en/ClientUpdateApiRequestBodyJson/ClientUpdateApiRequestBodyJsonLogoUrisItems.yaml
    ClientUpdateApiRequestBodyJsonTosUrisItems:
      $ref: en/ClientUpdateApiRequestBodyJson/ClientUpdateApiRequestBodyJsonTosUrisItems.yaml
    ClientUpdateApiRequestBodyJsonPolicyUrisItems:
      $ref: en/ClientUpdateApiRequestBodyJson/ClientUpdateApiRequestBodyJsonPolicyUrisItems.yaml
    ClientUpdateApiRequestBodyJsonClientUrisItems:
      $ref: en/ClientUpdateApiRequestBodyJson/ClientUpdateApiRequestBodyJsonClientUrisItems.yaml
    ClientUpdateApiRequestBodyJsonAttributesItems:
      $ref: en/ClientUpdateApiRequestBodyJson/ClientUpdateApiRequestBodyJsonAttributesItems.yaml
    ClientUpdateApiRequestBodyJsonExtension:
      $ref: en/ClientUpdateApiRequestBodyJson/ClientUpdateApiRequestBodyJsonExtension.yaml
    ClientUpdateApiRequestBody:
      $ref: en/ClientUpdateApiRequestBody.yaml
    ClientUpdateApiRequestBodyClientNamesItems:
      $ref: en/ClientUpdateApiRequestBody/ClientUpdateApiRequestBodyClientNamesItems.yaml
    ClientUpdateApiRequestBodyDescriptionsItems:
      $ref: en/ClientUpdateApiRequestBody/ClientUpdateApiRequestBodyDescriptionsItems.yaml
    ClientUpdateApiRequestBodyLogoUrisItems:
      $ref: en/ClientUpdateApiRequestBody/ClientUpdateApiRequestBodyLogoUrisItems.yaml
    ClientUpdateApiRequestBodyTosUrisItems:
      $ref: en/ClientUpdateApiRequestBody/ClientUpdateApiRequestBodyTosUrisItems.yaml
    ClientUpdateApiRequestBodyPolicyUrisItems:
      $ref: en/ClientUpdateApiRequestBody/ClientUpdateApiRequestBodyPolicyUrisItems.yaml
    ClientUpdateApiRequestBodyClientUrisItems:
      $ref: en/ClientUpdateApiRequestBody/ClientUpdateApiRequestBodyClientUrisItems.yaml
    ClientUpdateApiRequestBodyAttributesItems:
      $ref: en/ClientUpdateApiRequestBody/ClientUpdateApiRequestBodyAttributesItems.yaml
    ClientUpdateApiRequestBodyExtension:
      $ref: en/ClientUpdateApiRequestBody/ClientUpdateApiRequestBodyExtension.yaml
    ClientUpdateApiResponse200Json:
      $ref: en/ClientUpdateApiResponse200Json.yaml
    ClientUpdateApiResponse200JsonClientNamesItems:
      $ref: en/ClientUpdateApiResponse200Json/ClientUpdateApiResponse200JsonClientNamesItems.yaml
    ClientUpdateApiResponse200JsonDescriptionsItems:
      $ref: en/ClientUpdateApiResponse200Json/ClientUpdateApiResponse200JsonDescriptionsItems.yaml
    ClientUpdateApiResponse200JsonLogoUrisItems:
      $ref: en/ClientUpdateApiResponse200Json/ClientUpdateApiResponse200JsonLogoUrisItems.yaml
    ClientUpdateApiResponse200JsonTosUrisItems:
      $ref: en/ClientUpdateApiResponse200Json/ClientUpdateApiResponse200JsonTosUrisItems.yaml
    ClientUpdateApiResponse200JsonPolicyUrisItems:
      $ref: en/ClientUpdateApiResponse200Json/ClientUpdateApiResponse200JsonPolicyUrisItems.yaml
    ClientUpdateApiResponse200JsonClientUrisItems:
      $ref: en/ClientUpdateApiResponse200Json/ClientUpdateApiResponse200JsonClientUrisItems.yaml
    ClientUpdateApiResponse200JsonAttributesItems:
      $ref: en/ClientUpdateApiResponse200Json/ClientUpdateApiResponse200JsonAttributesItems.yaml
    ClientUpdateApiResponse200JsonExtension:
      $ref: en/ClientUpdateApiResponse200Json/ClientUpdateApiResponse200JsonExtension.yaml
    ClientUpdateApiResponse400Json:
      $ref: en/ClientUpdateApiResponse400Json.yaml
    ClientUpdateApiResponse401Json:
      $ref: en/ClientUpdateApiResponse401Json.yaml
    ClientUpdateApiResponse403Json:
      $ref: en/ClientUpdateApiResponse403Json.yaml
    ClientUpdateApiResponse500Json:
      $ref: en/ClientUpdateApiResponse500Json.yaml
    ClientDeleteApiResponse400Json:
      $ref: en/ClientDeleteApiResponse400Json.yaml
    ClientDeleteApiResponse401Json:
      $ref: en/ClientDeleteApiResponse401Json.yaml
    ClientDeleteApiResponse403Json:
      $ref: en/ClientDeleteApiResponse403Json.yaml
    ClientDeleteApiResponse500Json:
      $ref: en/ClientDeleteApiResponse500Json.yaml
    ClientFlagUpdateApiRequestBodyJson:
      $ref: en/ClientFlagUpdateApiRequestBodyJson.yaml
    ClientFlagUpdateApiRequestBody:
      $ref: en/ClientFlagUpdateApiRequestBody.yaml
    ClientFlagUpdateApiResponse200Json:
      $ref: en/ClientFlagUpdateApiResponse200Json.yaml
    ClientFlagUpdateApiResponse400Json:
      $ref: en/ClientFlagUpdateApiResponse400Json.yaml
    ClientFlagUpdateApiResponse401Json:
      $ref: en/ClientFlagUpdateApiResponse401Json.yaml
    ClientFlagUpdateApiResponse403Json:
      $ref: en/ClientFlagUpdateApiResponse403Json.yaml
    ClientFlagUpdateApiResponse500Json:
      $ref: en/ClientFlagUpdateApiResponse500Json.yaml
    ClientSecretRefreshApiResponse200Json:
      $ref: en/ClientSecretRefreshApiResponse200Json.yaml
    ClientSecretRefreshApiResponse400Json:
      $ref: en/ClientSecretRefreshApiResponse400Json.yaml
    ClientSecretRefreshApiResponse401Json:
      $ref: en/ClientSecretRefreshApiResponse401Json.yaml
    ClientSecretRefreshApiResponse403Json:
      $ref: en/ClientSecretRefreshApiResponse403Json.yaml
    ClientSecretRefreshApiResponse500Json:
      $ref: en/ClientSecretRefreshApiResponse500Json.yaml
    ClientSecretUpdateApiRequestBodyJson:
      $ref: en/ClientSecretUpdateApiRequestBodyJson.yaml
    ClientSecretUpdateApiRequestBody:
      $ref: en/ClientSecretUpdateApiRequestBody.yaml
    ClientSecretUpdateApiResponse200Json:
      $ref: en/ClientSecretUpdateApiResponse200Json.yaml
    ClientSecretUpdateApiResponse400Json:
      $ref: en/ClientSecretUpdateApiResponse400Json.yaml
    ClientSecretUpdateApiResponse401Json:
      $ref: en/ClientSecretUpdateApiResponse401Json.yaml
    ClientSecretUpdateApiResponse403Json:
      $ref: en/ClientSecretUpdateApiResponse403Json.yaml
    ClientSecretUpdateApiResponse500Json:
      $ref: en/ClientSecretUpdateApiResponse500Json.yaml
    ClientAuthorizationGetListApiResponse200Json:
      $ref: en/ClientAuthorizationGetListApiResponse200Json.yaml
    ClientAuthorizationGetListApiResponse200JsonClientsItems:
      $ref: en/ClientAuthorizationGetListApiResponse200Json/ClientAuthorizationGetListApiResponse200JsonClientsItems.yaml
    ClientAuthorizationGetListApiResponse200JsonClientsItemsClientNamesItems:
      $ref: en/ClientAuthorizationGetListApiResponse200Json/ClientAuthorizationGetListApiResponse200JsonClientsItems/ClientAuthorizationGetListApiResponse200JsonClientsItemsClientNamesItems.yaml
    ClientAuthorizationGetListApiResponse200JsonClientsItemsDescriptionsItems:
      $ref: en/ClientAuthorizationGetListApiResponse200Json/ClientAuthorizationGetListApiResponse200JsonClientsItems/ClientAuthorizationGetListApiResponse200JsonClientsItemsDescriptionsItems.yaml
    ClientAuthorizationGetListApiResponse400Json:
      $ref: en/ClientAuthorizationGetListApiResponse400Json.yaml
    ClientAuthorizationGetListApiResponse401Json:
      $ref: en/ClientAuthorizationGetListApiResponse401Json.yaml
    ClientAuthorizationGetListApiResponse403Json:
      $ref: en/ClientAuthorizationGetListApiResponse403Json.yaml
    ClientAuthorizationGetListApiResponse500Json:
      $ref: en/ClientAuthorizationGetListApiResponse500Json.yaml
    ClientAuthorizationUpdateApiRequestBodyJson:
      $ref: en/ClientAuthorizationUpdateApiRequestBodyJson.yaml
    ClientAuthorizationUpdateApiRequestBody:
      $ref: en/ClientAuthorizationUpdateApiRequestBody.yaml
    ClientAuthorizationUpdateApiResponse200Json:
      $ref: en/ClientAuthorizationUpdateApiResponse200Json.yaml
    ClientAuthorizationUpdateApiResponse400Json:
      $ref: en/ClientAuthorizationUpdateApiResponse400Json.yaml
    ClientAuthorizationUpdateApiResponse401Json:
      $ref: en/ClientAuthorizationUpdateApiResponse401Json.yaml
    ClientAuthorizationUpdateApiResponse403Json:
      $ref: en/ClientAuthorizationUpdateApiResponse403Json.yaml
    ClientAuthorizationUpdateApiResponse500Json:
      $ref: en/ClientAuthorizationUpdateApiResponse500Json.yaml
    ClientAuthorizationDeleteApiResponse200Json:
      $ref: en/ClientAuthorizationDeleteApiResponse200Json.yaml
    ClientAuthorizationDeleteApiResponse400Json:
      $ref: en/ClientAuthorizationDeleteApiResponse400Json.yaml
    ClientAuthorizationDeleteApiResponse401Json:
      $ref: en/ClientAuthorizationDeleteApiResponse401Json.yaml
    ClientAuthorizationDeleteApiResponse403Json:
      $ref: en/ClientAuthorizationDeleteApiResponse403Json.yaml
    ClientAuthorizationDeleteApiResponse500Json:
      $ref: en/ClientAuthorizationDeleteApiResponse500Json.yaml
    ClientGrantedScopesGetApiResponse200Json:
      $ref: en/ClientGrantedScopesGetApiResponse200Json.yaml
    ClientGrantedScopesGetApiResponse400Json:
      $ref: en/ClientGrantedScopesGetApiResponse400Json.yaml
    ClientGrantedScopesGetApiResponse401Json:
      $ref: en/ClientGrantedScopesGetApiResponse401Json.yaml
    ClientGrantedScopesGetApiResponse403Json:
      $ref: en/ClientGrantedScopesGetApiResponse403Json.yaml
    ClientGrantedScopesGetApiResponse500Json:
      $ref: en/ClientGrantedScopesGetApiResponse500Json.yaml
    ClientGrantedScopesDeleteApiResponse200Json:
      $ref: en/ClientGrantedScopesDeleteApiResponse200Json.yaml
    ClientGrantedScopesDeleteApiResponse400Json:
      $ref: en/ClientGrantedScopesDeleteApiResponse400Json.yaml
    ClientGrantedScopesDeleteApiResponse401Json:
      $ref: en/ClientGrantedScopesDeleteApiResponse401Json.yaml
    ClientGrantedScopesDeleteApiResponse403Json:
      $ref: en/ClientGrantedScopesDeleteApiResponse403Json.yaml
    ClientGrantedScopesDeleteApiResponse500Json:
      $ref: en/ClientGrantedScopesDeleteApiResponse500Json.yaml
    AuthAuthorizationApiRequestBodyJson:
      $ref: en/AuthAuthorizationApiRequestBodyJson.yaml
    AuthAuthorizationApiRequestBody:
      $ref: en/AuthAuthorizationApiRequestBody.yaml
    AuthAuthorizationApiResponse200Json:
      $ref: en/AuthAuthorizationApiResponse200Json.yaml
    AuthAuthorizationApiResponse200JsonClient:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonClient.yaml
    AuthAuthorizationApiResponse200JsonClientClientNamesItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonClient/AuthAuthorizationApiResponse200JsonClientClientNamesItems.yaml
    AuthAuthorizationApiResponse200JsonClientDescriptionsItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonClient/AuthAuthorizationApiResponse200JsonClientDescriptionsItems.yaml
    AuthAuthorizationApiResponse200JsonClientLogoUrisItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonClient/AuthAuthorizationApiResponse200JsonClientLogoUrisItems.yaml
    AuthAuthorizationApiResponse200JsonClientTosUrisItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonClient/AuthAuthorizationApiResponse200JsonClientTosUrisItems.yaml
    AuthAuthorizationApiResponse200JsonClientPolicyUrisItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonClient/AuthAuthorizationApiResponse200JsonClientPolicyUrisItems.yaml
    AuthAuthorizationApiResponse200JsonService:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonService.yaml
    AuthAuthorizationApiResponse200JsonServiceMetadataItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonService/AuthAuthorizationApiResponse200JsonServiceMetadataItems.yaml
    AuthAuthorizationApiResponse200JsonServiceMtlsEndpointAliasesItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonService/AuthAuthorizationApiResponse200JsonServiceMtlsEndpointAliasesItems.yaml
    AuthAuthorizationApiResponse200JsonServiceSupportedScopesItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonService/AuthAuthorizationApiResponse200JsonServiceSupportedScopesItems.yaml
    AuthAuthorizationApiResponse200JsonServiceSupportedScopesItemsDescriptionsItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonService/AuthAuthorizationApiResponse200JsonServiceSupportedScopesItems/AuthAuthorizationApiResponse200JsonServiceSupportedScopesItemsDescriptionsItems.yaml
    AuthAuthorizationApiResponse200JsonServiceSupportedScopesItemsAttributesItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonService/AuthAuthorizationApiResponse200JsonServiceSupportedScopesItems/AuthAuthorizationApiResponse200JsonServiceSupportedScopesItemsAttributesItems.yaml
    AuthAuthorizationApiResponse200JsonServiceAttributesItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonService/AuthAuthorizationApiResponse200JsonServiceAttributesItems.yaml
    AuthAuthorizationApiResponse200JsonServiceHsksItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonService/AuthAuthorizationApiResponse200JsonServiceHsksItems.yaml
    AuthAuthorizationApiResponse200JsonServiceTrustAnchorsItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonService/AuthAuthorizationApiResponse200JsonServiceTrustAnchorsItems.yaml
    AuthAuthorizationApiResponse200JsonServiceCredentialIssuerMetadata:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonService/AuthAuthorizationApiResponse200JsonServiceCredentialIssuerMetadata.yaml
    AuthAuthorizationApiResponse200JsonScopesItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonScopesItems.yaml
    AuthAuthorizationApiResponse200JsonScopesItemsDescriptionsItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonScopesItems/AuthAuthorizationApiResponse200JsonScopesItemsDescriptionsItems.yaml
    AuthAuthorizationApiResponse200JsonScopesItemsAttributesItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonScopesItems/AuthAuthorizationApiResponse200JsonScopesItemsAttributesItems.yaml
    AuthAuthorizationApiResponse200JsonAuthorizationDetails:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonAuthorizationDetails.yaml
    AuthAuthorizationApiResponse200JsonAuthorizationDetailsElementsItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonAuthorizationDetails/AuthAuthorizationApiResponse200JsonAuthorizationDetailsElementsItems.yaml
    AuthAuthorizationApiResponse200JsonDynamicScopesItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonDynamicScopesItems.yaml
    AuthAuthorizationApiResponse200JsonGrant:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonGrant.yaml
    AuthAuthorizationApiResponse200JsonGrantScopesItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonGrant/AuthAuthorizationApiResponse200JsonGrantScopesItems.yaml
    AuthAuthorizationApiResponse200JsonGrantAuthorizationDetails:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonGrant/AuthAuthorizationApiResponse200JsonGrantAuthorizationDetails.yaml
    AuthAuthorizationApiResponse200JsonGrantAuthorizationDetailsElementsItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonGrant/AuthAuthorizationApiResponse200JsonGrantAuthorizationDetails/AuthAuthorizationApiResponse200JsonGrantAuthorizationDetailsElementsItems.yaml
    AuthAuthorizationApiResponse200JsonCredentialOfferInfo:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonCredentialOfferInfo.yaml
    AuthAuthorizationApiResponse200JsonCredentialOfferInfoPropertiesItems:
      $ref: en/AuthAuthorizationApiResponse200Json/AuthAuthorizationApiResponse200JsonCredentialOfferInfo/AuthAuthorizationApiResponse200JsonCredentialOfferInfoPropertiesItems.yaml
    AuthAuthorizationApiResponse400Json:
      $ref: en/AuthAuthorizationApiResponse400Json.yaml
    AuthAuthorizationApiResponse401Json:
      $ref: en/AuthAuthorizationApiResponse401Json.yaml
    AuthAuthorizationApiResponse403Json:
      $ref: en/AuthAuthorizationApiResponse403Json.yaml
    AuthAuthorizationApiResponse500Json:
      $ref: en/AuthAuthorizationApiResponse500Json.yaml
    AuthAuthorizationFailApiRequestBodyJson:
      $ref: en/AuthAuthorizationFailApiRequestBodyJson.yaml
    AuthAuthorizationFailApiRequestBody:
      $ref: en/AuthAuthorizationFailApiRequestBody.yaml
    AuthAuthorizationFailApiResponse200Json:
      $ref: en/AuthAuthorizationFailApiResponse200Json.yaml
    AuthAuthorizationFailApiResponse400Json:
      $ref: en/AuthAuthorizationFailApiResponse400Json.yaml
    AuthAuthorizationFailApiResponse401Json:
      $ref: en/AuthAuthorizationFailApiResponse401Json.yaml
    AuthAuthorizationFailApiResponse403Json:
      $ref: en/AuthAuthorizationFailApiResponse403Json.yaml
    AuthAuthorizationFailApiResponse500Json:
      $ref: en/AuthAuthorizationFailApiResponse500Json.yaml
    AuthAuthorizationIssueApiRequestBodyJson:
      $ref: en/AuthAuthorizationIssueApiRequestBodyJson.yaml
    AuthAuthorizationIssueApiRequestBodyJsonPropertiesItems:
      $ref: en/AuthAuthorizationIssueApiRequestBodyJson/AuthAuthorizationIssueApiRequestBodyJsonPropertiesItems.yaml
    AuthAuthorizationIssueApiRequestBodyJsonAuthorizationDetails:
      $ref: en/AuthAuthorizationIssueApiRequestBodyJson/AuthAuthorizationIssueApiRequestBodyJsonAuthorizationDetails.yaml
    AuthAuthorizationIssueApiRequestBodyJsonAuthorizationDetailsElementsItems:
      $ref: en/AuthAuthorizationIssueApiRequestBodyJson/AuthAuthorizationIssueApiRequestBodyJsonAuthorizationDetails/AuthAuthorizationIssueApiRequestBodyJsonAuthorizationDetailsElementsItems.yaml
    AuthAuthorizationIssueApiRequestBody:
      $ref: en/AuthAuthorizationIssueApiRequestBody.yaml
    AuthAuthorizationIssueApiRequestBodyPropertiesItems:
      $ref: en/AuthAuthorizationIssueApiRequestBody/AuthAuthorizationIssueApiRequestBodyPropertiesItems.yaml
    AuthAuthorizationIssueApiRequestBodyAuthorizationDetails:
      $ref: en/AuthAuthorizationIssueApiRequestBody/AuthAuthorizationIssueApiRequestBodyAuthorizationDetails.yaml
    AuthAuthorizationIssueApiRequestBodyAuthorizationDetailsElementsItems:
      $ref: en/AuthAuthorizationIssueApiRequestBody/AuthAuthorizationIssueApiRequestBodyAuthorizationDetails/AuthAuthorizationIssueApiRequestBodyAuthorizationDetailsElementsItems.yaml
    AuthAuthorizationIssueApiResponse200Json:
      $ref: en/AuthAuthorizationIssueApiResponse200Json.yaml
    AuthAuthorizationIssueApiResponse400Json:
      $ref: en/AuthAuthorizationIssueApiResponse400Json.yaml
    AuthAuthorizationIssueApiResponse401Json:
      $ref: en/AuthAuthorizationIssueApiResponse401Json.yaml
    AuthAuthorizationIssueApiResponse403Json:
      $ref: en/AuthAuthorizationIssueApiResponse403Json.yaml
    AuthAuthorizationIssueApiResponse500Json:
      $ref: en/AuthAuthorizationIssueApiResponse500Json.yaml
    PushedAuthReqApiRequestBodyJson:
      $ref: en/PushedAuthReqApiRequestBodyJson.yaml
    PushedAuthReqApiRequestBody:
      $ref: en/PushedAuthReqApiRequestBody.yaml
    PushedAuthReqApiResponse200Json:
      $ref: en/PushedAuthReqApiResponse200Json.yaml
    PushedAuthReqApiResponse400Json:
      $ref: en/PushedAuthReqApiResponse400Json.yaml
    PushedAuthReqApiResponse401Json:
      $ref: en/PushedAuthReqApiResponse401Json.yaml
    PushedAuthReqApiResponse403Json:
      $ref: en/PushedAuthReqApiResponse403Json.yaml
    PushedAuthReqApiResponse500Json:
      $ref: en/PushedAuthReqApiResponse500Json.yaml
    AuthTokenApiRequestBodyJson:
      $ref: en/AuthTokenApiRequestBodyJson.yaml
    AuthTokenApiRequestBody:
      $ref: en/AuthTokenApiRequestBody.yaml
    AuthTokenApiResponse200Json:
      $ref: en/AuthTokenApiResponse200Json.yaml
    AuthTokenApiResponse200JsonPropertiesItems:
      $ref: en/AuthTokenApiResponse200Json/AuthTokenApiResponse200JsonPropertiesItems.yaml
    AuthTokenApiResponse200JsonAuthorizationDetails:
      $ref: en/AuthTokenApiResponse200Json/AuthTokenApiResponse200JsonAuthorizationDetails.yaml
    AuthTokenApiResponse200JsonAuthorizationDetailsElementsItems:
      $ref: en/AuthTokenApiResponse200Json/AuthTokenApiResponse200JsonAuthorizationDetails/AuthTokenApiResponse200JsonAuthorizationDetailsElementsItems.yaml
    AuthTokenApiResponse200JsonServiceAttributesItems:
      $ref: en/AuthTokenApiResponse200Json/AuthTokenApiResponse200JsonServiceAttributesItems.yaml
    AuthTokenApiResponse200JsonClientAttributesItems:
      $ref: en/AuthTokenApiResponse200Json/AuthTokenApiResponse200JsonClientAttributesItems.yaml
    AuthTokenApiResponse200JsonSubjectTokenInfo:
      $ref: en/AuthTokenApiResponse200Json/AuthTokenApiResponse200JsonSubjectTokenInfo.yaml
    AuthTokenApiResponse200JsonSubjectTokenInfoPropertiesItems:
      $ref: en/AuthTokenApiResponse200Json/AuthTokenApiResponse200JsonSubjectTokenInfo/AuthTokenApiResponse200JsonSubjectTokenInfoPropertiesItems.yaml
    AuthTokenApiResponse200JsonSubjectTokenInfoAuthorizationDetails:
      $ref: en/AuthTokenApiResponse200Json/AuthTokenApiResponse200JsonSubjectTokenInfo/AuthTokenApiResponse200JsonSubjectTokenInfoAuthorizationDetails.yaml
    AuthTokenApiResponse200JsonActorTokenInfo:
      $ref: en/AuthTokenApiResponse200Json/AuthTokenApiResponse200JsonActorTokenInfo.yaml
    AuthTokenApiResponse200JsonActorTokenInfoPropertiesItems:
      $ref: en/AuthTokenApiResponse200Json/AuthTokenApiResponse200JsonActorTokenInfo/AuthTokenApiResponse200JsonActorTokenInfoPropertiesItems.yaml
    AuthTokenApiResponse200JsonActorTokenInfoAuthorizationDetails:
      $ref: en/AuthTokenApiResponse200Json/AuthTokenApiResponse200JsonActorTokenInfo/AuthTokenApiResponse200JsonActorTokenInfoAuthorizationDetails.yaml
    AuthTokenApiResponse400Json:
      $ref: en/AuthTokenApiResponse400Json.yaml
    AuthTokenApiResponse401Json:
      $ref: en/AuthTokenApiResponse401Json.yaml
    AuthTokenApiResponse403Json:
      $ref: en/AuthTokenApiResponse403Json.yaml
    AuthTokenApiResponse500Json:
      $ref: en/AuthTokenApiResponse500Json.yaml
    AuthTokenFailApiRequestBodyJson:
      $ref: en/AuthTokenFailApiRequestBodyJson.yaml
    AuthTokenFailApiRequestBody:
      $ref: en/AuthTokenFailApiRequestBody.yaml
    AuthTokenFailApiResponse200Json:
      $ref: en/AuthTokenFailApiResponse200Json.yaml
    AuthTokenFailApiResponse400Json:
      $ref: en/AuthTokenFailApiResponse400Json.yaml
    AuthTokenFailApiResponse401Json:
      $ref: en/AuthTokenFailApiResponse401Json.yaml
    AuthTokenFailApiResponse403Json:
      $ref: en/AuthTokenFailApiResponse403Json.yaml
    AuthTokenFailApiResponse500Json:
      $ref: en/AuthTokenFailApiResponse500Json.yaml
    AuthTokenIssueApiRequestBodyJson:
      $ref: en/AuthTokenIssueApiRequestBodyJson.yaml
    AuthTokenIssueApiRequestBodyJsonPropertiesItems:
      $ref: en/AuthTokenIssueApiRequestBodyJson/AuthTokenIssueApiRequestBodyJsonPropertiesItems.yaml
    AuthTokenIssueApiRequestBody:
      $ref: en/AuthTokenIssueApiRequestBody.yaml
    AuthTokenIssueApiRequestBodyPropertiesItems:
      $ref: en/AuthTokenIssueApiRequestBody/AuthTokenIssueApiRequestBodyPropertiesItems.yaml
    AuthTokenIssueApiResponse200Json:
      $ref: en/AuthTokenIssueApiResponse200Json.yaml
    AuthTokenIssueApiResponse200JsonPropertiesItems:
      $ref: en/AuthTokenIssueApiResponse200Json/AuthTokenIssueApiResponse200JsonPropertiesItems.yaml
    AuthTokenIssueApiResponse200JsonAuthorizationDetails:
      $ref: en/AuthTokenIssueApiResponse200Json/AuthTokenIssueApiResponse200JsonAuthorizationDetails.yaml
    AuthTokenIssueApiResponse200JsonAuthorizationDetailsElementsItems:
      $ref: en/AuthTokenIssueApiResponse200Json/AuthTokenIssueApiResponse200JsonAuthorizationDetails/AuthTokenIssueApiResponse200JsonAuthorizationDetailsElementsItems.yaml
    AuthTokenIssueApiResponse200JsonServiceAttributesItems:
      $ref: en/AuthTokenIssueApiResponse200Json/AuthTokenIssueApiResponse200JsonServiceAttributesItems.yaml
    AuthTokenIssueApiResponse200JsonClientAttributesItems:
      $ref: en/AuthTokenIssueApiResponse200Json/AuthTokenIssueApiResponse200JsonClientAttributesItems.yaml
    AuthTokenIssueApiResponse400Json:
      $ref: en/AuthTokenIssueApiResponse400Json.yaml
    AuthTokenIssueApiResponse401Json:
      $ref: en/AuthTokenIssueApiResponse401Json.yaml
    AuthTokenIssueApiResponse403Json:
      $ref: en/AuthTokenIssueApiResponse403Json.yaml
    AuthTokenIssueApiResponse500Json:
      $ref: en/AuthTokenIssueApiResponse500Json.yaml
    AuthIntrospectionApiRequestBodyJson:
      $ref: en/AuthIntrospectionApiRequestBodyJson.yaml
    AuthIntrospectionApiRequestBodyJsonHeadersItems:
      $ref: en/AuthIntrospectionApiRequestBodyJson/AuthIntrospectionApiRequestBodyJsonHeadersItems.yaml
    AuthIntrospectionApiRequestBody:
      $ref: en/AuthIntrospectionApiRequestBody.yaml
    AuthIntrospectionApiRequestBodyHeadersItems:
      $ref: en/AuthIntrospectionApiRequestBody/AuthIntrospectionApiRequestBodyHeadersItems.yaml
    AuthIntrospectionApiResponse200Json:
      $ref: en/AuthIntrospectionApiResponse200Json.yaml
    AuthIntrospectionApiResponse200JsonPropertiesItems:
      $ref: en/AuthIntrospectionApiResponse200Json/AuthIntrospectionApiResponse200JsonPropertiesItems.yaml
    AuthIntrospectionApiResponse200JsonAuthorizationDetails:
      $ref: en/AuthIntrospectionApiResponse200Json/AuthIntrospectionApiResponse200JsonAuthorizationDetails.yaml
    AuthIntrospectionApiResponse200JsonAuthorizationDetailsElementsItems:
      $ref: en/AuthIntrospectionApiResponse200Json/AuthIntrospectionApiResponse200JsonAuthorizationDetails/AuthIntrospectionApiResponse200JsonAuthorizationDetailsElementsItems.yaml
    AuthIntrospectionApiResponse200JsonServiceAttributesItems:
      $ref: en/AuthIntrospectionApiResponse200Json/AuthIntrospectionApiResponse200JsonServiceAttributesItems.yaml
    AuthIntrospectionApiResponse200JsonClientAttributesItems:
      $ref: en/AuthIntrospectionApiResponse200Json/AuthIntrospectionApiResponse200JsonClientAttributesItems.yaml
    AuthIntrospectionApiResponse200JsonScopeDetailsItems:
      $ref: en/AuthIntrospectionApiResponse200Json/AuthIntrospectionApiResponse200JsonScopeDetailsItems.yaml
    AuthIntrospectionApiResponse200JsonScopeDetailsItemsDescriptionsItems:
      $ref: en/AuthIntrospectionApiResponse200Json/AuthIntrospectionApiResponse200JsonScopeDetailsItems/AuthIntrospectionApiResponse200JsonScopeDetailsItemsDescriptionsItems.yaml
    AuthIntrospectionApiResponse200JsonScopeDetailsItemsAttributesItems:
      $ref: en/AuthIntrospectionApiResponse200Json/AuthIntrospectionApiResponse200JsonScopeDetailsItems/AuthIntrospectionApiResponse200JsonScopeDetailsItemsAttributesItems.yaml
    AuthIntrospectionApiResponse200JsonGrant:
      $ref: en/AuthIntrospectionApiResponse200Json/AuthIntrospectionApiResponse200JsonGrant.yaml
    AuthIntrospectionApiResponse200JsonGrantScopesItems:
      $ref: en/AuthIntrospectionApiResponse200Json/AuthIntrospectionApiResponse200JsonGrant/AuthIntrospectionApiResponse200JsonGrantScopesItems.yaml
    AuthIntrospectionApiResponse200JsonGrantAuthorizationDetails:
      $ref: en/AuthIntrospectionApiResponse200Json/AuthIntrospectionApiResponse200JsonGrant/AuthIntrospectionApiResponse200JsonGrantAuthorizationDetails.yaml
    AuthIntrospectionApiResponse200JsonGrantAuthorizationDetailsElementsItems:
      $ref: en/AuthIntrospectionApiResponse200Json/AuthIntrospectionApiResponse200JsonGrant/AuthIntrospectionApiResponse200JsonGrantAuthorizationDetails/AuthIntrospectionApiResponse200JsonGrantAuthorizationDetailsElementsItems.yaml
    AuthIntrospectionApiResponse400Json:
      $ref: en/AuthIntrospectionApiResponse400Json.yaml
    AuthIntrospectionApiResponse401Json:
      $ref: en/AuthIntrospectionApiResponse401Json.yaml
    AuthIntrospectionApiResponse403Json:
      $ref: en/AuthIntrospectionApiResponse403Json.yaml
    AuthIntrospectionApiResponse500Json:
      $ref: en/AuthIntrospectionApiResponse500Json.yaml
    AuthIntrospectionStandardApiRequestBodyJson:
      $ref: en/AuthIntrospectionStandardApiRequestBodyJson.yaml
    AuthIntrospectionStandardApiRequestBody:
      $ref: en/AuthIntrospectionStandardApiRequestBody.yaml
    AuthIntrospectionStandardApiResponse200Json:
      $ref: en/AuthIntrospectionStandardApiResponse200Json.yaml
    AuthIntrospectionStandardApiResponse400Json:
      $ref: en/AuthIntrospectionStandardApiResponse400Json.yaml
    AuthIntrospectionStandardApiResponse401Json:
      $ref: en/AuthIntrospectionStandardApiResponse401Json.yaml
    AuthIntrospectionStandardApiResponse403Json:
      $ref: en/AuthIntrospectionStandardApiResponse403Json.yaml
    AuthIntrospectionStandardApiResponse500Json:
      $ref: en/AuthIntrospectionStandardApiResponse500Json.yaml
    AuthRevocationApiRequestBodyJson:
      $ref: en/AuthRevocationApiRequestBodyJson.yaml
    AuthRevocationApiRequestBody:
      $ref: en/AuthRevocationApiRequestBody.yaml
    AuthRevocationApiResponse200Json:
      $ref: en/AuthRevocationApiResponse200Json.yaml
    AuthRevocationApiResponse400Json:
      $ref: en/AuthRevocationApiResponse400Json.yaml
    AuthRevocationApiResponse401Json:
      $ref: en/AuthRevocationApiResponse401Json.yaml
    AuthRevocationApiResponse403Json:
      $ref: en/AuthRevocationApiResponse403Json.yaml
    AuthRevocationApiResponse500Json:
      $ref: en/AuthRevocationApiResponse500Json.yaml
    AuthUserinfoApiRequestBodyJson:
      $ref: en/AuthUserinfoApiRequestBodyJson.yaml
    AuthUserinfoApiRequestBodyJsonHeadersItems:
      $ref: en/AuthUserinfoApiRequestBodyJson/AuthUserinfoApiRequestBodyJsonHeadersItems.yaml
    AuthUserinfoApiRequestBody:
      $ref: en/AuthUserinfoApiRequestBody.yaml
    AuthUserinfoApiRequestBodyHeadersItems:
      $ref: en/AuthUserinfoApiRequestBody/AuthUserinfoApiRequestBodyHeadersItems.yaml
    AuthUserinfoApiResponse200Json:
      $ref: en/AuthUserinfoApiResponse200Json.yaml
    AuthUserinfoApiResponse200JsonPropertiesItems:
      $ref: en/AuthUserinfoApiResponse200Json/AuthUserinfoApiResponse200JsonPropertiesItems.yaml
    AuthUserinfoApiResponse200JsonServiceAttributesItems:
      $ref: en/AuthUserinfoApiResponse200Json/AuthUserinfoApiResponse200JsonServiceAttributesItems.yaml
    AuthUserinfoApiResponse200JsonClientAttributesItems:
      $ref: en/AuthUserinfoApiResponse200Json/AuthUserinfoApiResponse200JsonClientAttributesItems.yaml
    AuthUserinfoApiResponse400Json:
      $ref: en/AuthUserinfoApiResponse400Json.yaml
    AuthUserinfoApiResponse401Json:
      $ref: en/AuthUserinfoApiResponse401Json.yaml
    AuthUserinfoApiResponse403Json:
      $ref: en/AuthUserinfoApiResponse403Json.yaml
    AuthUserinfoApiResponse500Json:
      $ref: en/AuthUserinfoApiResponse500Json.yaml
    AuthUserinfoIssueApiRequestBodyJson:
      $ref: en/AuthUserinfoIssueApiRequestBodyJson.yaml
    AuthUserinfoIssueApiRequestBodyJsonHeadersItems:
      $ref: en/AuthUserinfoIssueApiRequestBodyJson/AuthUserinfoIssueApiRequestBodyJsonHeadersItems.yaml
    AuthUserinfoIssueApiRequestBody:
      $ref: en/AuthUserinfoIssueApiRequestBody.yaml
    AuthUserinfoIssueApiRequestBodyHeadersItems:
      $ref: en/AuthUserinfoIssueApiRequestBody/AuthUserinfoIssueApiRequestBodyHeadersItems.yaml
    AuthUserinfoIssueApiResponse200Json:
      $ref: en/AuthUserinfoIssueApiResponse200Json.yaml
    AuthUserinfoIssueApiResponse400Json:
      $ref: en/AuthUserinfoIssueApiResponse400Json.yaml
    AuthUserinfoIssueApiResponse401Json:
      $ref: en/AuthUserinfoIssueApiResponse401Json.yaml
    AuthUserinfoIssueApiResponse403Json:
      $ref: en/AuthUserinfoIssueApiResponse403Json.yaml
    AuthUserinfoIssueApiResponse500Json:
      $ref: en/AuthUserinfoIssueApiResponse500Json.yaml
    IdtokenReissueApiRequestBodyJson:
      $ref: en/IdtokenReissueApiRequestBodyJson.yaml
    IdtokenReissueApiResponse200Json:
      $ref: en/IdtokenReissueApiResponse200Json.yaml
    IdtokenReissueApiResponse400Json:
      $ref: en/IdtokenReissueApiResponse400Json.yaml
    IdtokenReissueApiResponse401Json:
      $ref: en/IdtokenReissueApiResponse401Json.yaml
    IdtokenReissueApiResponse403Json:
      $ref: en/IdtokenReissueApiResponse403Json.yaml
    IdtokenReissueApiResponse500Json:
      $ref: en/IdtokenReissueApiResponse500Json.yaml
    GrantMApiRequestBodyJson:
      $ref: en/GrantMApiRequestBodyJson.yaml
    GrantMApiResponse200Json:
      $ref: en/GrantMApiResponse200Json.yaml
    GrantMApiResponse400Json:
      $ref: en/GrantMApiResponse400Json.yaml
    GrantMApiResponse401Json:
      $ref: en/GrantMApiResponse401Json.yaml
    GrantMApiResponse403Json:
      $ref: en/GrantMApiResponse403Json.yaml
    GrantMApiResponse500Json:
      $ref: en/GrantMApiResponse500Json.yaml
    ServiceJwksGetApiResponse200Json:
      $ref: en/ServiceJwksGetApiResponse200Json.yaml
    ServiceJwksGetApiResponse400Json:
      $ref: en/ServiceJwksGetApiResponse400Json.yaml
    ServiceJwksGetApiResponse401Json:
      $ref: en/ServiceJwksGetApiResponse401Json.yaml
    ServiceJwksGetApiResponse403Json:
      $ref: en/ServiceJwksGetApiResponse403Json.yaml
    ServiceJwksGetApiResponse500Json:
      $ref: en/ServiceJwksGetApiResponse500Json.yaml
    ServiceConfigurationApiResponse400Json:
      $ref: en/ServiceConfigurationApiResponse400Json.yaml
    ServiceConfigurationApiResponse401Json:
      $ref: en/ServiceConfigurationApiResponse401Json.yaml
    ServiceConfigurationApiResponse403Json:
      $ref: en/ServiceConfigurationApiResponse403Json.yaml
    ServiceConfigurationApiResponse500Json:
      $ref: en/ServiceConfigurationApiResponse500Json.yaml
    ClientRegistrationApiRequestBodyJson:
      $ref: en/ClientRegistrationApiRequestBodyJson.yaml
    ClientRegistrationApiRequestBodyJsonAllOf0:
      $ref: en/ClientRegistrationApiRequestBodyJson/ClientRegistrationApiRequestBodyJsonAllOf0.yaml
    ClientRegistrationApiResponse200Json:
      $ref: en/ClientRegistrationApiResponse200Json.yaml
    ClientRegistrationApiResponse200JsonClient:
      $ref: en/ClientRegistrationApiResponse200Json/ClientRegistrationApiResponse200JsonClient.yaml
    ClientRegistrationApiResponse200JsonClientClientNamesItems:
      $ref: en/ClientRegistrationApiResponse200Json/ClientRegistrationApiResponse200JsonClient/ClientRegistrationApiResponse200JsonClientClientNamesItems.yaml
    ClientRegistrationApiResponse200JsonClientDescriptionsItems:
      $ref: en/ClientRegistrationApiResponse200Json/ClientRegistrationApiResponse200JsonClient/ClientRegistrationApiResponse200JsonClientDescriptionsItems.yaml
    ClientRegistrationApiResponse200JsonClientLogoUrisItems:
      $ref: en/ClientRegistrationApiResponse200Json/ClientRegistrationApiResponse200JsonClient/ClientRegistrationApiResponse200JsonClientLogoUrisItems.yaml
    ClientRegistrationApiResponse200JsonClientTosUrisItems:
      $ref: en/ClientRegistrationApiResponse200Json/ClientRegistrationApiResponse200JsonClient/ClientRegistrationApiResponse200JsonClientTosUrisItems.yaml
    ClientRegistrationApiResponse200JsonClientPolicyUrisItems:
      $ref: en/ClientRegistrationApiResponse200Json/ClientRegistrationApiResponse200JsonClient/ClientRegistrationApiResponse200JsonClientPolicyUrisItems.yaml
    ClientRegistrationApiResponse200JsonClientClientUrisItems:
      $ref: en/ClientRegistrationApiResponse200Json/ClientRegistrationApiResponse200JsonClient/ClientRegistrationApiResponse200JsonClientClientUrisItems.yaml
    ClientRegistrationApiResponse200JsonClientAttributesItems:
      $ref: en/ClientRegistrationApiResponse200Json/ClientRegistrationApiResponse200JsonClient/ClientRegistrationApiResponse200JsonClientAttributesItems.yaml
    ClientRegistrationApiResponse200JsonClientExtension:
      $ref: en/ClientRegistrationApiResponse200Json/ClientRegistrationApiResponse200JsonClient/ClientRegistrationApiResponse200JsonClientExtension.yaml
    ClientRegistrationApiResponse400Json:
      $ref: en/ClientRegistrationApiResponse400Json.yaml
    ClientRegistrationApiResponse401Json:
      $ref: en/ClientRegistrationApiResponse401Json.yaml
    ClientRegistrationApiResponse403Json:
      $ref: en/ClientRegistrationApiResponse403Json.yaml
    ClientRegistrationApiResponse500Json:
      $ref: en/ClientRegistrationApiResponse500Json.yaml
    ClientRegistrationGetApiRequestBodyJson:
      $ref: en/ClientRegistrationGetApiRequestBodyJson.yaml
    ClientRegistrationGetApiRequestBodyJsonAllOf0:
      $ref: en/ClientRegistrationGetApiRequestBodyJson/ClientRegistrationGetApiRequestBodyJsonAllOf0.yaml
    ClientRegistrationGetApiResponse200Json:
      $ref: en/ClientRegistrationGetApiResponse200Json.yaml
    ClientRegistrationGetApiResponse200JsonClient:
      $ref: en/ClientRegistrationGetApiResponse200Json/ClientRegistrationGetApiResponse200JsonClient.yaml
    ClientRegistrationGetApiResponse200JsonClientClientNamesItems:
      $ref: en/ClientRegistrationGetApiResponse200Json/ClientRegistrationGetApiResponse200JsonClient/ClientRegistrationGetApiResponse200JsonClientClientNamesItems.yaml
    ClientRegistrationGetApiResponse200JsonClientDescriptionsItems:
      $ref: en/ClientRegistrationGetApiResponse200Json/ClientRegistrationGetApiResponse200JsonClient/ClientRegistrationGetApiResponse200JsonClientDescriptionsItems.yaml
    ClientRegistrationGetApiResponse200JsonClientLogoUrisItems:
      $ref: en/ClientRegistrationGetApiResponse200Json/ClientRegistrationGetApiResponse200JsonClient/ClientRegistrationGetApiResponse200JsonClientLogoUrisItems.yaml
    ClientRegistrationGetApiResponse200JsonClientTosUrisItems:
      $ref: en/ClientRegistrationGetApiResponse200Json/ClientRegistrationGetApiResponse200JsonClient/ClientRegistrationGetApiResponse200JsonClientTosUrisItems.yaml
    ClientRegistrationGetApiResponse200JsonClientPolicyUrisItems:
      $ref: en/ClientRegistrationGetApiResponse200Json/ClientRegistrationGetApiResponse200JsonClient/ClientRegistrationGetApiResponse200JsonClientPolicyUrisItems.yaml
    ClientRegistrationGetApiResponse200JsonClientClientUrisItems:
      $ref: en/ClientRegistrationGetApiResponse200Json/ClientRegistrationGetApiResponse200JsonClient/ClientRegistrationGetApiResponse200JsonClientClientUrisItems.yaml
    ClientRegistrationGetApiResponse200JsonClientAttributesItems:
      $ref: en/ClientRegistrationGetApiResponse200Json/ClientRegistrationGetApiResponse200JsonClient/ClientRegistrationGetApiResponse200JsonClientAttributesItems.yaml
    ClientRegistrationGetApiResponse200JsonClientExtension:
      $ref: en/ClientRegistrationGetApiResponse200Json/ClientRegistrationGetApiResponse200JsonClient/ClientRegistrationGetApiResponse200JsonClientExtension.yaml
    ClientRegistrationGetApiResponse400Json:
      $ref: en/ClientRegistrationGetApiResponse400Json.yaml
    ClientRegistrationGetApiResponse401Json:
      $ref: en/ClientRegistrationGetApiResponse401Json.yaml
    ClientRegistrationGetApiResponse403Json:
      $ref: en/ClientRegistrationGetApiResponse403Json.yaml
    ClientRegistrationGetApiResponse500Json:
      $ref: en/ClientRegistrationGetApiResponse500Json.yaml
    ClientRegistrationUpdateApiRequestBodyJson:
      $ref: en/ClientRegistrationUpdateApiRequestBodyJson.yaml
    ClientRegistrationUpdateApiRequestBodyJsonAllOf0:
      $ref: en/ClientRegistrationUpdateApiRequestBodyJson/ClientRegistrationUpdateApiRequestBodyJsonAllOf0.yaml
    ClientRegistrationUpdateApiResponse200Json:
      $ref: en/ClientRegistrationUpdateApiResponse200Json.yaml
    ClientRegistrationUpdateApiResponse200JsonClient:
      $ref: en/ClientRegistrationUpdateApiResponse200Json/ClientRegistrationUpdateApiResponse200JsonClient.yaml
    ClientRegistrationUpdateApiResponse200JsonClientClientNamesItems:
      $ref: en/ClientRegistrationUpdateApiResponse200Json/ClientRegistrationUpdateApiResponse200JsonClient/ClientRegistrationUpdateApiResponse200JsonClientClientNamesItems.yaml
    ClientRegistrationUpdateApiResponse200JsonClientDescriptionsItems:
      $ref: en/ClientRegistrationUpdateApiResponse200Json/ClientRegistrationUpdateApiResponse200JsonClient/ClientRegistrationUpdateApiResponse200JsonClientDescriptionsItems.yaml
    ClientRegistrationUpdateApiResponse200JsonClientLogoUrisItems:
      $ref: en/ClientRegistrationUpdateApiResponse200Json/ClientRegistrationUpdateApiResponse200JsonClient/ClientRegistrationUpdateApiResponse200JsonClientLogoUrisItems.yaml
    ClientRegistrationUpdateApiResponse200JsonClientTosUrisItems:
      $ref: en/ClientRegistrationUpdateApiResponse200Json/ClientRegistrationUpdateApiResponse200JsonClient/ClientRegistrationUpdateApiResponse200JsonClientTosUrisItems.yaml
    ClientRegistrationUpdateApiResponse200JsonClientPolicyUrisItems:
      $ref: en/ClientRegistrationUpdateApiResponse200Json/ClientRegistrationUpdateApiResponse200JsonClient/ClientRegistrationUpdateApiResponse200JsonClientPolicyUrisItems.yaml
    ClientRegistrationUpdateApiResponse200JsonClientClientUrisItems:
      $ref: en/ClientRegistrationUpdateApiResponse200Json/ClientRegistrationUpdateApiResponse200JsonClient/ClientRegistrationUpdateApiResponse200JsonClientClientUrisItems.yaml
    ClientRegistrationUpdateApiResponse200JsonClientAttributesItems:
      $ref: en/ClientRegistrationUpdateApiResponse200Json/ClientRegistrationUpdateApiResponse200JsonClient/ClientRegistrationUpdateApiResponse200JsonClientAttributesItems.yaml
    ClientRegistrationUpdateApiResponse200JsonClientExtension:
      $ref: en/ClientRegistrationUpdateApiResponse200Json/ClientRegistrationUpdateApiResponse200JsonClient/ClientRegistrationUpdateApiResponse200JsonClientExtension.yaml
    ClientRegistrationUpdateApiResponse400Json:
      $ref: en/ClientRegistrationUpdateApiResponse400Json.yaml
    ClientRegistrationUpdateApiResponse401Json:
      $ref: en/ClientRegistrationUpdateApiResponse401Json.yaml
    ClientRegistrationUpdateApiResponse403Json:
      $ref: en/ClientRegistrationUpdateApiResponse403Json.yaml
    ClientRegistrationUpdateApiResponse500Json:
      $ref: en/ClientRegistrationUpdateApiResponse500Json.yaml
    ClientRegistrationDeleteApiRequestBodyJson:
      $ref: en/ClientRegistrationDeleteApiRequestBodyJson.yaml
    ClientRegistrationDeleteApiRequestBodyJsonAllOf0:
      $ref: en/ClientRegistrationDeleteApiRequestBodyJson/ClientRegistrationDeleteApiRequestBodyJsonAllOf0.yaml
    ClientRegistrationDeleteApiResponse200Json:
      $ref: en/ClientRegistrationDeleteApiResponse200Json.yaml
    ClientRegistrationDeleteApiResponse200JsonClient:
      $ref: en/ClientRegistrationDeleteApiResponse200Json/ClientRegistrationDeleteApiResponse200JsonClient.yaml
    ClientRegistrationDeleteApiResponse200JsonClientClientNamesItems:
      $ref: en/ClientRegistrationDeleteApiResponse200Json/ClientRegistrationDeleteApiResponse200JsonClient/ClientRegistrationDeleteApiResponse200JsonClientClientNamesItems.yaml
    ClientRegistrationDeleteApiResponse200JsonClientDescriptionsItems:
      $ref: en/ClientRegistrationDeleteApiResponse200Json/ClientRegistrationDeleteApiResponse200JsonClient/ClientRegistrationDeleteApiResponse200JsonClientDescriptionsItems.yaml
    ClientRegistrationDeleteApiResponse200JsonClientLogoUrisItems:
      $ref: en/ClientRegistrationDeleteApiResponse200Json/ClientRegistrationDeleteApiResponse200JsonClient/ClientRegistrationDeleteApiResponse200JsonClientLogoUrisItems.yaml
    ClientRegistrationDeleteApiResponse200JsonClientTosUrisItems:
      $ref: en/ClientRegistrationDeleteApiResponse200Json/ClientRegistrationDeleteApiResponse200JsonClient/ClientRegistrationDeleteApiResponse200JsonClientTosUrisItems.yaml
    ClientRegistrationDeleteApiResponse200JsonClientPolicyUrisItems:
      $ref: en/ClientRegistrationDeleteApiResponse200Json/ClientRegistrationDeleteApiResponse200JsonClient/ClientRegistrationDeleteApiResponse200JsonClientPolicyUrisItems.yaml
    ClientRegistrationDeleteApiResponse200JsonClientClientUrisItems:
      $ref: en/ClientRegistrationDeleteApiResponse200Json/ClientRegistrationDeleteApiResponse200JsonClient/ClientRegistrationDeleteApiResponse200JsonClientClientUrisItems.yaml
    ClientRegistrationDeleteApiResponse200JsonClientAttributesItems:
      $ref: en/ClientRegistrationDeleteApiResponse200Json/ClientRegistrationDeleteApiResponse200JsonClient/ClientRegistrationDeleteApiResponse200JsonClientAttributesItems.yaml
    ClientRegistrationDeleteApiResponse200JsonClientExtension:
      $ref: en/ClientRegistrationDeleteApiResponse200Json/ClientRegistrationDeleteApiResponse200JsonClient/ClientRegistrationDeleteApiResponse200JsonClientExtension.yaml
    ClientRegistrationDeleteApiResponse400Json:
      $ref: en/ClientRegistrationDeleteApiResponse400Json.yaml
    ClientRegistrationDeleteApiResponse401Json:
      $ref: en/ClientRegistrationDeleteApiResponse401Json.yaml
    ClientRegistrationDeleteApiResponse403Json:
      $ref: en/ClientRegistrationDeleteApiResponse403Json.yaml
    ClientRegistrationDeleteApiResponse500Json:
      $ref: en/ClientRegistrationDeleteApiResponse500Json.yaml
    BackchannelAuthenticationApiRequestBodyJson:
      $ref: en/BackchannelAuthenticationApiRequestBodyJson.yaml
    BackchannelAuthenticationApiRequestBody:
      $ref: en/BackchannelAuthenticationApiRequestBody.yaml
    BackchannelAuthenticationApiResponse200Json:
      $ref: en/BackchannelAuthenticationApiResponse200Json.yaml
    BackchannelAuthenticationApiResponse200JsonScopesItems:
      $ref: en/BackchannelAuthenticationApiResponse200Json/BackchannelAuthenticationApiResponse200JsonScopesItems.yaml
    BackchannelAuthenticationApiResponse200JsonScopesItemsDescriptionsItems:
      $ref: en/BackchannelAuthenticationApiResponse200Json/BackchannelAuthenticationApiResponse200JsonScopesItems/BackchannelAuthenticationApiResponse200JsonScopesItemsDescriptionsItems.yaml
    BackchannelAuthenticationApiResponse200JsonScopesItemsAttributesItems:
      $ref: en/BackchannelAuthenticationApiResponse200Json/BackchannelAuthenticationApiResponse200JsonScopesItems/BackchannelAuthenticationApiResponse200JsonScopesItemsAttributesItems.yaml
    BackchannelAuthenticationApiResponse200JsonAuthorizationDetails:
      $ref: en/BackchannelAuthenticationApiResponse200Json/BackchannelAuthenticationApiResponse200JsonAuthorizationDetails.yaml
    BackchannelAuthenticationApiResponse200JsonAuthorizationDetailsElementsItems:
      $ref: en/BackchannelAuthenticationApiResponse200Json/BackchannelAuthenticationApiResponse200JsonAuthorizationDetails/BackchannelAuthenticationApiResponse200JsonAuthorizationDetailsElementsItems.yaml
    BackchannelAuthenticationApiResponse200JsonServiceAttributesItems:
      $ref: en/BackchannelAuthenticationApiResponse200Json/BackchannelAuthenticationApiResponse200JsonServiceAttributesItems.yaml
    BackchannelAuthenticationApiResponse200JsonClientAttributesItems:
      $ref: en/BackchannelAuthenticationApiResponse200Json/BackchannelAuthenticationApiResponse200JsonClientAttributesItems.yaml
    BackchannelAuthenticationApiResponse200JsonDynamicScopesItems:
      $ref: en/BackchannelAuthenticationApiResponse200Json/BackchannelAuthenticationApiResponse200JsonDynamicScopesItems.yaml
    BackchannelAuthenticationApiResponse200JsonGrant:
      $ref: en/BackchannelAuthenticationApiResponse200Json/BackchannelAuthenticationApiResponse200JsonGrant.yaml
    BackchannelAuthenticationApiResponse200JsonGrantScopesItems:
      $ref: en/BackchannelAuthenticationApiResponse200Json/BackchannelAuthenticationApiResponse200JsonGrant/BackchannelAuthenticationApiResponse200JsonGrantScopesItems.yaml
    BackchannelAuthenticationApiResponse200JsonGrantAuthorizationDetails:
      $ref: en/BackchannelAuthenticationApiResponse200Json/BackchannelAuthenticationApiResponse200JsonGrant/BackchannelAuthenticationApiResponse200JsonGrantAuthorizationDetails.yaml
    BackchannelAuthenticationApiResponse200JsonGrantAuthorizationDetailsElementsItems:
      $ref: en/BackchannelAuthenticationApiResponse200Json/BackchannelAuthenticationApiResponse200JsonGrant/BackchannelAuthenticationApiResponse200JsonGrantAuthorizationDetails/BackchannelAuthenticationApiResponse200JsonGrantAuthorizationDetailsElementsItems.yaml
    BackchannelAuthenticationApiResponse400Json:
      $ref: en/BackchannelAuthenticationApiResponse400Json.yaml
    BackchannelAuthenticationApiResponse401Json:
      $ref: en/BackchannelAuthenticationApiResponse401Json.yaml
    BackchannelAuthenticationApiResponse403Json:
      $ref: en/BackchannelAuthenticationApiResponse403Json.yaml
    BackchannelAuthenticationApiResponse500Json:
      $ref: en/BackchannelAuthenticationApiResponse500Json.yaml
[...]
